[2012-05-17 14:22] dmfrey opened #1 "Implement Recording HTTP Live Streaming"
Implement appropriate list activities and view for displaying http live stream in the app.

Appropriate controls should be in place for Play/Pause/Stop.

Live Streams should be cleaned up on the MythTV Master Backend

[2012-05-17 14:26] dmfrey opened #2 "Implement Preliminary Frontend Remote Control"
Utilize Zeroconf to obtain a list of Frontends on the Home Network.

Display currently selected frontend with means to easily switch between all frontends

Provide basic remote control functionality where actions are directed at the current selected frontend

[2012-05-17 14:35] dmfrey opened #3 "Implement Playback Profile Preferences"
Follow similar preferences for setting up home and away profiles

Allow respective Playback profiles to be selected as default for both home and away profiles

add 3 playback profiles for both home and way: Small, Medium, Large

Generate default profiles for all three profiles with respect to the http://developer.android.com/guide/appendix/media-formats.html

Large should be set to the max capabil

[2012-05-17 14:37] dmfrey opened #4 "Implement Location-based Profiles"
Allow users to select between Home and Away location types. - COMPLETE

Implement Android Preferences for managing Home and Away profiles. - COMPLETE

Provide a Location Dashboard for selecting Location Profile. - COMPLETE

Obtain and implement appropriate artwork for the dashboard items

[2012-05-17 14:45] dmfrey opened #5 "Implement ViewPager for Swiping between DVR and Multimedia Dashboards"

[2012-05-17 14:45] #5 closed, assigned to dmfrey

[2012-05-17 14:46] dmfrey opened #6 "Map Myth Services API - Content Web Services"

[2012-05-17 14:47] dmfrey opened #7 "Map Myth Services API - Channel Web Services"

[2012-05-17 14:47] dmfrey opened #8 "Map Myth Services API - Frontend Web Services"

[2012-05-17 14:47] dmfrey opened #9 "Map Myth Services API - Video Web Services"

[2012-05-17 14:47] dmfrey opened #10 "Map Myth Services API - DVR Web Services"

[2012-05-17 14:48] dmfrey opened #11 "Map Myth Services API - Capture Web Services"

[2012-05-17 14:49] dmfrey opened #12 "Map Myth Services API - Guide Web Services"

[2012-05-17 14:49] dmfrey opened #13 "Map Myth Services API - Myth Web Services"

[2012-05-17 14:50] #4 closed, assigned to dmfrey

[2012-05-17 14:51] dmfrey opened #14 "Implement Program Groups and Recordings fragments"

[2012-05-17 15:00] #14 closed, assigned to dmfrey

[2012-05-24 00:54] #12 closed, assigned to dmfrey

[2012-05-24 00:54] dmfrey commented on #12
api implementation has been added

[2012-05-24 00:56] dmfrey commented on #6
content api implementation added

[2012-05-24 00:56] #6 closed, assigned to dmfrey

[2012-05-24 00:57] dmfrey commented on #11
capture api implementation added

[2012-05-24 00:57] #11 closed, assigned to dmfrey

[2012-05-24 00:58] #3 closed, assigned to dmfrey

[2012-05-24 14:31] dmfrey commented on #10
Completed implementation of DVR api

[2012-05-24 14:31] #10 closed, assigned to dmfrey

[2012-05-24 14:32] dmfrey opened #15 "Map Myth Services API - Channel Web Services"

[2012-06-01 03:43] tgm4883 opened #16 "Prefs screen has a typo under Away Profiles"
Under the Away Profiles it says "Modify your home profile settings". Appears to be a simple copy and paste error.

[2012-06-09 08:18] Prefect47 opened #17 "NullPointerException when starting playback"
I often get the NullPointerException dialog every time I start a recording. Have to force stop the app to play another one.

Best guess is that it happens if the MythTV activity has died and I go back into the recordings list to start playback.

[2012-06-09 08:39] Prefect47 opened #18 "More transcoder options"
It would be nice to be able to configure playback profiles with cropping (for recordings with black bars).

And to be able to switch playback profile easier. Not that it's all that hard right now of course, but you should maybe be able to reach the prefs screen from the recordings list?

[2012-06-09 08:44] Prefect47 opened #19 "Recording playback choppy"
I get pauses in playback that seem to be around every second, but only the video, not the audio. Maybe it's a problem on the server side (transcoding) but I don't see it if I play the same stream in the backend web interface on another computer.

For some recordings I also see a bleeding effect when this happens - everything bleeds a bit downwards right before the small pause, and when it comes ba

[2012-06-09 08:48] Prefect47 opened #20 "Exception (TEST) when entering recordings list"
I get a dialog saying "Exception - TEST" whenever I enter the recordings list for the first time since the app has been stopped.

[2012-06-09 08:56] Prefect47 opened #21 ""Unfortunately, MythTV has stopped" when rotating"
0) Keep the phone in portrait mode until step 5.
1) Enter recordings
2) Start playback
3) Press back before the "preparing" dialog has disappeared.
4) Wait until the list reappears.
5) Rotate your phone to landscape.

I've also got the error repeatingly with no chance to press back with some combination of playback, phone rotation, and quickly pressing back before playback starts. The recodings li

[2012-06-11 17:36] #16 closed, assigned to dmfrey

[2012-06-11 17:36] dmfrey commented on #16
fixed the text

[2012-06-11 17:40] #20 closed, assigned to nobody

[2012-06-11 17:40] rhpot1991 commented on #20
This should be gone, it never existed in the code base just in a test apk.

[2012-06-11 17:41] rhpot1991 commented on #19
What video player are you using?  If using the default try something else like bsplayer lite.

[2012-06-11 17:43] dmfrey commented on #18
I will have to review the myth service api for initiating a live stream to see if it accept crop settings and such.

I will also see about placing a subset of preferences on the recordings page.

[2012-06-11 17:44] rhpot1991 commented on #18
It actually only passes the height in for the API call, so the width is calculated based on the aspect ratio by the backend.

[2012-06-11 17:44] dmfrey commented on #17
Which player are you using?  The default one in Android is not great.  We have been testing with BS Player Lite.

[2012-06-11 17:48] dmfrey commented on #19
Can you also add which playback profile you are using.  Also, some hardware specs on your backend may be helpful.  Thanks.

[2012-06-11 17:50] dmfrey commented on #18
@rhpot1991 added a number of options for playback profile choices.  Do you want more options than what is in there.  You could also adjust the settings on some of the existing ones as well to try out other settings.

[2012-06-11 17:52] dmfrey commented on #21
@Prefect47 is this happening in the default player or one of the external players?  I believe I have run a stream on bs player lite and rotated it with no issue.  If you are using an external player, then it might be an issue with that player.  I would try another player just to be sure. Thanks.

[2012-06-11 17:53] rhpot1991 commented on #1
Completed

[2012-06-11 17:53] #1 closed, assigned to rhpot1991

[2012-06-11 17:56] dmfrey commented on #15
Duplicate of #7

[2012-06-11 17:56] #15 closed, assigned to dmfrey

[2012-06-12 14:59] rhpot1991 commented on #21
@dmfrey Sounds like an issue with onResume in the recordings page.

[2012-06-12 17:08] zarthan opened #22 "Logitech Revue (Google TV)"
The App installs and launches. Only an away profile shows on the initial screen. My Samsung SII displays a home and an away without configuring anything.

Adding a profile the backend address is displayed in the backend address text box (http://192.168.111.15:6544/ ) I enter a name for the profile and click save. I get an "invalid MythTV Master Backend Address" popup. A scan network gives me a for

[2012-06-12 18:05] dmfrey commented on #21
@rhpot1991 i will look into it

[2012-06-13 08:47] yunosh opened #23 "Forced Close while loading recordings"
If going to recordings, a few seconds after the spinner starts, I get a FC and am dumped back to the start screen.

[2012-06-13 13:32] dmfrey commented on #23
@yunosh  what phone/tablet are you using?  What version of android?  Would it be possible to get a logcat of your exceptions and email it to me?

[2012-06-13 13:35] dmfrey commented on #22
@zarthan It is my plan to get it on google tv as well.  I have 2 of them and would love for this to work.  I will address google tv in due time.  I believe I need to add some extra libraries to support google tv.

Btw, how are you installing it on a google tv?  just putting the apk on a usb stick? downloading it from the site right on the google tv?  Do you have to enable any android development m

[2012-06-13 16:21] zarthan commented on #22
On Wed, Jun 13, 2012 at 8:35 AM, Daniel Frey <
reply@reply.github.com

The first time I installed the app I added it to Dropbox from my PC and
then opened it from the Dropbox app on GTV. The second time I downloaded it
using Chrome and installed directly. I needed to uninstall the first one
before I could install the one from Git because GTV detected a signature
change. I have install from Unknown

[2012-06-13 16:55] dmfrey commented on #19
@Prefect47 sorry, forgot to tag you in this so you get alerted to the comments above.

[2012-06-19 00:18] vendion opened #24 "Apk not found"
Hi not sure if this is a Github issue or not, my point is somewhat of an FYI but downloading the API from https://github.com/MythTV-Android/mythtv-for-android/downloads fails with "File not found".  If the latest builds are hosted else where a link would be nice.

[2012-06-20 02:17] sherzberg opened #25 "Abstract out the MythTV Api Services"
EDIT:

Would you guys be willing to separate out the API Services to a separate jar by either moving the source to another git repo? Or perhaps refactor all of the code to use a maven module for the android source and a maven module for the api service code? I would be more then willing to help.

[2012-06-27 14:09] vendion commented on #24
Just tried today and was able to get it to download

[2012-06-27 14:09] #24 closed, assigned to nobody

[2012-06-28 03:09] dmfrey commented on #25
@whelmingbytes it is on the list of things to do.  The project originally started as a maven project,  but there were issues getting it working in environments other than my own. If you like,  feel free to take a stab at abstracting the myth services api out and do a pull request to get the changes applied. We would want to add the new api project into this github organization. Let me know what yo

[2012-06-28 13:58] dmfrey commented on #25
@whelmingbytes also, one of the tasks is to create unit tests for all these apis.  I want to be able to test the apis directly, the apis as a part of the new content provider services i have been adding.

There will also be a need to add ETag support as well as GZip compression.  I previously added gzip, but it had some issues in one of the support libraries i was using.  I believe that has been r

[2012-06-29 16:04] dmfrey commented on #23
@yunosh can you try it again with the new dowload i placed out there today?  Also, post your phone/tablet and android version.  If all is well, please close the issue.

Thanks.

[2012-06-29 16:05] dmfrey commented on #18
@Prefect47 are the playback options satisfactory?  If so, please close the issue.

Thanks.

[2012-07-01 06:24] bazzawill opened #26 "Recordings start to play then stop"
When I select a recording it start to play then stops and goes back a blank screen of the mythtv app. I have tried this with both the stock android player and mx player. BS player comes up loading forever.

I have a htc desire running ics

and I am using a dvb-t card

[2012-07-02 08:29] Prefect47 commented on #19
Sorry for the late reply, but I finally have time now that my vacation has started :)

The latest version (2012-06-30) seems to work much better. But only in BSPlayer with SW decoding (or BSPlayers accelerated decoding). The effect I saw is gone but in the native player and MXPlayer playback is choppy, though only visible as dropped frames.

My backend is an i7 so no problems with transcoding powe

[2012-07-02 08:32] Prefect47 commented on #18
They are appreciated. :)

If the API doesn't support it then nothing much can be done, so I'm clising this issue.

[2012-07-02 08:32] #18 closed, assigned to rhpot1991

[2012-07-02 08:39] Prefect47 commented on #19
Spoke too soon. The effect still happens but only in the 720p profile. If I use the default 540p profile video is smooth in BSPlayer.

[2012-07-02 08:40] Prefect47 commented on #17
Didn't see this when I played around now so I'm closing the issue.

[2012-07-02 08:40] #17 closed, assigned to nobody

[2012-07-02 08:42] Prefect47 opened #27 "Recordings won't play after changing playback profile"
If I have played a recording using 720p and then try to play the same with 540p, it plays for less than one second and then exits. The same happens with the profiles the other way around.

I'm using the 2012-06-30 apk and BSPlayer lite.

This may be an API issue.

[2012-07-02 08:45] Prefect47 opened #28 "Feature request: time stretch and seeking"
Don't know if the API supports it, but time stretch and seeking would be two killer features. :)

[2012-07-03 13:24] sherzberg commented on #25
@dmfrey I started work on it, but ran into some maven-android-plugin issues. I posted about it here: https://groups.google.com/forum/?fromgroups#!topic/maven-android-developers/LUXvzIvw-Qs to see if I could get some help. I was thinking that maybe it was due to the api services jar was dependent on android for logging.

Just to confirm, you want a new git repo for the api services? That may make i

[2012-07-03 14:16] dmfrey commented on #25
@whelmingbytes yes, I figure we can create a new git repo housed along side the main application.  I can create one here, or you might be able to transfer yours over to this github organization.  Keep one place for anyone to access either the lib or main application.

If the logging dependency becomes a problem, feel free to remove it.  Could probably replace it with just java.logging.

[2012-07-03 18:40] dmfrey commented on #28
@Prefect47 unfortunately, they do not support that at this time.  I asked in irc and they mentioned it would be a good feature, but no estimate on when they plan to implement it.  I would love this as well.

[2012-07-03 18:40] #28 closed, assigned to nobody

[2012-07-04 00:10] pla1 opened #29 "Possible BSPlayer crash on Samsung Galaxy Nexus"
Built from source.

Attempting to playback NBC Nightly News. BSPlayer appears to crash. Check my LogCat around 07-03 20:00:26.163: A/libc(1650): Fatal signal 11 (SIGSEGV) at 0xdeadbaad (code=1).

Samsung Galaxy Nexus LogCat - https://docs.google.com/open?id=0B_WwphlQixTbUkZHTXhpOElfVDg

[2012-07-04 00:46] pla1 commented on #29
Samsung Galaxy Tab has the same behavior.

Samsung Galaxy Tab LogCat - https://docs.google.com/open?id=0B_WwphlQixTbYVpDRkhaZ1FMQWs (UPDATED link - removed some work related log entries)

[2012-07-05 15:48] dmfrey commented on #29
@pla1 do you have the correct bsplayer plugin for your devices?  My galaxy tab has no issues playing the videos.  One other thing to check...is it happening on all videos, or just that one?

Now that I think about it, i think there were a few kids shows that it would happen to as well, but it wasn't for everything.

Does the mythtv for android app appear to be failing or is it just bsplayer lite?

[2012-07-05 15:49] dmfrey commented on #25
@whelmingbytes One more thing to note, be sure to do regular pulls as I am still modifying some of those api calls.

[2012-07-05 16:32] pla1 commented on #29
@dmfrey My Samsung Tab was working. I have the BSPlayer FREE with the BSPLayer Armv7 VFP CPU support plug-in installed on both the tab and the Galaxy Nexus. I removed the Arm7 plug-in on the Galaxy Nexus to see if that had something to do with it but I still can't play any videos. Unfortunately BS Player is the only game in town. I will do some more troubleshooting this weekend and let you know ho

[2012-07-05 16:51] pla1 commented on #29
@dmfrey I think it is a BSPlayer issue. To troubleshoot I changed BSPlayer decoding modem from HW decoding. I tried both SW decoding and System HW decoding. BSPlayer did not crash. I did not play the video either but it didn't crash. I am on BSPlayer lite version 1.3.126. What version of BSPlayer do you have?

[2012-07-06 20:07] dmfrey commented on #29
@pla1 actually, there is a commit downstream in myth backend that broke HLS for the time being.

[2012-07-06 20:16] dmfrey commented on #27
@Prefect47 it has come to our attention that HLS is broken currently in the myth backend.  That may be causing the issue you are referring to.  There has been a lot of chatter on the mailing lists regarding this issue lately.

[2012-07-06 20:18] dmfrey commented on #19
@Prefect47 when HLS is fixed in myth backend, can you try HLS through the web player and something like vlc?  Do you experience the same choppiness?

[2012-07-06 20:27] pla1 commented on #29
@dmfrey OK. Thanks for the heads-up.

[2012-07-07 14:49] pla1 commented on #29
As a side note I can playback MythTV recordings via BubbleUPnP and BSPlayer on my Samsung Galaxy Nexus. Here is a screenshot of Jimmy Fallon. https://docs.google.com/open?id=0B_WwphlQixTbTnVKRERId05POU0

[2012-07-07 15:56] dmfrey commented on #29
Bsplayer is a general purpose media player.

The upper server on myth backend doesn't appear to have been affected by
the HLS bug.
On Jul 7, 2012 10:49 AM, "Patrick L Archibald" <
reply@reply.github.com>
wrote:

[2012-07-11 01:04] MarcT opened #30 "Episodes are displayed in alphabetical order."
Episodes should be displayed in one of 2 ways. Recorded date, or via season/episode based on metadata.
Preferred option would be to display in season/episode order.

[2012-07-11 13:14] dmfrey commented on #30
@MarcT The program groups are in alphabetical order, just like the Watch Recordings are listed in a Mythtv Fronted.  The episodes themselves are ordered newest recorded to oldest recorded.  If this is insufficient, please explain why the other way is preferable.

[2012-07-14 04:07] MarcT commented on #30
Shows are listed alphabetically yes, but sometimes incorrectly so. I will be creating a new bug for articles at the start of show names placing shows in incorrect positions in the show list.
This issue is that the recorded episodes for a show are not displayed in recorded order, or even reverse recorded order.
For example, For The Mentalist I have 4 recorded shows:
On April 26th I recorded Ruby Sl

[2012-07-14 04:14] MarcT opened #31 "Shows that start with articles are incorrectly sorted in show list."
Per MythFrontend and MythWeb, "The Big Bang Theory" should be listed between "Anger Management" and "Bones", and "The Mentalist" should be between "House" and "NCIS". Instead MythTV for Android displays "South Park", "The Big Bang Theory", "The Mentalist", and then "White Collar".
When sorting shows that start with an article, "A", "An", or "The", the first letter of the word following the article

[2012-07-14 04:24] MarcT commented on #30
An example of a long running show that I am not caught up on is CSI: NY. I have not watched Season 8 yet and have a bunch of backdated recordings. For some reason Myth recorded 8x09 on June 22nd when the original air date was Dec 02. I do not know it is out of order when looking in MythTV for Android. Placing this show in the correct position by metadata would be better than leaving it in order of

[2012-07-18 12:44] dmfrey commented on #29
This issue should be resolved now due to backend bug fix

[2012-07-18 12:44] #29 closed, assigned to nobody

[2012-07-18 12:45] dmfrey commented on #27
@Prefect47 Can you try this again with the latest development build and provide any feedback.  If there is no further issue, please close the issue.  Thanks,

[2012-07-18 12:54] pla1 commented on #29
@dmfrey Great. I'll give it a shot tonight on my Nexus 7. Thanks, PLA

[2012-07-18 13:23] #31 closed, assigned to nobody

[2012-07-18 13:39] #30 closed, assigned to nobody

[2012-08-06 16:18] tafypz commented on #25
I created a repository using your code and keeping only the service api portion. The only thing I modified is the logging in AbstractOperations to use java.util.logging.Logger instead of android.util.Log directly. There are 2 branches, master is android based (android spring framework); "java" is J2SE based and uses the J2SE 7 spring framework libraries ...
Feel free to use it anyway you want.
I a

[2012-08-06 16:23] dmfrey commented on #25
@tafypz Thank you for this.  Can you contribute it to our github repository?  I think we can create a separate repo just for this in here so we can keep everything in one place.

Also, have you kept your code up to date with any recent changes we made to the services api?

[2012-08-06 16:26] tafypz commented on #25
the code is up to date as of  last night, so it is exactly the same as what you have (not counting the logging change)...
I can contribute that to your github repo, would you like me to do a transfer ?

[2012-08-06 16:28] dmfrey commented on #25
That would be great if you could transfer it over.  I will add you to the project if you like as well.

[2012-08-06 16:35] tafypz commented on #25
sure you can add me to the project, I am planning on doing the MythTV GoogleTV integration (like what dish network has)  via their "device controller API" as soon as they make the API public...

[2012-08-06 16:37] dmfrey commented on #25
@tafypz actually, one of the goals we have is make this app available on googletv as well as phones and tablets.  This would be great if we can all base off of a single code base and reach all platforms.

[2012-08-06 16:37] tafypz commented on #25
sounds like a plan to me

[2012-08-06 16:39] dmfrey commented on #25
I think i need your email address in order to add you to the team. can you send it to me at gmail?

[2012-08-06 16:50] tafypz commented on #25
Thanks, i transferred the repository
On Aug 6, 2012 12:39 PM, "Daniel Frey" <
reply@reply.github.com>
wrote:

[2012-08-07 01:23] #25 closed, assigned to nobody

[2012-08-14 14:37] bthule commented on #22
The Revues cannot play MPEG-2.  That's not an issue if you transcode your recordings, but I personally don't like transcoding, it's time consuming and wastes energy (unless you are going to watch the transcoded video a bunch of times).

The Sony Google TV units do play MPEG-2, and I bought one and using the Avia media player, the picture quality is very good(-- but the interface and controls are l

[2012-08-18 14:44] jesseosby opened #32 "Feature request: resume playback from bookmark"
Great app!  I was able to get it working on my Nexus tablet with no issues.  Any chance of having it set/resume bookmarks like the regular frontend on a PC does?

That is, it'd be great if I could watch half of a show on my PC, set a bookmark where I stopped, then switch over to your app on my tablet and have it resume where I left off - and then optionally set a new bookmark if I stopped watching

[2012-08-21 19:31] dmfrey commented on #32
@jesseosby I would love to add this, unfortunately, at this time the Myth Services API does support it. I believe they are considering this and honoring comm flags as well for a future release.  When they add this support, we will add the capability to the app.  Thanks.

[2012-08-21 19:31] #32 closed, assigned to nobody

[2012-09-03 17:56] brianjmurrell opened #33 "updated apk?"
I wonder if there is any chance of getting an updated apk  on the download site.  A nightly building process would be the cat's ass

[2012-09-03 18:03] hobbes1069 opened #34 "Exception with my Samsung Galaxy SII"
Works for browsing recording, but when I pick one I get the following:

Exception
org.springframework.web.client.HttpClientErrorException: 404 Not Found

[2012-09-05 13:46] dmfrey commented on #33
@brianjmurrell I hope to be putting one out soon.  There has been some other work going on that i didn't want to disrupt or put out prematurely.  I will look into a nightly build process on github (not sure if that is possible).

[2012-09-05 13:47] dmfrey commented on #34
@hobbes1069 do you have a full stacktrace that shows which url you are attempting to access that isn't found?  Also, are you using the latest apk or building from source?

[2012-09-07 03:08] hobbes1069 commented on #34
I just tried the latest apk and also installed BS Player. This time I got something to the effect of "Error opening GetFile."

How would I go about getting the full stacktrace?

[2012-09-09 00:23] vendion opened #35 "App forces use of internal player"
Using the latest apk when I select a recording to watch using my Xoom running Jelly Bean playback automatically starts in the internal player without prompting if I want it opened with a different player, I also have mxplayer which worked well with the last apk.

[2012-09-09 14:35] #33 closed, assigned to nobody

[2012-09-09 14:36] dmfrey commented on #34
@hobbes1069 looking into this.  I think this is an issue on the backend.

[2012-09-09 14:39] dmfrey commented on #35
@vendion On my htc one x running ICS, if I swipe down the status bar and select settings, I get an option called "App Associations" where I can edit the Streaming Media Link.  Mine is currently set to BS Player. You should be able to change it there.

The app does not try to set a default player.

[2012-09-09 17:05] vendion commented on #35
I do not see that on my Xoom nor my Nexus S running Cyanogenmod 9.1 (ICS
based).  The app used to pop up a system prompt asking what app I want the
video playback done in and that is where I can set the default app which is
still handled by the OS.
On Sep 9, 2012 10:39 AM, "Daniel Frey" notifications@github.com wrote:

[2012-09-09 20:53] hobbes1069 commented on #34
I'm running  a pretty recent 0.25.2 build (I'm the RPM Fusion MythTV maintainer). Should I update to the lastest 0.25/fixes?

[2012-09-12 13:00] dmfrey commented on #34
@hobbes1069  I have run into this issue as well.  It may be related to the backend, not the app.  Will let you know when I know further.

[2012-09-12 13:47] dmfrey commented on #35
@vendion the app was never doing that explicitly.  That is handled by the OS.  The app has no knowledge of any other apps installed on your devices.  When I execute an activity that requires an external app, and there are more than one installed, the OS will prompt you for which player you want to use.  There should be a way to specify what your default apps are.  Maybe google 'specify default app

[2012-09-27 00:50] dmfrey opened #36 "First Time Users - Click Home, kick off scan for mythtv backend"
When a new users launches the app for the first time, and the user clicks the Home button, and no home profiles are created, kick off a zeroconf scan and auto configure the backend.

[2012-09-27 01:56] tgm4883 opened #37 "recording screen needs work on tablet (landscape mode)"
The recording screen needs some work in landscape mode on tablets. It attempts to take advantage of this extra space by doing a dual pane, but the banners take too much space (width) so it looks a bit left heavy and leaves very little space for the actual episode info.

IMO, a better solution would be to use dual panes, but in the left pane show the show coverart and the right pane could show "epi

[2012-09-27 02:01] tgm4883 opened #38 "Program Guide doesn't swipe to next day"
When swiping late at night, the ProgramGuide will not swipe to the next day (instead it ends at 11:59 PM). While it is simple enough to click the next button to get the next day, this causes two issues.

1) Clicking next to get to the next day takes you back to the current hour it is, rather than the hour you were looking at (or really, the hour you want to look at which would be 12:00 AM)

2) Int

[2012-10-05 15:51] dmfrey commented on #23
@yunosh with the latest development version, are you still seeing this issue?  If you are, please update the ticket.  If not, please close it.

Thank you.

[2012-10-05 18:18] dmfrey commented on #21
@Prefect47 can you check this again with the current development release.  If it is no longer happening, can you close the ticket?

[2012-10-06 03:06] #37 closed, assigned to nobody

[2012-10-07 23:34] dmfrey opened #43 "Google Play Issue - java.lang.NullPointerException in org.mythtv"
java.lang.NullPointerException
at android.app.AlertDialog.resolveDialogTheme(AlertDialog.java:142)
at android.app.AlertDialog$Builder.<init>(AlertDialog.java:359)
at org.mythtv.client.ui.frontends.FrontendsFragment$ScanFrontendsTask.onPostExecute(FrontendsFragment.java:319)
at org.mythtv.client.ui.frontends.FrontendsFragment$ScanFrontendsTask.onPostExecute(FrontendsFragment.java:1)
at android.os.A

[2012-10-07 23:35] #43 closed, assigned to nobody

[2012-10-07 23:37] dmfrey opened #44 "Google Play Issue - java.lang.NullPointerException in org.mythtv"
java.lang.NullPointerException
at org.mythtv.service.dvr.RecordedCleanupService.cleanup(RecordedCleanupService.java:81)
at org.mythtv.service.dvr.RecordedCleanupService.onHandleIntent(RecordedCleanupService.java:67)
at android.app.IntentService$ServiceHandler.handleMessage(IntentService.java:59)
at android.os.Handler.dispatchMessage(Handler.java:99)
at android.os.Looper.loop(Looper.java:130)
at an

[2012-10-07 23:38] #44 closed, assigned to nobody

[2012-10-07 23:39] dmfrey opened #45 "Google Play Issue - java.lang.NullPointerException in org.mythtv"
java.lang.NullPointerException
at org.mythtv.service.guide.ProgramGuideDownloadService.download(ProgramGuideDownloadService.java:102)
at org.mythtv.service.guide.ProgramGuideDownloadService.onHandleIntent(ProgramGuideDownloadService.java:83)
at android.app.IntentService$ServiceHandler.handleMessage(IntentService.java:65)
at android.os.Handler.dispatchMessage(Handler.java:99)
at android.os.Looper.l

[2012-10-07 23:40] #45 closed, assigned to nobody

[2012-10-07 23:45] dmfrey opened #46 "Google Play Issue - java.lang.ClassCastException in org.mythtv"
java.lang.RuntimeException: Unable to start activity ComponentInfo{org.mythtv/org.mythtv.client.ui.setup.capture.CaptureCardsActivity}: android.view.InflateException: Binary XML file line #27: Error inflating class fragment
at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:1956)
at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:1981)
at android.app.Activi

[2012-10-07 23:46] #46 closed, assigned to nobody

[2012-10-07 23:50] dmfrey opened #47 "Google Play Issue - java.lang.NullPointerException in org.mythtv"
java.lang.NullPointerException
at org.mythtv.service.dvr.ProgramGroupRecordedDownloadService.download(ProgramGroupRecordedDownloadService.java:100)
at org.mythtv.service.dvr.ProgramGroupRecordedDownloadService.onHandleIntent(ProgramGroupRecordedDownloadService.java:81)
at android.app.IntentService$ServiceHandler.handleMessage(IntentService.java:65)
at android.os.Handler.dispatchMessage(Handler.jav

[2012-10-07 23:51] #47 closed, assigned to nobody

[2012-10-07 23:57] dmfrey opened #48 "Google Play Issue - android.view.WindowManager$BadTokenException in org.mythtv"
android.view.WindowManager$BadTokenException: Unable to add window -- token android.os.BinderProxy@41dc3230 is not valid; is your activity running?
at android.view.ViewRootImpl.setView(ViewRootImpl.java:585)
at android.view.WindowManagerImpl.addView(WindowManagerImpl.java:326)
at android.view.WindowManagerImpl.addView(WindowManagerImpl.java:224)
at android.view.WindowManagerImpl$CompatModeWrapper.

[2012-10-07 23:58] #48 closed, assigned to nobody

[2012-10-08 00:06] dmfrey opened #49 "Add Callsigns to ProgramGuide"
Add callsign below channel number.

Thinking about adding channel icons as well, if the backend has them.  So think about how we could replace the number and callsign with an image as well.

[2012-10-08 00:07] dmfrey commented on #35
@vendion no update on this issue.  Closing for now. If it is still occurring, please re-open the ticket and update with your current findings.

[2012-10-08 00:07] #35 closed, assigned to nobody

[2012-10-08 00:08] dmfrey commented on #27
@Prefect47 no update on this issue. Closing for now.  If the issue is still occurring, please re-open the ticket and update with your findings.

[2012-10-08 00:08] #27 closed, assigned to nobody

[2012-10-08 00:09] dmfrey commented on #26
@bazzawill can you try this again and update this issue with your findings.  If it is no longer occurring, please close the ticket.

[2012-10-08 00:11] dmfrey commented on #23
@yunosh Closing the issue for now.  If this issue is still occurring, please re-open the issue and update it with your findings.

[2012-10-08 00:11] #23 closed, assigned to nobody

[2012-10-08 00:12] dmfrey commented on #19
@Prefect47 closing the issue for now. If this issue is still occurring for you, please re-open the issue and update with your findings.

[2012-10-08 00:12] #19 closed, assigned to nobody

[2012-10-08 00:13] dmfrey commented on #21
This does not appear to be happening anymore.  If you find this still occurs, please re-open the ticket and update with your findings.

[2012-10-08 00:13] #21 closed, assigned to nobody

[2012-10-08 00:14] dmfrey commented on #34
@hobbes1069 Can you try MX Player and see if this still occurs.  BS Player was causing this for me as well, and now it appears that BS Player HLS support seems to be broken.  I am closing this issue for now, since it is related to a third party app, but if you are still having trouble with it, please re-open the issue and update with your findings.

[2012-10-08 00:14] #34 closed, assigned to nobody

[2012-10-08 00:18] dmfrey commented on #13
Moved to MythTV Services API repository

[2012-10-08 00:18] #13 closed, assigned to dmfrey

[2012-10-08 00:19] #9 closed, assigned to dmfrey

[2012-10-08 00:20] dmfrey commented on #7
Moved to MythTV Services API repository

[2012-10-08 00:20] #7 closed, assigned to dmfrey

[2012-10-08 00:21] dmfrey commented on #2
@pot8oe you can probably close this issue

[2012-10-08 00:21] #8 closed, assigned to dmfrey

[2012-10-08 01:55] drhill commented on #22
Semi-bump to show interest, but I'm also curious about live tv support.  I just downloaded the app on the market for my GNex and Xoom and was able to get recordings working with Dice Player.  But I bought my HDHomerun Prime and Google TV box (Sony blu ray) with the intention of replacing the old ugly cable box one day.  Can't do that without live tv as 90% of what I watch is sports.

Personally I'

[2012-10-08 02:58] ldkronos opened #50 "Guide times are incorrect in 0.26"
Myth 0.26 has switched to using UTC times for recordings. Because of this, the info in the guide is now incorrect. I see midnight showings being listed at 8PM in the app.

Because this behavior differs between myth versions, if you want to maintain compatability with 0.25 then you will need to detect the myth version and have your code adjust it only if on 0.26 and newer.

[2012-10-08 03:02] ldkronos opened #51 "Channels aren't sorted properly in the guide"
In the guide, my channels are only semi-sorted with a small degree of randomness thrown in. I can't quite identify how they are being sorted, but they're neither entirely by channum nor entirely by chanid.

I'm seeing the following channels in my guide (in this order):
32, 3, 10, 14, 16, 18, 20, 2, 4, 5, then it looks like they are mostly (but not completely) in order up to 499, then 8, 29, 31, 37

[2012-10-08 03:11] rhpot1991 commented on #22
Live TV wont be happening any time soon, it is not supported for HLS streaming by MythTV.

[2012-10-08 16:15] hobbes1069 commented on #34
I tried MX but it doesn't seem to want to work. Say something about not being able to play the file. I worked with Chris P. on the Mythtv side and he got my an APK of BS Player that doesn't have the m3u8 loading issue and it now works.

[2012-10-08 16:24] dmfrey commented on #34
On Mon, Oct 8, 2012 at 12:15 PM, Richard notifications@github.com wrote:

Thanks for the update.  Not sure why MX Player isn't working for you.
 Please feel free to close the issue if is no longer a problem.

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-08 17:03] #51 closed, assigned to nobody

[2012-10-09 17:32] hobbes1069 commented on #34
Well I just tried MX Player with the google play store version and now it's working... Go figure.
Looks like it's already closed.

[2012-10-11 12:19] cragon opened #52 "Mythmote part"
The old mythmote had a section called numbers which included 0-9 backspace an enter.  It also included a keyboard input which is ideal for mythnetvision.

Is it possible this could be included into mythmote within the Andriod client?

TIA

[2012-10-11 12:30] pot8oe commented on #52
Yes it can be added. I was trying to make a single screen interface and
excluded the numbers. I'll do a viewpager and put the numbers in a separate
view. Ill have to investigate if the keyboard entry is available through
the services api.

There is always mythmote 1 which will always use the telnet interface. I
plan on giving that a refresh soon and update it to newer android apis.

-Tom
On Oct 11

[2012-10-12 01:05] dmfrey commented on #26
@bazzawill closing this issue for now.  If the issue still persists, please reopen the ticket.

[2012-10-12 01:05] #26 closed, assigned to nobody

[2012-10-14 15:42] dmfrey opened #53 "Google Play Issue - Remove Content Provider from Android Manifest"
android.database.sqlite.SQLiteException: no such table: channel: , while compiling: SELECT CHAN_NUM FROM channel WHERE CHAN_ID = ?
at android.database.sqlite.SQLiteCompiledSql.native_compile(Native Method)
at android.database.sqlite.SQLiteCompiledSql.<init>(SQLiteCompiledSql.java:68)
at android.database.sqlite.SQLiteProgram.compileSql(SQLiteProgram.java:143)
at android.database.sqlite.SQLiteProgra

[2012-10-14 15:42] #53 closed, assigned to nobody

[2012-10-15 12:59] dmfrey opened #54 "Google Play Issue - JodaTime Illegal Instant due to Timezone offset"
java.lang.IllegalArgumentException: Cannot parse "2012-10-21": Illegal instant due to time zone offset transition (America/Sao_Paulo)
at org.joda.time.format.DateTimeParserBucket.computeMillis(DateTimeParserBucket.java:390)
at org.joda.time.format.DateTimeFormatter.parseMillis(DateTimeFormatter.java:742)
at org.joda.time.convert.StringConverter.getInstantMillis(StringConverter.java:65)
at org.joda

[2012-10-15 13:00] dmfrey opened #55 "Google Play Issue - Change master back on wifi state change"
org.springframework.web.client.ResourceAccessException: I/O error: Connection to http://192.168.100.12:6544 refused; nested exception is org.apache.http.conn.HttpHostConnectException: Connection to http://192.168.100.12:6544 refused
at org.springframework.web.client.RestTemplate.doExecute(RestTemplate.java:490)
at org.springframework.web.client.RestTemplate.execute(RestTemplate.java:452)
at org.sp

[2012-10-15 13:00] dmfrey commented on #55
# Google Play User Message

Opening app off home network, but the app opened in a saved state where it had last been used on home network. Returned back through screens, app crashed

[2012-10-15 13:01] dmfrey opened #56 "Google Play Issue - Compare failed"
java.lang.IllegalArgumentException: Comparison method violates its general contract!
at java.util.ComparableTimSort.mergeLo(ComparableTimSort.java:710)
at java.util.ComparableTimSort.mergeAt(ComparableTimSort.java:447)
at java.util.ComparableTimSort.mergeForceCollapse(ComparableTimSort.java:388)
at java.util.ComparableTimSort.sort(ComparableTimSort.java:187)
at java.util.ComparableTimSort.sort(Com

[2012-10-15 13:02] dmfrey commented on #56
# Google Play User Message

when downloading channel info I got a crash. I have lots of channels so is there a limit somewhere ?

[2012-10-15 13:03] dmfrey opened #57 "Google Play Issue - Mythmote scan failed"
java.lang.NullPointerException
at org.mythtv.client.ui.frontends.FrontendsFragment$ScanFrontendsTask.onPostExecute(FrontendsFragment.java:318)
at org.mythtv.client.ui.frontends.FrontendsFragment$ScanFrontendsTask.onPostExecute(FrontendsFragment.java:1)
at android.os.AsyncTask.finish(AsyncTask.java:602)
at android.os.AsyncTask.access$600(AsyncTask.java:156)
at android.os.AsyncTask$InternalHandler.h

[2012-10-15 14:33] dmfrey commented on #56
Issue is due to this changes: http://www.oracle.com/technetwork/java/javase/compatibility-417013.html#source

Moving to MythTV Services API

[2012-10-15 14:33] #56 closed, assigned to nobody

[2012-10-15 14:44] dmfrey commented on #55
Plan:

Construct a new profile helper that when called, will query the selected location profile and, if dependent on wifi, check that wifi exists.  If not, fall back to default away profile.

[2012-10-15 14:57] #2 closed, assigned to pot8oe

[2012-10-16 01:41] pot8oe commented on #57
I wasn't able to recreate but I added protection against null reference for context and AlertDialog used on FrontendsFragment.java:318.

[2012-10-16 01:41] #57 closed, assigned to pot8oe

[2012-10-16 21:00] outlaws42 opened #58 "Retrieving Video"
I can browse my recordings but when I select one to watch.  It just says retrieving Video.  It will do this forever if  I don't  cancel it.   Doesn't give me any kind of error message.   My device is a Samsung Galaxy Player.  I'm Really  looking forward to this app.   Can make cheap android frontends.

Thanks for all the hard work
Guys

[2012-10-17 00:35] dmfrey commented on #58
@outlaws42 Are you running the stock rom or a modded rom on the Samsung Galaxy Player?  What version, etc.

Also, can you tell me a little about your backend?  Have you tried lowering the streaming profile settings?  Also, check your logs to see if there are any errors and post them here if there are.  What version is your mythbackend?

[2012-10-17 07:57] outlaws42 commented on #58
I am using  the stock rom on my galaxy player.  I am running Gingerbrread.
I  set  the video playback setting to the lowest profile with the same results.
Not sure what to tell about the backend. Specs? AMD Athlon 2  2.4GHZ  2GB RAM
I am running .025 on the backend
If need anymore info just let me know

Here is the last few lines of my mythbackend log file when i  would try to play a video in the

[2012-10-17 11:18] dmfrey commented on #58
How up to date is your backend?  This is similar to an issue that was
occurring on the backend a few weeks back.

Also, are you running from the version in the market, building the app
yourself, or the latest download from here?

One more thing, what player are you using?
On Oct 17, 2012 3:57 AM, "Troy Franks" notifications@github.com wrote:

[2012-10-17 11:27] pot8oe commented on #58
Looks like the backend is not serving up the HLS() stream according to the
log.
On Oct 17, 2012 3:57 AM, "Troy Franks" notifications@github.com wrote:

[2012-10-17 20:45] outlaws42 commented on #58
I just updated the backend   yesterday.   I tried to watch a recording this morning  when i posted the log file.
I am running the version from the market.
It never asks what player but i have MX Player Installed

Do you have to do anything to get the backend to serve up the stream. I am running Mythbuntu  12.04.
I can watch my recordings through mythweb  is this a different stream?

[2012-10-17 21:09] dmfrey commented on #58
MX Player has been causing problems lately, much like BS Player is.  Please
try VPlayer or Dice Player.  They seem to work more reliably.

Let me know if that solves your issue.

BTW...HTTP Live Streaming on MythTV is different than watching a video via
mythweb.

On Wed, Oct 17, 2012 at 4:45 PM, Troy Franks notifications@github.comwrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-17 23:17] outlaws42 commented on #58
Neither  of those players solved the problem.    I will do some more googling and see if for some reason there is something  wrong with backend.

[2012-10-20 02:31] billmeek opened #59 "Recordings With No Subtitle Repeat the Title for Every Recording"
On the Recordings screen, "Meet The Press" for example, displays all recordings as
"Meet The Press". I'd suggest it would be more useful to show the date of the show.

Something like this:

<pre>
diff --git a/src/org/mythtv/client/ui/dvr/ProgramGroupFragment.java b/src/org/mythtv/client/ui/dvr/ProgramGroupFragment.java
index 50b4336..60d6bb7 100644
--- a/src/org/mythtv/client/ui/dvr/ProgramGroupFr

[2012-10-20 03:05] pot8oe commented on #59
Good idea to eliminate redundant titles. All times from the backend are in
UTC and need to be converted to local timezone for display.

Thanks,
Tom
On Oct 19, 2012 10:31 PM, "billmeek" notifications@github.com wrote:

[2012-10-20 03:08] dmfrey commented on #59
i am making this change now. The fragment has changed from what is
currently in git.  The data behind this is now stored in the db.  I will
read that timestamp and display it.

On Fri, Oct 19, 2012 at 11:06 PM, Thomas G. Kenny Jr <
notifications@github.com> wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-20 03:21] dmfrey commented on #59
this has been added and will be in the next release.

On Fri, Oct 19, 2012 at 11:08 PM, Daniel Frey dmfrey@gmail.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-20 13:38] #59 closed, assigned to dmfrey

[2012-10-20 21:44] billmeek commented on #59
I built the latest version, however when I go to the recordings screen and select
any recording, the application stops.

Full details here: http://paste.ubuntu.com/1293423/

[2012-10-20 22:19] dmfrey commented on #59
I  have it fixed, but haven't checked it in. Had to go to a wedding :-)

I will put it in tonight. Had a slight issue with the tablet views but it
is fixed now.
On Oct 20, 2012 5:44 PM, "billmeek" notifications@github.com wrote:

[2012-10-20 22:31] billmeek opened #60 "Getting Mythmote to work"
For users failing to get Mythmote to work, I suggest adding text to:

  https://github.com/MythTV-Clients/MythTV-Android-Frontend/blob/master/README

telling users to type mythfrontend --version and make sure that: using_libdns_sd is
enabled (I had avahi enabled, but the Mythmote still didn't work until I added that library
and recompiled.)

[2012-10-20 22:33] dmfrey commented on #60
Bill,

Could you update the readme and issue a pull request on github?

I will merge it in.

Dan
On Oct 20, 2012 6:31 PM, "billmeek" notifications@github.com wrote:

[2012-10-21 00:16] billmeek commented on #60
Dan;

I'd be happy to, however, I've not done it before. I see that if I try to edit the file, a fork of the ?entire? project will be created.  After that I can click on Pull Request.

Is this what you had in mind?

Bill

[2012-10-21 00:17] dmfrey commented on #60
Bill,

Yes, that should be the process.

Dan
On Oct 20, 2012 8:16 PM, "billmeek" notifications@github.com wrote:

[2012-10-21 02:37] dmfrey commented on #59
@billmeek go ahead and do a pull when you can.  Try out the latest change. You should now be able to view the program groups on the tablet.

[2012-10-21 16:33] #60 closed, assigned to nobody

[2012-10-21 22:05] billmeek commented on #50
I ran 0.26 and am now on 0.27-pre and don't have this problem (I'm in UTC-5.)

Is this still an issue? The MythTV Services API Wiki (http://www.mythtv.org/wiki/Services_API#Proper_use_of_APIs) says that all times are returned in UTC. You can verify your backend's response with:

<pre>
 http://yourHostName:6544/Guide/GetProgramGuide?StartTime=2012-10-22T00:00:00&EndTime=2012-10-31T23:59:59&StartCha

[2012-10-21 22:39] dmfrey commented on #50
I upgraded to .26 this morning and checked the program guide specifically
for this issue and have been unable to reproduce it as well.
On Oct 21, 2012 6:05 PM, "billmeek" notifications@github.com wrote:

[2012-10-21 23:10] billmeek commented on #58
I suspect  pot8oe was referring to the last line of your backend file:

<pre>
 HLS(): Command '/usr/bin/mythtranscode --hls --hlsstreamid 48 --verbose general --loglevel info --syslog local7' returned 255
</pre>

mythtranscode either failed to start, or it aborted.  Start a new session and grep for mythtranscode in /var/log/syslog. If it's working, you'll see lines like:

<pre>
... mythtranscode:

[2012-10-22 00:20] ldkronos commented on #50
I'm not seeing this problem any more. I'm not positive how I originally came to the conclusion it was wrong, but I'm betting I was comparing the app's guide to mythweb. I discovered earlier this week that I forgot to upgrade mythweb (thus running 0.26 backend with 0.25 mythweb) and that was causing the times to be wrong in mythweb. So I incorrectly determined it was your app that was wrong, when i

[2012-10-22 01:14] dmfrey commented on #50
@ldkronos Thanks for the update.  I am gonna close the ticket.  If you see anything else let us know.

[2012-10-22 01:14] #50 closed, assigned to nobody

[2012-10-22 16:22] outlaws42 commented on #58
Here is the message i get in my /var/log/mythtv/mythtranscode.log file  when i try to open a video on the App
http://pastebin.com/V0FhSCJS
Not sure what it means but it does seem that mythtranscode is failing.

[2012-10-22 18:10] billmeek commented on #58
Good log, thanks. There are 4 checks made by InitForWrite. The last one would have printed an error message (which isn't there.) Unfortunately, the 1st 3 checks only print errors if '--verbose record' is set. You can change that without restarting the backend by typing: mythbackend --setverbose record. Could you please do that, try to play another recording and post the mythtranscode output again?

[2012-10-22 21:08] outlaws42 commented on #58
Here is the new log
http://pastebin.com/8kwRQgEi
Anything new i can learn I'm up for it  so don't worry if your telling me something I might already know.
Thanks so much for your help.
Troy

[2012-10-22 22:21] billmeek commented on #58
Line 7 in your pastebin is the answer. It says mythtranscode is trying to write to /, which it can't (and never should.) Since /home/mythtv/.mythtv/tmp/hls/... isn't being used, that suggests that there is a Streaming Storage Group built, perhaps automatically by Mythbuntu. Use mythtv-setup to put a valid directory in the Streaming group. A popular choice would be /var/lib/mythtv/streaming and tha

[2012-10-22 22:24] dmfrey commented on #58
Yes, I am not sure why i didn't think of this before.  If you upgraded from
.24 to .25, you needed to manually go in and add this storage group in
mythtv-setup.  However, if you installed .25 fresh, you would not need to
add the directory.

I think we should maybe make note of that in the readme as well.

On Mon, Oct 22, 2012 at 6:21 PM, billmeek notifications@github.com wrote:

##

My Google Prof

[2012-10-22 22:38] outlaws42 commented on #58
I am looking at the Storage Groups in mythsetup and it doesn't have one for streaming.  Can i just create one? and how would know to use it?

I think i did upgrade from .24 but im not sure.

[2012-10-22 22:41] dmfrey commented on #58
I believe it is just called 'streaming'.  Just point it to
/var/lib/mythtv/streaming.  Make sure that you have write access to that
directory.

On Mon, Oct 22, 2012 at 6:38 PM, Troy Franks notifications@github.comwrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-22 22:51] billmeek commented on #58
On 10/22/2012 05:24 PM, Daniel Frey wrote:

Dan;

Is that a Mythbuntu'ism? I've been building from source since 0.24.

Until today, I never had a Streaming Storage Group but it is one of the built in
Storage Groups MythTV uses. It forms the path automatically with either $HOME or
$MYTHCONFDIR + /.mythtv/tmp/hls. Thats where my streaming files were going.

I did add the Streaming group today as a t

[2012-10-22 22:55] dmfrey commented on #58
Bill,

I recall talking to rhpot1991 about it when I was first doing my upgrade.
 After setting it, it wall worked.  Maybe since you were building from
source, it was already being taken care of.  But the traditional upgrade
path via apt-get was not doing this automatically.  Yes, it is a mythbuntu
issue.

Dan

On Mon, Oct 22, 2012 at 6:51 PM, billmeek notifications@github.com wrote:

##

My Googl

[2012-10-22 23:00] outlaws42 commented on #58
Guys that worked.  The app now works great.
Thanks for your help.   I am very grateful. Not only is it fixed but I have learned something.
Thanks again for your help
Troy

[2012-10-22 23:01] billmeek commented on #58
Troy;

I'd like to see if there is another error message regarding the built in Storage Group. Please try:

<pre>
grep "Error: Could not create builtin" /var/log/mythtv/mythbackend.log
</pre>

Did any  lines print? If there's one for Streaming, please post it here.

[2012-10-22 23:02] dmfrey commented on #58
Closes #58

On Mon, Oct 22, 2012 at 7:00 PM, Troy Franks notifications@github.comwrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-22 23:04] outlaws42 commented on #58
This is the return
Oct 22 18:48:46 frankstv mythbackend[20187]: E CoreContext storagegroup.cpp:85 (StaticInit) SG() Error: Could not create builtinStorage Group directory '/home/mythtv/.mythtv/tmp/hls' for 'Streaming'

[2012-10-23 17:15] billmeek commented on #59
A-OK (would have said so earlier but I didn't set-up my github notifications correctly.)

[2012-10-23 17:39] billmeek opened #62 "Green and red show titles in the program guide are hard to read"
I'm running Android 4.0.4 Ice Cream Sandwich on a Samsung Galaxy 10.1 and when I look at the program guide, shows that are marked to record/not record (green/red) are too faint (perhaps too translucent would be more correct) to read. Shows in black or blue are easily read.

I tried (and failed) to change the colors in: src.org.mythtv.client.ui.dvr.GuidePagerFragment.java.

[2012-10-23 18:04] dmfrey commented on #62
I will take a look.

Any preference on color?
On Oct 23, 2012 1:39 PM, "billmeek" notifications@github.com wrote:

[2012-10-23 18:30] billmeek commented on #62
Thanks, this is what I tried to use:
http://developer.android.com/reference/android/R.color.html#holo_green_dark
but I only 'succeed' in build failures or making the title disappear :)

[2012-10-23 18:42] dmfrey commented on #62
what if we invert the colors?  Set text to be white and the background to
be the color?

On Tue, Oct 23, 2012 at 2:30 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-23 18:51] pot8oe commented on #62
That might work. Also we could do a box outline or an indicator icon like
in myth.

-Tom

On Tue, Oct 23, 2012 at 2:42 PM, Daniel Frey notifications@github.comwrote:

[2012-10-23 19:13] billmeek commented on #62
I'd be happy to take both of those ideas our for a test drive on my system.

[2012-10-23 20:09] #62 closed, assigned to nobody

[2012-10-25 07:15] #58 closed, assigned to nobody

[2012-10-28 14:54] liftman opened #64 "Not deleting re encodes"
after play back finishes, the re encoded files are not always removed from the streaming folder or the database.
this happens always when the player crashes from a broken stream.

would be nice if you could manually clean out the db and streaming directory  in the option section.
i manually do this now in mysql with "truncate livestream;"  then manually delete the files

[2012-10-28 14:56] liftman opened #65 "home and away button stop working when you back out to them."
in title

[2012-10-28 14:59] liftman opened #66 "unable to delete original recording"
not really a problem if it has not a feature
would be nice to delete original recording on server after watching a stream.

[2012-10-28 15:40] liftman opened #67 "android 4.1.2 choosing player"
unable to choose player for "always or just once"

[2012-10-28 16:41] dmfrey commented on #64
We are working on a new episode view and "playlist" view that will allow
for this.

Which player are you using.  The ones that seem to be working the best
right now are:
 VPlayer :
https://play.google.com/store/apps/details?id=me.abitno.vplayer.t&feature=nav_result#?t=W251bGwsMSwxLDMsIm1lLmFiaXRuby52cGxheWVyLnQiXQ..
 DicePlayer :
https://play.google.com/store/apps/details?id=com.inisoft.mediaplaye

[2012-10-28 16:42] dmfrey commented on #65
Closes #65

Thank you.  This issue is fixed in git and will be updated on the next
release.

On Sun, Oct 28, 2012 at 10:56 AM, liftman notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-28 16:44] dmfrey commented on #66
This will be included in the new episode view that is coming in the next
release.

On Sun, Oct 28, 2012 at 10:59 AM, liftman notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-28 16:46] dmfrey commented on #67
which players are using?  Which ones are installed on your phone/tablet?

Does it not prompt you the use a player at all?

On Sun, Oct 28, 2012 at 11:40 AM, liftman notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-28 16:46] liftman commented on #64
dice player. this was mostly happening over a mobile or non home wifi-
connection, the connection was slow at times and the player would crap out.
vplayer didnt crap out as much(would buffer).
like the app  ;-)
Thanks

[2012-10-28 16:47] liftman commented on #66
cool cant wait

Thanks
 On Oct 28, 2012 12:44 PM, "Daniel Frey" notifications@github.com wrote:

[2012-10-28 16:53] liftman commented on #67
it does ask for the player, but in android 4.1.2 jelly bean(tablet), the
option to choose a permanent player is not there.   set the default app

Thanks
 On Oct 28, 2012 12:46 PM, "Daniel Frey" notifications@github.com wrote:

[2012-10-28 17:05] dmfrey commented on #67
Sorry, I had to replace that with a different launcher for now as in lesser
versions, it is not always easy to clear out the default selected player
and choose another one.  I might be able to put some checks in for 4.1.2
and above and have them use the default launcher.

On Sun, Oct 28, 2012 at 12:53 PM, liftman notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles

[2012-10-28 17:10] liftman commented on #67
cool
i love the app.
hopefully sometime you will incorporated the ssh and port forwarding into
the mobile choice on the first screen, this would make it wife friendly

Thanks
 On Oct 28, 2012 1:05 PM, "Daniel Frey" notifications@github.com wrote:

[2012-10-28 17:13] dmfrey commented on #67
Thank you.

That thought has crossed my mind.  I did just start using a library at work
that handles sftp.  So could probably use that to also establish a ssh
tunnel.  Will take some more thought, however.

Also, thought of building our own app to do the actually viewing instead of
having to rely on a third party app.

On Sun, Oct 28, 2012 at 1:10 PM, liftman notifications@github.com wrote:

##

M

[2012-10-28 17:22] liftman commented on #67
internal video would be cool but make sure hardware decoding is in it.
i run a moto 4g xoom with latest android releases (eos stingray roms). have
a 8 core, 16g ram backend.
if you need someone to try beta release let me know.

Thanks
 On Oct 28, 2012 1:13 PM, "Daniel Frey" notifications@github.com wrote:

[2012-10-28 17:25] dmfrey commented on #67
I would love it if the internal player was better supported, but
unfortunately, it needs some work.  Plus, prior to Honeycomb, there is no
client available other than a third-party app.

Definitely will let you know about testing.  Thanks.

On Sun, Oct 28, 2012 at 1:23 PM, liftman notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-10-28 20:56] dmfrey commented on #66
Closes #66

This is now implemented as of today

[2012-10-28 20:56] #66 closed, assigned to nobody

[2012-10-28 20:56] #65 closed, assigned to nobody

[2012-10-28 21:10] billmeek opened #68 "When selecting a recording that has no coverart, the previous coverart is displayed."
I've been taking the latest Recordings screen out for a test drive, and understand it to be work-in-progress.

When I select a recording that has no coverart, the coverart displayed from the previous recording remains. All of the text displayed is correct.

There are two short logs here: http://paste.ubuntu.com/1313523/ along with the steps used to produce the condition.

The addition of coverart

[2012-10-28 21:18] dmfrey commented on #68
Do a pull and try it again. This should be fixed as of my last commit.
On Oct 28, 2012 5:10 PM, "billmeek" notifications@github.com wrote:

[2012-10-28 22:10] billmeek commented on #68
Hey Dan;

Now I get no recordings at all, http://paste.ubuntu.com/1313681/ near the bottom, I can see the 'deleted artwork directory' messages. Looking with the 'My Files' app, the 40 directories under org.mythtv cache cache programs are empty.

No worries, I'll just be patient.

Bill

[2012-10-28 22:34] dmfrey commented on #68
Try hitting the refresh button. Do you get a toast message saying the
recorded programs were updated?
On Oct 28, 2012 6:10 PM, "billmeek" notifications@github.com wrote:

[2012-10-28 22:38] billmeek commented on #68
Good point, I did refresh, but didn't look at the message text. It says:

<pre>
Recorded Programs are up to date!
</pre>

[2012-10-28 22:53] dmfrey commented on #68
And still no program groups or episodes?
On Oct 28, 2012 6:38 PM, "billmeek" notifications@github.com wrote:

[2012-10-28 23:10] billmeek commented on #68
Correct. I haven't pulled a new log, but looking at line 590 of the last one, I see:

<pre>
10-28 16:49:48.040: I/RecordedDownloadService(2137): download : GetRecordedList returned 304 Not Modified.
</pre>

Belay that, I just pressed refresh four more times, waiting for a response after each press and the programs are back.

Guessing here, at 6:00 (which is now, my time) the program 60 Minutes sta

[2012-10-28 23:10] #68 closed, assigned to nobody

[2012-11-06 22:18] billmeek opened #69 "'Recordings' timestamps have correct dates, but every show's time is 00:00:00"
The above refers to the timestamp in the detail section of the selected
recording. For example, The Daily Show With Jon Stewart recorded
last night (11/5/12) but the timestamp shows up as: 2012-11-05T00:00:00.
The subject and description are both correct.

I'm running: mythtv-android-frontend-1.0.2-76-gf29932c

[2012-11-06 23:31] damnsavage opened #70 "Nothing happens when I click Videos, Music or Pictures"
Do you have any documentation for this app?
Ive just installed it on a samsung galaxy S (v2.3.4 gingerbread), Im on my home network and it automatically found the backend. Mythmote is working fine.

If I click on Videos, Music or Pictures in the multimedia tab nothing happens. I don't see anything usefull in the /var/log/mythtv/mythbackend.log

Do I need some additional software for the backend? I

[2012-11-06 23:34] dmfrey commented on #70
These functions aren't implemented yet. The text on them is grayed out.
They are upcoming.
On Nov 6, 2012 6:31 PM, "Snotzer" notifications@github.com wrote:

[2012-11-06 23:36] pot8oe commented on #70
Videos, Music and Pictures are not yet implemented.
On Nov 6, 2012 6:31 PM, "Snotzer" notifications@github.com wrote:

[2012-11-06 23:54] billmeek commented on #70
Also note that to watch the Services API messages in the backend log,
--verbose upnp must be set. You can change it on-the-fly with:

<pre>
mythbackend --setverbose upnp
</pre>

[2012-11-07 06:37] billmeek opened #71 "Recordings screen out of memory error after switching from Away to Home"
This one is tough to duplicate, in other words, it doesn't happen
every time. The most reliable method I've found is:

<pre>
Reboot the Android device (to start on a clean system)
Start the application and select Home -> Recordings
Press every banner, top to bottom (I have 38)
Exit the Recordings screen and press Guide
Exit Guide and go back to Recordings
Press any recording, the following shows u

[2012-11-08 08:20] pmattivi opened #72 "client doesn't connect at all"
I have Samsung GT-S5570 with android 2.2.1, original version.
I installed app from google play and tried to connect to my backend without success.
I added one my home location with this address
http://10.0.0.20:6544/
and it does not work. Scanning network found no servers.
What I tried was changing port to 6543, without success.
My normal HTPC frontend works normally.
Telnet responds on backend se

[2012-11-08 13:56] pot8oe commented on #72
What happens if you go to the URL of your backend: http://10.0.0.20:6544/

Do you get the mythbackend web interface? I'm pretty sure telnet should not
be working on port 6544 as it should be responding to HTTP requests.

-Tom

-Tom

On Thu, Nov 8, 2012 at 3:20 AM, pmattivi notifications@github.com wrote:

[2012-11-08 14:52] pmattivi commented on #72
http://10.0.0.20:6544/ gives me html page starting with:
html
head
title
MythTV mythbackend Internal Web Server
/title

[2012-11-08 14:59] dmfrey commented on #71
@billmeek give it a shot now with the latest code.  I added some experiments in disk and image caching

[2012-11-08 15:06] pot8oe commented on #72
That's good! The backend should be ready and willing to communicate with
the android frontend. Go to the backend URL using your android device's web
browser. This will help determine if the first bullet point below is a
potential issue.
- Is there a firewall running on the backend that may be blocking outside
  connections?
- Is the Android Device using Wifi and on the same network as the backend?

[2012-11-08 15:13] pmattivi commented on #72
- Is there a firewall running on the backend that may be blocking outside connections?
  no firewall issue, that's why I tried telnet client, server gives me response.
- Is the Android Device using Wifi and on the same network as the backend?
  yes, I have only one wifi network at home and I tried to access different services on same server as mythtv and it worked
- Is the Selected Home Profile pr

[2012-11-08 15:17] pot8oe commented on #72
When you click on the home icon what happens? Do you get the dashboard with
Recordings, Guide, Upcoming, and Recording Rules? Those are the only
implemented items; Videos, Pictures, etc don't work yet.

-Tom

On Thu, Nov 8, 2012 at 10:13 AM, pmattivi notifications@github.com wrote:

[2012-11-08 18:37] billmeek commented on #71
The whole application crashes when I enter the Recordings screen running on:
mythtv-android-frontend-1.0.2-77-gc4f6f0e.

Details at: http://paste.ubuntu.com/1343209/

I may have been testing differently than you:

I've been having trouble starting the application from eclipse, so I almost always
have to go in the Android setup/applications menu and delete the cache/data and
application. Otherwise,

[2012-11-08 18:48] dmfrey commented on #71
let's chat about this.  The LogCat view in eclipse will filter all log
messages for the application.  I think we should start there with
addressing these issues.  This way anything else going on on the phone is
eliminated.

On Thu, Nov 8, 2012 at 1:37 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-08 21:28] billmeek commented on #71
To answer the above, filtering  on Application Name: org.mythtv. Let me know if you
want the filter changes: http://paste.ubuntu.com/1343292/

But I see something. Note that on line 93 in the above the IPv4 address ends in .204
(which is my Home 'real' backend, which was being tested.) On line 152 the address ends
in .223 which is my 'test' backend, always configured in my Away settings. I had bee

[2012-11-09 06:04] pmattivi commented on #72
hmm, I came home yesterday.. and it worked.
I will wait for few days and then make some result.

I hade another issue with playing video stream, but it should not be here I hope.

[2012-11-09 06:58] pmattivi commented on #72
BTW I have the same problem while creating new remote connection.
I setup ssh connection using connectbot,
I setup port forwarding,
when I browse on phone to localhost:6544 I get html page from backend,
but when I setup remote profile in mythtv client, I'm not able to connect with message "Master Backend could not be reached. Verify your location profile settings"
maybe it has same point as before

[2012-11-09 07:00] pmattivi commented on #72
seems I have an workaroud.
when you setup new profile, you must kill frontend application in processes.
after it, profile is working normally.

[2012-11-09 12:55] dmfrey commented on #72
This has been fixed in git. It will be available in the next release.
On Nov 9, 2012 2:00 AM, "pmattivi" notifications@github.com wrote:

[2012-11-12 13:54] xavierh opened #73 "Recordings rules: Unfortunately, MythTV Android Frontend has stopped"
It does happen every time I enter into Recordings Rules via Home or Away  (ssh)

[2012-11-12 13:57] dmfrey commented on #73
This is currently being address.  The force close has been addressed in git
and the remaining functionality is currently being worked for editing these
rules.

Thank you for your input.

On Mon, Nov 12, 2012 at 8:54 AM, xavierh notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-13 21:14] bah1976 opened #74 "Schedule from program guide"
Unless I'm missing something, is it not possible to schedule a recording from the guide?  Can this be added as an enhancement request?

[2012-11-13 21:15] pot8oe commented on #74
It is planned. Having some issues with the MythTV services API
AddRecordSchedual end point

-Tom

On Tue, Nov 13, 2012 at 4:14 PM, bah1976 notifications@github.com wrote:

[2012-11-13 21:15] dmfrey commented on #74
It is on the todo list.  We need to get editing the recording rules in
place first.  Then they will all use the same functions in the app.

On Tue, Nov 13, 2012 at 4:14 PM, bah1976 notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-14 23:14] #71 closed, assigned to nobody

[2012-11-15 22:27] howlett opened #75 "Corrupts running application stack"
When I start this application, things in my "running applications" stack appear twice.

Way to reproduce:
1. start  some other application
2. start this app
3. press home
4. press and hold home

Bug: the first started app appears twice in the list of opened applications.

I'm running Android 4.1.2 on a Nexus S i9020xxkl1

[2012-11-16 03:38] dreverson opened #76 "Commercial skip and/or manual skip/fast forward controls"
I have this working on a Kindle Fire with VPlayer video player.  Mythtv programs stream great but commercial skips are not honored and there doesn't seem to be anyway to manually skip forward/backwards in a recording.  If I restart a video I have to start at the beginning again.  Am I missing how to do this or will it be added in a future release?

Thanks!

[2012-11-16 15:03] pot8oe commented on #75
I feel like I've seen this bug without running the mythtv frontend app.

-Tom

-Tom

On Thu, Nov 15, 2012 at 5:27 PM, Liam R. Howlett
notifications@github.comwrote:

[2012-11-16 15:52] dmfrey commented on #75
the app does start up other processes do handle downloading the large
amount of data so as to not interfere with the UI

On Fri, Nov 16, 2012 at 10:03 AM, Thomas G. Kenny Jr <
notifications@github.com> wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-16 16:00] howlett commented on #75
Yes, but these processes do not get listed in the running application list.  All I know is when I run this app, then everything that was running is duplicated in the list of running apps except this app, which shows up once.  If you know what tasks are started up with this application and have a way I can start the tasks manually, then I am certainly willing to try them one by one to see which one

[2012-11-16 16:01] howlett commented on #75
Oh, I noticed that I need to connect to my server to see this.. so there should be another step between 2 and 3 above that should be "connect to a mythtv server".

[2012-11-18 16:11] billmeek commented on #69
Fixed as of mythtv-android-frontend-1.0.2-85-ga9f9a33.

[2012-11-18 16:11] #69 closed, assigned to nobody

[2012-11-18 21:46] billmeek opened #77 "Build errors, possible solution."
As the project grows, I've been getting errors when attempting to use the
Java Perspective, Run As -> Android Application. The errors aren't always
the same, but the following is typical:

<pre>
Conversion to dalvik format failed unable to execute dex gc overhead limit exceeded
</pre>

I found this: http://stackoverflow.com/questions/9471194/unable-to-execute-dex-gc-overhead-limit-exceeded . By ch

[2012-11-18 23:31] dmfrey commented on #77
Yes, this seems like the correct solution.

What type of system are you building on?  I've got a pretty fat dell laptop
with a core i7 (quad-core, eight virtual), 16 gb ram. I do not have these
issues on my system. Although I would imagine you could build this app on a
much smaller machine without issue.
On Nov 18, 2012 4:46 PM, "billmeek" notifications@github.com wrote:

[2012-11-19 03:21] billmeek commented on #77
AMD FX(tm)-4100 Quad-Core with 4GB of RAM. I don't have a swap partition.
I just tried again (successfully) with top running and I have about 500KB of RAM
left, eclipse used about 1GB.

I looked in the eclipse menus and didn't find a way to change the settings. So it
appears that manually editing the .ini file is the only solution.

Added a link to this issue in the Wiki.

[2012-11-19 03:21] #77 closed, assigned to nobody

[2012-11-19 04:27] dmfrey commented on #77
I also add some items to mine to take advantage of multiple cores.  Take a
look at mine, specifically after -vmargs:

-vm
/usr/lib/jvm/java-7-openjdk/bin/java
-startup
plugins/org.eclipse.equinox.launcher_1.3.0.v20120522-1813.jar
--launcher.library
plugins/org.eclipse.equinox.launcher.gtk.linux.x86_64_1.1.200.v20120522-1813
-product
org.eclipse.epp.package.java.product
--launcher.defaultAction
ope

[2012-11-19 04:33] pot8oe commented on #52
Closing issue because I added this about a month ago.

[2012-11-19 04:33] #52 closed, assigned to pot8oe

[2012-11-19 18:39] billmeek opened #78 "Crash if "Recording Rules" is selected and MythTV backend isn't up"
Running on: mythtv-android-frontend-1.0.2-90-g20a1d12. Apologies if this is
a duplicate of Issue #73.

To duplicate:

<pre>
Make sure the backend isn't accessable
Start the application, select Home->Recording Rules
</pre>

The "Unfortunately, MythTV Android Frontend has stopped message" will
display and after pressing OK the application disappears.

Also note that the 'pulsing download icon' in th

[2012-11-19 18:51] dmfrey commented on #78
removing those calls to getHostname now.  Replacing with the NetworkHelper
to check for backend connectivity.

On Mon, Nov 19, 2012 at 1:39 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-19 18:55] billmeek opened #79 "The "test backend connections" have been put back in"
The test Home/192.168.10.200 etc. data is back.

Commit a9f9a33 removed these, 4d41dfa restored them.

[2012-11-19 19:01] #79 closed, assigned to nobody

[2012-11-19 19:02] billmeek commented on #78
Fixed by commit 8218a73. Tested Recordings, Upcoming and Recording Rules
both entering the screen and using the refresh 'circle'.

[2012-11-19 19:02] #78 closed, assigned to nobody

[2012-11-19 19:31] billmeek opened #80 "Pressing any rule in "Recording Rules" causes a fatal exception"
Running on mythtv-android-frontend-1.0.2-93-gd237b65

To Duplicate:

[code]

Log: http://paste.ubuntu.com/1370788/ line 127

[code]

[2012-11-19 20:02] billmeek opened #81 "No "Guide" data displayed"
Running on: mythtv-android-frontend-1.0.2-93-gd237b65

Before starting this mornings testing, MAF was completely removed,
including all cache and data. Then reinstalled.

However, when I look for Guide data, all I see is:

[code]

I seem to have guide data:

[code]

And the log has this:

[code]

After doing a force stop on the application and deleting all the Guide data,
this is the log showing t

[2012-11-19 20:05] #80 closed, assigned to nobody

[2012-11-19 20:26] #81 closed, assigned to nobody

[2012-11-19 20:37] dmfrey commented on #81
Bill,

I had to update the myth services api to fix this.  I then deleted my app
and reinstalled and now it seems to be working correctly.  I really need to
get better removing what is installed to test. :)

Dan

On Mon, Nov 19, 2012 at 3:02 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-20 03:03] billmeek opened #82 "Clicking on titles in "Recordings" with no coverart doesn't clear previous coverart/details"
Running on: mythtv-android-frontend-1.0.2-97-gd6cc503

This looks much like #68. I frequently 'run' my list of recordings and believe
that this started recently, perhaps today.

To Duplicate:
- Enter the Recordings screen
- Select any title that has cover art
- Select any title that has NO cover art

The cover art from the last selection that had cover art is still displayed. The details
section (

[2012-11-20 04:59] billmeek commented on #82
Better, or I tested poorly. I said ANY title without cover art, it should have read
without a banner (although they didn't have cover art either.) It appears to be
only two titles now.

More input:

Exactly one show: The Daily Show has banner and cover art, however,
when I select it, it too reacts the same (previous cover art and description
remain.) The Daily Show is the 11th sorted title, the la

[2012-11-20 05:25] billmeek opened #83 "Settings allow different IP addresses. Different databases are not supported"
My Home backend is 192.168.10.204. My Away backend is 192.168.10.223.
Two different boxes.

If I use my Home setting and retrieve all updates, then switch to my Away
setting, the Home data remains. Neither the automatic nor the manual updates
get the Away data. This applies to the Recordings, Upcoming, Guide and
Recording Rules screens.

Rather than guess, I'll let you decide if this is a single p

[2012-11-20 16:48] dmfrey commented on #83
what you are saying is that the app should handle multiple backends that
each contain separate data, correct?

Not just the case where you are connection to the same backend multiple
ways (i.e. home via zeroconf, away via something like dyndns, etc.)

It would be considerable refactoring to the db schema at this time to allow
multiple different backends, but I agree that it should be possible.

Wh

[2012-11-20 17:59] billmeek commented on #83
Yes, two hosts. One for production, one for testing. One has about 60 rules, the other has 6.

Based on my readings of the MythTV mailing lists and IRC channels, a number of users have
similar setups. Also there are those with virtual machines and chroot jails that keep multiple
versions. I have no idea how many do that and are Android users etc.

At the least, I need to add some text to the Wiki

[2012-11-20 18:29] dmfrey commented on #83
Well, what I think has to happen is this:
1. each table row needs to be qualified with something from the location
   profile
   - either name or ip address, etc.
2. all queries need to be updated to accept the location profile so that it
   can be used in the queries.
3. All files downloaded need to be qualified with the same selection from 1
   - i.e. a program guide file should be <ip>_<date>.j

[2012-11-20 20:11] billmeek commented on #83
I think it sounds like a huge change for an unknown number of users. Currently 1.
So out of  1000+ Play downloads, 349 Github and X building from source, that's
something well under .07%

The root cause is my misunderstanding of the use of Home/Away and their multiple
profiles. That can be documented. I'd suggest that preventing those who choose to
access different databases can only be prevented

[2012-11-20 22:52] billmeek commented on #82
After removing all data plus the files under /Root/Android/data/org.mythtv/cache and
getting new updates, I can no longer duplicate the previous comment.

[2012-11-20 22:52] #82 closed, assigned to nobody

[2012-11-21 00:08] billmeek commented on #70
The Wiki has been updated to reflect the status in the next release. Information
on the current release is correct. Also, in the next release, pressing any of the
buttons you asked about will result in a message telling a user the feature is
"Coming Soon!"

[2012-11-21 00:08] #70 closed, assigned to nobody

[2012-11-21 14:27] mattbatt opened #84 "Noob Problem "please try again later""
I'm running LinHES 7.4 and ICS
I can see the list of TV series that I have recorded when I click on any of them I get a "please try again later"
I only have the one MythTV BE/FE system on my network.  This is my first attempt at a remote front end.

[2012-11-21 17:11] dmfrey commented on #84
@mattbatt

Just a couple of troubleshooting items...
1. Can you open in your browser: http://<master backend ip address>:6544/

If you can't then your backend is not enabled to all access to the Mythtv Services API.

If it is, then you should be all set.

Is it still trying to load the data now?  How long has it been doing this?

Also, are you running the app from the market or amazon app store? f

[2012-11-21 17:17] billmeek commented on #84
All the questions Dan asked, plus:

Can you look at the log files on your MythTV backend? When trying to play a recording, the backend 1st
needs to transcode the file. Depending on where LinHES stores logs, you should see activity similar to this

<pre>
CoreContext transcode.cpp:1449 (TranscodeFile) - mythtranscode: xxx% Completed @ 56.3596 fps.
</pre>

Logs are frequently stored in /var/log/syslo

[2012-11-21 18:53] billmeek commented on #84
Also, note that a new FAQ page was added this morning (after you posted this.) You might it useful:

<pre>
https://github.com/MythTV-Clients/MythTV-Android-Frontend/wiki/Connection-Troubleshooting-Guidelines
</pre>

[2012-11-22 05:23] mattbatt commented on #84
1) Yes I can see the page from my phone and my other computer

2) I installed the app yesterday morning I didn't start playing with it till about 10 pm and fell asleep at 1 am, I just turned my WiFi back on and tried the app to no avail.

3) Google play store.

4) phone is an HTC EVO 3D, Router is a TP link TL-841N with UPnP on, MythBackend is running on a AMD Athalon 64 3500+, 2 gB of ram, Nvdia

[2012-11-22 05:52] mattbatt commented on #84
going through the FAQ
1) http://192.168.0.164:6544/stuff gives me 404 on my computer and my phone
2) logging is on part of the mythbackend log is listed above

tailf /var/log/2012-11-22/gimli_mythbackend.30300.log

mythtv@gimli 2012-11-22]$ tailf /var/log/2012-11-22/gimli_mythbackend.30300.log
2012-11-22T00:37:57.474564-05:00 gimli mythbackend[30300]: I ProcessRequest mainserver.cpp:1362 (HandleAn

[2012-11-22 08:27] billmeek commented on #84
On 11/21/2012 11:23 PM, mattbatt wrote:

Thanks for providing the detail.

...

These are normal information messages.

I"m running ubuntu, so won't be of much help here, however segfaults are never good
and this appears to be UPnP related. If these match up with each time a recording is
trying to be played, then I'd seek help on the distribution's list/site. This message
just tells you the segfau

[2012-11-22 08:57] billmeek commented on #84
On 11/21/2012 11:52 PM, mattbatt wrote:

Sorry, the "stuff" was supposed to remind me to test something. It's been removed
from the FAQ. Thanks for posting the result.

I believe you've spotted the problem. Your Android device was asking for a file named
10021_20121121150000.mpg but MythTV says it couldn't find it. You mentioned doing a
touch to create the file and that message went away, on the b

[2012-11-22 13:57] dmfrey commented on #84
Do you have write permissions to the Streaming storage group?

Bill, we should add this to the FAQ.  In some instances, when upgrading to
.24 to .25, the streaming storage group either doesn't get created or the
user doesn't get write access to that storage group.

On Thu, Nov 22, 2012 at 3:57 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-22 22:07] xavierh commented on #76
in order to be able to seek in the video, the video need to be fully transcoded. unfortunatly mythfrontend for android automatically remove the stream. which is why you are starting at the begining all the time. would be nice to be able to transcode in advance annd go back to it later

[2012-11-23 05:05] mattbatt commented on #84
What streaming storage group?  That might be my problem.

[2012-11-23 05:18] billmeek commented on #84
Hi;

Take this out for a test drive. Streaming is the 2nd issue from the bottom.

https://github.com/MythTV-Clients/MythTV-Android-Frontend/wiki/MythTV-Configuration-Suggestions

You can see a sample of the MythTV error message that you would likely get.

Were those two files that "could not be found" playable on your frontend?

[2012-11-23 20:10] billmeek opened #85 "Title/Timestamps/Detail left on screen when last title of a program is deleted"
Running on the commit before: mythtv-android-frontend-1.0.2-106-g2a5ce7c

To duplicate:

<pre>
Select any program on the Recordings screen
Select each title and press the delete icon
</pre>

When the last title is deleted, the program will be removed from the list,
however, the last show's details remain.

Clearly, this is not a 1.0.3 showstopper.

[2012-11-23 21:10] dmfrey commented on #85
Does this act similarly on phone and tablet?

On Fri, Nov 23, 2012 at 3:10 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-23 21:22] billmeek commented on #85
Sorry, I only have an Android tablet. I did retry in the portrait mode (no cover-art)
with the same result.

[2012-11-23 23:34] dmfrey commented on #84
Matt,

I was just looking at the reviews on the Google Play Store.  Was your
review the 1 star from Matt with the HTC One X?  If not, please disregard
this.  If so, and if you were able to resolve the issue, can you adjust
that review?

Thank you,
Dan

On Fri, Nov 23, 2012 at 12:18 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-11-24 02:21] mattbatt commented on #84
@dan. No way. I haven't reviewed yet. And I am using the EVO 3d.

[2012-11-24 02:25] dmfrey commented on #84
Matt,

Sorry about that.

Is everything working for you now? Fyi, I pushed a new version of the app
to the market tonight.

Dan
On Nov 23, 2012 9:21 PM, "mattbatt" notifications@github.com wrote:

[2012-11-24 02:59] billmeek commented on #72
Please retest with versioin 1.0.3, available on the Play Store as of 11/23/2012. You can reopen this
ticket if necessary.

[2012-11-24 02:59] #72 closed, assigned to nobody

[2012-11-24 03:12] billmeek commented on #75
I'm able to reproduce this ( I think.) Following the 5 steps above, there are 2 MythTV Android Frontend
icons, 1 for the application itself, and one for the video player.

Is that what you're referring to with the "connect to a mythtv server" step added in the last post?

However, I don't need to start another application to see this.

Leaving this open, but please consider retesting on release 1.

[2012-11-24 03:50] mattbatt commented on #84
Well the new version is giving me a listing of episodes now.  Vplayer gives me a complaint that it "can't open this file"
I will go through the steps listed above again now that I'm a little further.
But now I've killed my battery!

Is there some test I could use to judge if my Backend hardware is too slow?

[2012-11-24 04:10] mattbatt commented on #84
Mythtranscode.log

2012-11-23T22:44:27.106908-05:00 gimli mythtranscode[387]: C thread_unknown mythcommandlineparser.cpp:2534 (ConfigureLogging) mythtranscode version: fixes/0.25 [v0.25.3-7-gfe9f6fa] www.mythtv.org
2012-11-23T22:44:27.107205-05:00 gimli mythtranscode[387]: C thread_unknown mythcommandlineparser.cpp:2536 (ConfigureLogging) Qt version: compile: 4.7.3, runtime: 4.7.3
2012-11-23T22:44

[2012-11-24 04:18] mattbatt commented on #84
# Mythbackend log

[code]

[2012-11-24 05:00] billmeek commented on #84
Looking at the mythbackend.log, I doesn't look like upnp logging is on.
That's the one where you type: mythbackend --setverbose upnp (on
a running backend.)

But next time your get a chance, please use some more options:

[code]

Then try to play a recording. When it fails (and we expect it will,)
then turn the extra logging off, otherwise you'll get a lot of stuff
filling up your logs.  Here's th

[2012-11-24 05:30] mattbatt commented on #84
here is more info than you wanted.  Using drop box since I already have that.
https://www.dropbox.com/sh/ltx15fu6iv5w74z/yBZw6RJ1QK

[2012-11-24 05:30] #84 closed, assigned to nobody

[2012-11-24 07:08] billmeek commented on #84
I think its fair to say the problem is now cut in half. The problem is that mythtranscode
barely gets started and aborts. On your system, the mythtranscode log lines are like this:

[code]

Here's what mine look like. Much faster (frames per second) and it actually
completes:

<pre>
...
mythtranscode: 1% Completed @ 67.139 fps
...
mythtranscode: 98% Completed @ 67.139 fps
...
</pre>

I just made a

[2012-11-24 13:45] mattbatt commented on #84
Thanks for your help.

[2012-11-24 21:58] billmeek commented on #65
FYI, Version 1.0.3 is now available.

[2012-11-24 22:03] liftman commented on #65
yea i got the update, working good so far haven't seen any issues.
thanks
On Nov 24, 2012 4:58 PM, "billmeek" notifications@github.com wrote:

[2012-11-25 15:55] ksodib opened #86 "LCD display"
Is it possible to implement LCD display function in Android Frontend? Just asking.

[2012-11-25 17:54] billmeek commented on #86
Are you referring to the output of  MythTV's `mythlcdserver`?

[2012-11-25 20:18] billmeek commented on #84
FYI, I was just looking at the gimli_su.log and much like the fuppes SEGVs, the following
are printing every second. That begs the question, what is mythtv doing once per second?

<pre>
012-11-24T00:23:41.126627-05:00 gimli su: pam_unix(su:session): session closed for user mythtv
2012-11-24T00:23:42.132226-05:00 gimli su: pam_unix(su:session): session opened for user mythtv by (uid=0)
</pre>

With

[2012-11-25 21:09] dmfrey commented on #86
We are limited by what is available in the myth services api. If the
corresponding commands are available, then it is something we can add to
the app as an enhancement.

I am not familiar with this functionality. Could you provide an example of
what you would like to have added?
On Nov 25, 2012 12:54 PM, "billmeek" notifications@github.com wrote:

[2012-11-26 18:04] ksodib commented on #86
I think about playing music without TV monitor as is explained here:
http://www.mythtv.org/wiki/LCDproc
My backend is without LCD display and i think it could be nice to have it
on  mythmote part of MythTV Android Frontend

2012/11/25 Daniel Frey notifications@github.com

[2012-11-26 18:04] ksodib commented on #86
Yes. Is it possible to have it on mythmote of MythTV Android Frontend?

2012/11/25 billmeek notifications@github.com

[2012-11-26 18:06] pot8oe commented on #86
It probably will not use the LCD specific functionality but a similar
interface might be do-able through the service API.

-Tom

On Mon, Nov 26, 2012 at 1:04 PM, ksodib notifications@github.com wrote:

[2012-11-26 18:10] tekrantz opened #87 "Binder Transaction Too Large"
I get an error with recent versions of the MythTV Frontened For Android.

It results in a basically blank screen when selecting the "Recordings" button.

Here is the LogCat showing the issue:

11-26 13:05:22.108: W/AbstractOperations(12063): URI : http://192.168.188.231:6544/Dvr/GetRecordedList
11-26 13:05:22.108: I/AbstractOperations(12063): http://192.168.188.231:6544/Dvr/GetRecordedList
11-26 1

[2012-11-26 18:12] dmfrey commented on #87
Thank you for the info.  I will add some batching in that call to prevent
this.

On Mon, Nov 26, 2012 at 1:10 PM, tekrantz notifications@github.com wrote:

[2012-11-26 18:16] tekrantz commented on #87
Anytime!

Guess I need to watch some of my recordings!!

Tim

---

From: Daniel Frey [mailto:notifications@github.com]
Sent: Monday, November 26, 2012 1:13 PM
To: MythTV-Clients/MythTV-Android-Frontend
Cc: tekrantz
Subject: Re: [MythTV-Android-Frontend] Binder Transaction Too Large (#87)

Thank you for the info. I will add some batching in that call to prevent
this.

On Mon, Nov 26, 2012 at 1:10 P

[2012-11-27 14:28] dmfrey commented on #83
@billmeek working on implementing this now.  Going to add it before any new features get added because it kind of affects the overall db schema and table joins.  Hope to have something for you soon.

[2012-11-27 20:52] billmeek commented on #83
Wow. If you've not coded it up, did you consider storing the files in 'per host' directories,
rather that modifying the file names to somehow reference the host (step 3 above?)

Also, in step 4, the Home scanner detects both of my boxes and then brings up the
edit window. In my case, I just pressed save. I didn't try cancel, but assume that would
be the method of 'rejecting' a found host.

[2012-11-27 21:05] dmfrey commented on #83
step 3 would only be an interim measure.  hopefully the files will away
altogether and just be stored in the db.

step 4 was requested by Tom from mythbuntu and had a few other questions
about it.  There is an issue out there for it already.  I forget the number
offhand.  But basically if you click home and no locations are set,
automatically run the zeroconf and preconfigure if only one present.

[2012-11-28 02:11] gergnz opened #88 "Implement wakeonlan"
it would be really cool, if there was a wakeonlan button for the back and/or the frontend.

I currently have my myth-backend shut off between shows to save power, and it can be turned on via a wakeonlan packet, it would be nice to have that feature in the mythmote and myth-android-frontend.

[2012-11-28 03:57] billmeek commented on #88
Note that if a backend host responds to a WOL and a Android user starts watching a video
(which implies mythtranscode starts,) all is well. Because mythtranscode is one of many
things that prevent the backend from shutting itself down.

However, mythtranscode will finish before the entire recording is watched and (baring some
other reason) the shutdown process will start. I don't see any Services

[2012-11-28 04:53] gergnz commented on #88
Currently I have only 1 machine that shares the FE/BE.  If say I want to check a recording or watch something, it would be great to have be able to turn the machine on from my android device either via the myth-mote section or the FE section.

[2012-11-28 05:08] billmeek commented on #88
You can do that now, if you're willing to do it outside of this app. Go to the
Play Store and search for Wake On LAN. I'm using the 1st item that comes
up (by mafro.) Then you can fire up this app.

It sounds like you have your backend configured the same as I do, that is
it shuts off when MythTV has nothing to do. Just beware that the backend
will shutdown as I outlined above. My backend is set t

[2012-11-28 05:18] gergnz commented on #88
Good suggestion, thanks.

[2012-11-28 05:36] pot8oe commented on #88
The original mythmote app has WOL built-in. I'll look into moving it into
mythtv for android.

-Tom

On Wed, Nov 28, 2012 at 12:18 AM, Greg notifications@github.com wrote:

[2012-12-10 23:00] billmeek opened #89 "NPE on pressing Home and another on pressing Recordings"
Running: mythtv-android-frontend-1.0.3-48-gae4bb45

Removed the app, cleared all files, downloaded the app, scanned hosts (just one now) and
waited for the Guide to finish populating.

Before going too far, note that the following was in the Console window:

[code]

 git diff shows no changes and I didn't change any files. git status is OK.

Selected Home and the 1st NPE fired. Selected Recordings

[2012-12-11 17:04] billmeek commented on #89
Seems to be fixed with: mythtv-android-frontend-1.0.3-50-g52c88cc.

[2012-12-11 17:04] #89 closed, assigned to nobody

[2012-12-11 17:52] billmeek opened #90 "FATAL EXCEPTION: AsyncTask #3"
Runnilng: mythtv-android-frontend-1.0.3-50-g52c88cc

To duplicate:

[code]

Stop app, clear cache, clear data and removed all sdcard directories except
the "programGuide". Same exception.

LogCat error starts at line 4144 in http://paste.ubuntu.com/1425595/
This log has the entire session from startup to the error.

[2012-12-11 18:04] dmfrey commented on #90
Bill,

Did your network connection go away?

What does this url produce if you plug it into a browser?

http://192.168.10.204:6544/Content/GetRecordingArtwork?Inetref=72546&Type=Coverart

Dan

On Tue, Dec 11, 2012 at 12:52 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-12-11 18:19] billmeek commented on #90
I don't see any messages for my NIC going up or down in /var/log/syslog.

The URL displays the coverart for CSI: Crime Scene Investigation. In the
backend log, I see this:

<pre>
2012-12-11 10:29:50.637845 I [3331/4388] HttpServer77 httprequest.cpp:1339 (ExtractMethodFromURL) - ExtractMethodFromURL(end) : GetRecordingArtwork : /Content
2012-12-11 10:29:50.637868 I [3331/4388] HttpServer77 serviceh

[2012-12-12 03:58] dmfrey commented on #90
@billmeek did you try the url from my previous post in the browser? did it display the picture in the browser window?

[2012-12-12 04:02] billmeek commented on #90
Yes it did. I've been replying using the github issue list rather than email. Not sure you're
seeing everything.

[2012-12-12 04:07] dmfrey commented on #90
can you download that coverart image file locally?  Are there any issues with the file itself?  It really sounds to me like the network went away while in the process of downloading.  Can you try the same action again in an emulator so that it doesn't adversely affect your tablet?

[2012-12-12 05:07] billmeek commented on #90
I just retried the link you suggested and saved the image. Then I opened it, the file looks OK.

Then I threw fate to the wind and looked at it on the tablet. Both the banner and the coverart
appear fine. I didn't remove the app 1st nor did I delete any files on the sdcard. That may be
important.

Here's a fresh LogCat if you like. Lines 2357, for CSI and 2593 for Undercover Boss seem to
have the

[2012-12-12 23:52] billmeek commented on #90
No lockups today, but I did capture the protocol as promised. I believe that when
my firewall software is on (ufw in Ubuntu,) incorrect FIN/ACK messages are being
blocked. Incorrect because they appear to be from conversations other than the
one that is currently ending.

It almost looks like the FIN/ACK messages are being sent to a 'stale' conversation.

With the firewall deactivated, the backend

[2012-12-13 00:22] dmfrey commented on #90
I did see an app the other day that captured pcap files from android. Will
try to find it and post it later. May be a good tool to have for cases like
this.
On Dec 12, 2012 6:53 PM, "billmeek" notifications@github.com wrote:

[2012-12-13 04:38] billmeek commented on #90
I tried "Shark for Root", and as its name implies, it needs a rooted device - mine isn't
Also, "tPacketCapture" which doesn't require being rooted. But it comes up with a
big warning about trusting a VPN. I assume it uses a VPM to bypass the need for
rooting. I was concerned enough about the warning that I removed that app too.

There's also of the capture software slowing down a  VOIP application

[2012-12-13 19:05] billmeek opened #91 "Add ability to control 'non MythTV' devices via TCP/IP"
The application, as written, can control most functions of a MythTV frontend (when
acting as a remote control.)

Adding custom controls could allow some users to use MAF as a home entertainment
center controller.

In the basic case, information would have to be stored for:

<pre>
Button Name, IPv4 Address, Port, Text to be sent
A/V R ON      192.168.1.123  1234 PWON (cryptic, per vendor string)
..

[2012-12-15 05:52] bhamail opened #92 "NPE in ImageCache.java 423"
Apologies if this is not the right place to report this.

I just cloned the master branch, and I'm running the app in eclipse by launching org.mythtv.client.MainApplication.java.

The app loads in the android simulator nicely, and I was able to scan for a "home" profile just fine. (It found my mythtv backend - way cool!).

The problem is when I open the "home" profile, and then try to open "Record

[2012-12-15 06:07] bhamail commented on #92
More info: I tried to find the NPE cause, and I think it is in ImageCache.getExternalCacheDir() (line 493).

This bit:

[code]

Utils.hasFroyo() returns true, but the resulting: context.getExternalCacheDir() returns null.

Does that help at all?

[2012-12-15 06:19] bhamail commented on #92
So I added the "fix" below, but it is pretty awful, and I'm guessing there is a better solution:

[code]

[2012-12-15 06:47] bhamail commented on #92
Found another NPE, this time in "Guide". (Also not sure this is a valid fix).

[code]

[2012-12-15 07:00] bhamail commented on #92
FWIW, the above NPE fixes prevent the app from crashing, but the resulting "Recordings" and "Guide" screens are empty. Both execution paths show a log message: Unable to create external cache directory.

[2012-12-15 13:07] pot8oe commented on #92
Hi Dan, Thanks for the debug info. We download data from the backend and
store it json files. Looks like we're failing to get the external storage
dir. What version of android is your device? Does your device support and
have an sdcard installed?

-Tom
 On Dec 15, 2012 2:00 AM, "Dan Rollo" notifications@github.com wrote:

[2012-12-15 18:14] dmfrey commented on #92
Thanks for the info Dan.

Will take a look.

Is it the context that is null?

Also, the correct way to launch the emulator is too right-click the root of
the app and select Run As -» Android Application.  Never launched it before
like running regular java application, but I assume it's the same.

For your emulator, did you provide a sd card in the settings and give it at
least 512 Mb?

Thanks agai

[2012-12-16 22:05] bhamail commented on #92
Hi Dan,

In ImageCache.java: The returned value of "getExternalCacheDir(context)" was null. This caused the NPE when executing: getExternalCacheDir(context).getPath().

In ProgramGuideLruMemoryCache.java: mFileHelper.getProgramGuideDataDirectory() returned null. This caused NPE when calling: programGuideCache.exists().

Also, No, my emulator does not have a sdcard. Did I miss that in the setup doc

[2012-12-17 02:33] dmfrey commented on #92
Dan,

On a physical device, nowadays, the sdcards are always present and usually
not removable.  I setting up the sd card was an over site.  It should be
documented.

For gtv, a native app is currently under development by one of our team.
 We cannot say a whole lot about it yet, but it is coming :)  Ping
@tafypzhttps://github.com/tafypz on
github if you want to help out.

I am not sure maven will

[2012-12-17 02:37] dmfrey commented on #92
Regarding the ImageCache... we should probably never make a network call if
no media is mounted.  We rely on being able to download the files (images,
json, etc.) in order to make the app work.  I guess that is a bug.
 However, if you have no external cache to write to, then I am not sure how
you would be able to use the app. We should have that check in there if,
for example, you hook your phone

[2012-12-17 02:43] billmeek commented on #92
@dmfrey discussion label added. I'm not sure what this issue is, bug/enhancement/discussion, all 3?

[2012-12-17 02:46] dmfrey commented on #92
I would say for right now, this is just a discussion as it led to the
needing to specify a SD card in the emulator.  But an issue needs to be
created for when the sd card gets unmounted.  I am hoping we can use some
of dan's code to head this issue off from ever occurring on a device.

On Sun, Dec 16, 2012 at 9:43 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.googl

[2012-12-17 02:51] billmeek opened #93 "Handle the case of the SD card being unmounted"
See #92 for details.

[2012-12-18 19:33] johnkdevnull opened #94 "Not showing all recordings"
I currently have episode from three series in my recorded list and also one film.  The film does not show in the App Recordings list.  Is it only showing items that have episode info?

Using
MythTV Version : 0.26.0-1.fc17 (v0.26.0-28-ge3087dd)
MythTV Branch : fixes/0.26
Network Protocol : 75
Library API : 0.26.20120822-1
QT Version : 4.8.2
Options compiled in:
 linux release use_hidesyms using_als

[2012-12-18 21:07] billmeek commented on #87
12/18/2012 Note that two users on the mythtv-users mailing list reported their number of
recordings today. One has 2945 and the other 4528.

[2012-12-18 22:36] billmeek commented on #94
Try browsing the following:

[code]

Using your browser's search feature, do you see the "one film" you're looking for?

The line would look similar to this:

[code]

The goal of this test is to see if MythTV's Services API is returning the information.

[2012-12-19 08:42] johnkdevnull commented on #94
On 12/18/2012 10:36 PM, billmeek wrote:

Kind regards

JohnK

[2012-12-19 21:38] billmeek commented on #94
@johnkdevnull, Hi; the attachment didn't make it to email or to the issues list on github.

If you could save the output from your browser and use pastebinit <someFileName>
then put the link here, that would be perfect. (I think you're running fedora so maybe
that would be yum install pastebinit if you don't already have it.) Thanks!

For what it's worth, I did have a movie (the expire process rem

[2012-12-20 04:48] #87 closed, assigned to nobody

[2012-12-20 08:55] johnkdevnull commented on #94
Here it is

http://fpaste.org/WOIg/

Hope you can read that.  I just catted the file into pastebinit.

[2012-12-20 17:05] billmeek commented on #94
@johnkdevnull Thanks. I forgot that the saved file is one line.

Here's a reformatted <program> ... </program> section for the movie in question:

http://paste.ubuntu.com/1452741/

@dmfrey Note that the A-Team movie is in the LiveTV storage group.

[2012-12-20 17:13] dmfrey commented on #94
@johnkdevnull I believe the issue is related to the fact that we are
removing articles from titles so as to group them much like a traditional
FE does.  So in this case, it might be that 'the' and 'A' are being
removed.  Do you have a program group called 'Team' in your interface?

On Thu, Dec 20, 2012 at 12:05 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.c

[2012-12-20 17:46] johnkdevnull commented on #94
@dmfrey I don't have a program group called Team.

It shows in my recorded list in Mythfrontend.  I'd expect it to show in the Android frontend.

[2012-12-20 17:50] johnkdevnull commented on #94
As billmeek points out, it is in the LiveTV storage group.  That's because I pressed R to record it while I was watching it on LiveTV.

[2012-12-20 17:58] dmfrey commented on #94
Ah, right, missed that.  We are explicitly hiding anything in the live tv
group.

On Thu, Dec 20, 2012 at 12:50 PM, John Kelly notifications@github.comwrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2012-12-20 18:14] johnkdevnull commented on #94
@dmfrey Well can I suggest that you aren't doing that in a manner consistent with Mythfrontend.  My 'Watch Recordings' page isn't set to show LiveTV items but it shows this one because I hit record which I assume makes it a recorded item.  The film shows in both 'All Programmes' and also in 'Watch List'.

[2012-12-20 23:09] billmeek commented on #94
I just tested this on my system. I started watching live TV and pressed 'r' to record
the show.

The show did appear on my Recordings page.  I'm on 0.27-pre2 and the latest
Android git.

In both my test and johnkdevnull's, the Storage Group is LiveTV, but the RecGroup is set
to Default. I can see in commit d4d8f6f where the recording is excluded if the RecGroup
is LiveTV, but I can't find that cod

[2012-12-21 00:02] billmeek opened #95 "Multiple Recordings entries in current git. (1.0.3-55-g61b589d)"
Running on mythtv-android-frontend-1.0.3-55-g61b589d.

It appears that each time the app is started and the Recordings
screen is synced, a new copy of each recording is added.

This link http://paste.ubuntu.com/1453551/ begins when the Recordings
icon is pressed and ends after the Record Programs Are Up To Date
toast prints. "60 Minutes" is the 1st show in the list of recordings.

This link http:/

[2012-12-21 00:06] johnkdevnull commented on #94
@billmeek I'm running version 1.0.2 on a Kindle Fire HD.  It's the current (beta) version available on the Amazon apps store.

If I can download a later version of the apk file from somewhere then let me know...

[2012-12-21 00:20] billmeek commented on #94
@johnkdevnull I've only tested 1.0.3 downloads from the Google Play Store, not
Amazon, but this was just released on the Mythtv users list. It's 1.0.3+

https://www.dropbox.com/s/ju3yw07m0txoy9h/mythtv-for-android-2012-12-19.apk

[2012-12-21 04:22] #95 closed, assigned to nobody

[2012-12-21 06:00] billmeek opened #96 "Error message prints in LogCat when a bitmap is missing (a normal condition)"
This error fires when, for example, a banner is missing. This isn't truly an error
because not all shows have artwork available.

I know how to change the message from an error to a warning, however
there may be other reasons for considering the message an error.

@dmfrey let me know if lowering the message to a warning is OK with you
and I'll change it. Note that the 2 messages that precede it ar

[2012-12-21 09:06] johnkdevnull commented on #94
Ah, ok.  Version 1.0.3 downloaded from the above link now shows my film in the recorded list.  So I was obviously just using an earlier version.
This version now shows each episode three times in the list.  Better too many than too few.  :-)

This was the first app I looked for when I got a tablet so I'm pretty stoked someone is now building it.  Well done guys!

[2012-12-21 12:41] dmfrey commented on #94
John,

That is fix in the repo as well. I am hoping to push this bug fix release
sometime this weekend to the Google play and Amazon app store.

Dan
 On Dec 21, 2012 4:06 AM, "John Kelly" notifications@github.com wrote:

[2012-12-22 12:36] frank16 opened #97 "Importing the project into eclipse"
I'm trying to build the latest version myself because 1.0.3 app gives me an empty recordings screen and the problem seems to be solved, but the updated app is not yet in google play

I'm a bit of a noob, but I have worked with both eclipse and ADT/NDT in the past, just not in combination.
I managed to install eclipse on mythbuntu (seemed appropriate ;-) from the software center.
I then installed t

[2012-12-22 16:16] dmfrey commented on #97
I really need to update those instructions for setting up the development
environment on the wiki. As of android sdk 21, they now include a fully
configured eclipse environment.

Also, you will want to import it as an existing maven project.

Let me keep how that goes and, in the meantime, I will try to get the wiki
updated. It will probably be after Christmas, however.

Dan
On Dec 22, 2012 7:36 A

[2012-12-22 16:21] dmfrey commented on #97
@billmeek do we have a label for 'Request' or 'Help' or something similar?
This is really not an Issue but, but more a request or request for help.

@frank16 this message is really more for our internal tagging in the github
issues tracker. Nothing wrong with your question.
On Dec 22, 2012 11:16 AM, "Daniel Frey" dmfrey@gmail.com wrote:

[2012-12-22 16:50] billmeek commented on #97
@dmfrey, I'll reply off list.

[2012-12-22 20:06] #96 closed, assigned to billmeek

[2012-12-23 12:23] frank16 commented on #97
Installing the Moron-Aid-Virtue-ENabler plugin in eclipse did it...
Maven took it from there. I am now on the latest from master. Finally the recordings are there!
(but, in all honesty, I haven't got a clue what I have done, which bothers me a bit)

Many thanks,
have a great holiday!

[2012-12-23 16:38] dmfrey commented on #83
Except for the program guide, this should be pretty much complete.

[2012-12-23 19:48] billmeek commented on #83
Update, running: mythtv-android-frontend-1.0.3-57-g8938730.

If I fire up both of my backends (and have no data in MAF) then when
I connect to one backend and load all data, all is A-OK.

When I then exit to initial screen and select  the opposite backend, the
data from the initial test remains (only testing Recordings/Upcommng/
Recording Rules.)

If I exit MAF and do a force stop on the applicati

[2012-12-23 20:17] billmeek commented on #90
Update running on: mythtv-android-frontend-1.0.3-57-g8938730.

This remains an issue for the new user (e.g. one who has never downloaded
anything.) The text in the initial "To duplicate:" section is correct.

So far, once I've clicked on every show's banner/title, the fatal exception
doesn't repeat.

A fresh LogCat is here: http://paste.ubuntu.com/1460300/ and the exception
fires at line: 3944.

I

[2012-12-23 20:57] billmeek commented on #94
Marking as closed as original issue is fixed in 1.0.3. Please reopen if you disagree. The 2nd issue
is fixed in 1.0.4.

[2012-12-23 20:57] #94 closed, assigned to nobody

[2012-12-24 05:37] billmeek opened #98 "Upcoming recordings that start at midnight display on the previous day's screen"
If a show starts a 0600Z (and I'm in UTC-6 land) then the show
is displayed on the Upcoming recordings screen for the previous
day.

  http://paste.ubuntu.com/1461150/ = LogCat after pressing Upcoming
  http://paste.ubuntu.com/1461159/  = http://mc0:6544/Dvr/GetUpcomingList?ShowAll=false

I had to replace all of the <'s in the xml with LessThanSign- in order for the pastebin
to accept it.

In the

[2012-12-28 17:07] netmindz opened #99 "Retrieving master backend hangs"
If I try and add a new away profile when away home home the app gets stuck at retrieving the master back end details. If I try the URL I am entering into the browser, the web services site opens fine

[2012-12-28 17:07] netmindz commented on #99
P.s same behavior on jelly bean and ice cream sandwich devices

[2012-12-28 17:49] netmindz commented on #99
Found the issue. The app adds the default port to the URL if none is defined rather than using the http default. Regardless of this, the app shouldn't just ”spin forever ”, there should be an appropriate timeout and error displayed to user ”connection timeout" or "connection refused"

[2012-12-29 03:56] jmturner commented on #73
Hmm. My Myth backend is up (as verified by my Ubuntu client, yet my MAF 1.0.4 on my Lenovo K1 crashes when I click on Recordings. Running Android 3.2.1. (Unfortunately, I don't have any debug logs as I don't have USB support set up in Ubuntu for this tablet yet.) Myth backend is 2:0.25.2+fixes

[2013-01-01 16:16] dmfrey commented on #99
Are you port forwarding your mythtv backend port (default: 6544) to port 80 or 8080 or something like that?  We default to 6544 since most people will not change the default port.  Can you tell me what your public settings are?  Feel free to mask your server name.

[2013-01-04 12:17] djmuk opened #100 "LiveTV?"
Is having the facility to watch LiveTV on the roadmap?

There is another 'Mythfrontend' client in the play store which does provide this facility but the developer says he has stopped development because the 'official' android port is available...

https://play.google.com/store/apps/details?id=se.tinelin.android&feature=also_installed#?t=W251bGwsMSwxLDEwNCwic2UudGluZWxpbi5hbmRyb2lkIl0.

developer

[2013-01-05 00:40] billmeek opened #101 "If the MythTV backend isn't running, the applications prints the "Unfortunately..." message"
Running on: mythtv-android-frontend-1.0.4-20-gfd40b08

To duplicate:

<pre>
Shutdown the backend
Start MAF
Select Home
Select Recordings
</pre>

A toast message will warn that the backend isn't connected.

The "Unfortunately, MythTV Android Frontend has stopped" message
will pop up. After pressing OK, the user will be returned to the Home/Away
page.

The fatal exception fires on line 1122 of: http

[2013-01-07 18:01] Korny614 opened #102 "Mythbuntu 0.26 backend FileName missing messages."
I am able to connect via the web on port 6544 with no issues, infact that is where the log came from.  I keep getting this error however when I try to connect from my phone.  I am able to browse my recording perfectly.  I'm not sure if this is a permissions error or what the issue is.  Any suggestions would be appreciated
2013-01-07 11:51:01 MainServer::ANN Monitor
    2013-01-07 11:51:01 adding:

[2013-01-07 18:09] billmeek commented on #102
On the backend, type: mythbackend --setverbose upnp and rerun the above test.
You might find that the missing files are banners and or coverart.

[2013-01-07 18:22] billmeek opened #103 "Writing exception to parcel"
Running on: mythtv-android-frontend-1.0.4-26-gf2cd2a0

I haven't noticed this exception before. It appears to be new
with the 'pre-transcoding' changes. This is a LogCat error
only, not visable to the user (as far as I can tell.)

To duplicate:

[code]

Please see line 239 here: http://paste.ubuntu.com/1507278/

[2013-01-07 19:12] billmeek opened #104 "Scan Network/Add New Home (or Away) Profile allows users to save duplicate profiles"
Running on: mythtv-android-frontend-1.0.4-26-gf2cd2a0

If a user rescans their network and chooses to save a profile that
already exists, they will end up with duplicate entries.

To duplicate (no pun intended):

[code]

This isn't a problem unless the user makes the duplicate profile the
"Selected Home Profile".

If the active duplicate profile is deleted (there's no way to tell which
of the dupl

[2013-01-08 21:20] billmeek commented on #103
Update.

I've "solved" this by removing the app and all data. Leaving this open in case it comes
back.

This error fires whenever leaving the Recordings, Upcoming, Guide or Recording Rules
screens.

Planting Log.d statements in: src/org/mythtv/provider/MythtvProvider.java in the CHANNELS
case in bulkInsert( Uri uri, ContentValues[] values ) showed that the error fires when the
insert.execute() is

[2013-01-10 20:33] dmfrey commented on #85
still an issue?

[2013-01-10 21:01] dmfrey commented on #101
i think i know what is going on here...the process to query for images is firing even though the backend connection has not been established.

[2013-01-10 21:04] billmeek commented on #85
Running on: mythtv-android-frontend-1.0.4-26-gf2cd2a0

Short answer: yes.

I had one show with only one episode. When I deleted it, the title (it had no banner)
went away, but the episode detail remained (it had no coverart either.)

A second show had both coverart and a banner and two episodes. When the
one episode was deleted, its detail remained until the remaining episode was
selected. When th

[2013-01-10 21:10] dmfrey commented on #85
ah, ok, wasn't considering after delete.  Should be easy enough to fix.

On Thu, Jan 10, 2013 at 4:04 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-01-13 09:20] fastcat opened #105 "Backend / Frontend discovery doesn't work"
I looked at the code and the network, and I don't see why, but neither backend nor frontend discovery via mDNS queries is working for me.

I used wireshark to verify that the mDNS queries are going to my backend machine, and that it is responding to them.

I used this android tool http://cafbit.com/entry/testing_multicast_support_on_android to make sure that my tablet and phone can receive the mul

[2013-01-13 13:43] dmfrey commented on #105
Is the avahi-daemon running on your backend and frontends?

You can also load a stand alone zeroconf browser on  your laptop/desktop to
see what is broadcasting on your network.  There is one available in the
ubuntu repos, but not sure of the status of other distros.

On Sun, Jan 13, 2013 at 4:20 AM, Matthew Gabeler-Lee <
notifications@github.com> wrote:

##

My Google Profile http://www.google.co

[2013-01-13 15:57] dmfrey commented on #22
This has been released to the market:

https://play.google.com/store/apps/details?id=com.tikinou.googletvmyth&feature=search_result#?t=W251bGwsMSwyLDEsImNvbS50aWtpbm91Lmdvb2dsZXR2bXl0aCJd

[2013-01-13 15:57] #22 closed, assigned to nobody

[2013-01-13 16:01] dmfrey commented on #76
This will be changing in the next release.  You will be able to Pre-transcode by pressing the new + icon in the action bar.  Also, they will no longer be automatically deleted.  There will be an X in the action bar in place of the + once it has been transcoded.  Existing play functionality still works as is, except the stream is not removed automatically anymore.

You should be able to ff/rew depe

[2013-01-13 16:01] #76 closed, assigned to dmfrey

[2013-01-13 16:03] dmfrey commented on #85
This has been resolved it the latest commit

d72e7a5

[2013-01-13 16:03] #85 closed, assigned to dmfrey

[2013-01-13 16:04] dmfrey commented on #67
This has been added back.  Now the default choose pops up and allows you to select whichever player you want either Just Once or Always in 4.0+

[2013-01-13 16:04] #67 closed, assigned to dmfrey

[2013-01-13 16:48] liftman commented on #67
thanks
im running 4.2.2 now- still running good

Thanks

Jay Lang
TK Mobile 614-560-6610
Other 740-807-1238
On Jan 13, 2013 11:04 AM, "Daniel Frey" notifications@github.com wrote:

[2013-01-13 16:49] dmfrey commented on #67
This will be available in v1.10
On Jan 13, 2013 11:48 AM, "liftman" notifications@github.com wrote:

[2013-01-13 19:55] fastcat commented on #105
yes, the avahi daemon is running on the system (backend and frontend are the same machine).  mdns-scan on the laptop can see both of them, and that android app I linked can too from the android devices.

[2013-01-13 20:40] billmeek opened #106 "Episodes that start recording after the scheduled starttime can't be deleted."
Running on: mythtv-android-frontend-1.0.4-29-gd72e7a5

To duplicate:

[code]

When trying to delete a 'partial' episode, the: "Episode NOT deleted!" toast message
prints. The episode is not deleted on the client or on the backend.

I'm not sure if MAF is sending the wrong data or if the backend is at fault.
The timestamp sent from MAF to the backend is that of the scheduled
starttime, not the actu

[2013-01-13 21:17] billmeek commented on #105
@Churten, great detail in your report, thanks.

I was able to duplicate this once. But I was testing too many things at the time
and didn't notice this failure until much later in the day. The 'solution' was re-
starting my frontend.

Could you/have you already tried the following command on one of your hosts?
I added the output from one of mine for comparison (ofc0 is a frontend.) And, I'm
not su

[2013-01-13 21:30] fastcat commented on #105
From my laptop:

[code]

(server and laptop have link local ipv6 enabled, but I think the myth apps are only listening on localhost for ipv6)

/etc/defaults/avahi-daemon has AVAHI_DAEMON_DETECT_LOCAL=1

I'm running debian testing (wheezy)

Also, I tested what I assume is the "original" mythmote (http://code.google.com/p/mythmote), and while it does not support mDNS discovery, I was able to enter i

[2013-01-17 16:47] billmeek commented on #105
@Churten in your last response, is cheetah.lo the real hostname, or is that just the
avahi-browse tool truncating cheetah.local? As to your comment about MythTV
apps only listening on IPv6, I know if I do: sudo netstat -pant | grep myth, on my
backend, it's listening on both.

@pot8oe, @dmfrey, I'm labeling this as a bug. Do either of you know of a method
for diagnosing this? @Churten seems to hav

[2013-01-17 16:57] fastcat commented on #105
cheetah.lo is a "real" local hostname, in that I have a DNS server running resolving my LAN addresses forwards and backwards for the fake ".lo" domain.  LAN clients connecting via DHCP see that dns server (really a [dnscache](http://cr.yp.to/djbdns/dnscache.html) instance that knows about both that local dns server and the public internet).

I was a bit unclear on the ipv6 part ... what I meant wa

[2013-01-17 17:36] #105 closed, assigned to nobody

[2013-01-17 20:00] pot8oe commented on #105
I have been having intermittent issues with auto discovery. It does not appear to have anything to do with the android app. Mine has not been working for the last week. This morning I updated and rebooted my backend and frontends. Also I restarted my router. I'm not sure why exactly but as I write this auto discovery started working. It's driving me sh*t house because it is getting in the way of t

[2013-01-17 23:28] sleblanc opened #107 "Everything works but no recordings show up"
All other functions seem to work - so I see the guide and upcoming recordings - just no existing recordings. The troubleshooting steps also show no messages at all for any operation - e in though other operations work.

Any ideas?

[2013-01-17 23:42] billmeek commented on #107
If you're referring to "no messages at all" in the mythbackend logs, did
you do the: mythbackend --setverbose upnp command first?

[2013-01-18 04:17] sleblanc commented on #107
Thanks - that gave me  the logs.

When I hit Recordings on the tablet - I get the following (which I think
is corretc) - but no recording info is returned!
Any ideas?

<pre>
Jan 17 23:14:37 mythserver mythbackend[22939]: I HttpServer42
httprequest.cpp:1281 (ExtractMethodFromURL) ExtractMethodFromURL(end) :  : /
Jan 17 23:14:37 mythserver mythbackend[22939]: I HttpServer42
httprequest.cpp:228 (Send

[2013-01-18 04:51] billmeek commented on #107
Yes, that looks good, most importantly:

<pre>
Jan 17 23:14:38 mythserver mythbackend[22939]: I HttpServer42 servicehost.cpp:281 (ProcessRequest) ServiceHost::ProcessRequest: GetRecordedList : GET /Dvr/GetRecordedList HTTP/1.1#015
Jan 17 23:14:38 mythserver mythbackend[22939]: I HttpServer42 httprequest.cpp:241 (SendResponse) HTTPRequest::SendResponse(xml/html) () :200 OK -> 192.168.0.109: 4
</pre

[2013-01-18 05:28] sleblanc commented on #107
Thanks again!

Linux distro is Ubuntu

MythTV Version : v0.25.3-31-gfa3ebd4
MythTV Branch : fixes/0.25
Network Protocol : 72
Library API : 0.25.20130112-1
QT Version : 4.7.4

MythTV Android - latest version (1.0.4)

If the URL above really should have the comma - then I get an error - with no comma - I get the XML output.

Here's the link  to the output (which looks good as far as I can tell)

htt

[2013-01-18 06:28] billmeek commented on #107
It does look good (and the comma was a typo.)

Can you describe in some more detail what happens when you go to the
Recordings screen? There should be messages saying:

[code]

And I forgot to ask, what type of Android device are you using?

[2013-01-18 13:45] sleblanc commented on #107
That's exactly what I get - just no recordlings in the list.

|Syncing Recorded Programs and then
Recorded Programs are up to date!|

I running on a Nexus 7 with Android 4.2.1

[2013-01-18 13:50] dmfrey commented on #107
Can you copy and send the output of the GetRecordedList call previously
mentioned in this thread?  I am thinking it is failing to parse the XML for
some reason.  Possibly with a special character or something in the XML
getting returned.  You should be able to attach it here as a text document.

On Fri, Jan 18, 2013 at 8:45 AM, sleblanc notifications@github.com wrote:

##

My Google Profile http:/

[2013-01-18 14:00] sleblanc commented on #107
There was already a link in the ticket to the output. Here is is again ...

https://gist.github.com/4562542

Steve

On 1/18/2013 8:50 AM, Daniel Frey wrote:

[2013-01-18 14:46] dmfrey commented on #107
That data is incomplete.  There are only 2 lines in the document posted.
 Can you re-run it again and re-attach it?

How many recordings do you have on your backend presently?

On Fri, Jan 18, 2013 at 9:00 AM, sleblanc notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-01-18 15:31] billmeek commented on #107
@dmfrey, the 2nd line has all the data, it's just all on the 2nd line. That has
been my experience any time I've done this before. It's 384kB with 219
programs.

To look at it, I use vi and then do:

[code]

It won't have the  proper indenting, but at least it can be searched. I'll look
at his again with an eye out for special characters. Good tip.

[2013-01-18 16:22] billmeek commented on #107
I noticed that @sleblanc has the following:

[code]

My ChanNum/CallSign/ChannelName have no # sign in them (and use things
like 5_1/WXYZ/WZYZ respectively.)

I did a g/[a-z]/s///g to remove all lower case ASCII, then repeated with [A-Z]
and [0-9]. Then deleted /^<>$/ and ^<\/>$ etc. That left the file with mostly
punctuation.

 I didn't see any other characters that struck me as out of place.

[2013-01-18 16:24] dmfrey commented on #107
We also need to see the result of GetChannelList to see if these match.

On Fri, Jan 18, 2013 at 11:22 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-01-18 18:38] billmeek commented on #107
@sleblanc, please pastebin the output of:

[code]

Side note, when I do the above (0.27pre2,) ALL strings are
empty and integers are 0. Yet the <Count>72</Count> matches
the SQL query SELECT chanid FROM channel;. GetChannelList
doesn't exist.

[code]

[2013-01-18 22:52] sleblanc commented on #107
Thanks!
I updated the same document with formatted XML output from the GetChannelInfoList call as asked. I put the results in the same doc as before - and also updated the GetRecorded output to formatted xml (same doc)

As you suggested - the channelList data is all zero!

https://gist.github.com/4562542

[2013-01-18 23:29] billmeek commented on #105
@Churten, I was able to duplicate this by starting my backend with the --noupnp option.
avahi-browse still reported the "_mythbackend-master._tcp local" string, but discovery
from the Android didn't work. If your backend is running, check with:

[code]

Thanks.

[2013-01-18 23:38] fastcat commented on #105
My backend is running with these args: `/usr/bin/mythbackend --daemon --syslog local6 --pidfile /var/run/mythtv/mythbackend.pid`
I'm using the myth packages from http://www.deb-multimedia.org/ FWIW.

I checked the database tables to see if there was anything related to UPnP being disabled.  I have some old log entries about disabling upnp at runtime when the backend was only listening on localhost

[2013-01-19 04:50] dmfrey commented on #103
Fixed with commit d78af4b

[2013-01-19 04:50] #103 closed, assigned to dmfrey

[2013-01-19 04:51] dmfrey commented on #100
David,

At this time, the Mythtv Services API and HTTP Live Streaming do not support Live TV.  Once the backend supports it, we will as well.

[2013-01-19 04:51] #100 closed, assigned to nobody

[2013-01-19 04:55] dmfrey commented on #98
Program Guide is going to be refactored to use the Content provider.  Keep this open, but the current implementation will go away.

[2013-01-19 04:59] dmfrey commented on #83
@billmeek where did we leave off on this?  Are all of these still issues? do they need to be created as issues?

[2013-01-19 19:21] billmeek commented on #105
@Churten, the above matches my settings (other than the uuids.) With
upnp logging on, you should see lines like:

[code]

with you uuids in them. But, I suspect that since you've seen the backend on your devices
already, that's not the problem.

I did try the tool you mentioned in you initial post, as well as Bonjour Browser
and ZeroConf Browser from the Play Store.

The response from the query on

[2013-01-19 22:25] billmeek commented on #83
@dmfrey, Just retested. Yes, they're open. I wasn't clear about where you were
in development, but I'll take your comments as a go-ahead to open issues. I'll
start with just one as I have know idea if fixing one issue will fix them all.

I'm closing this and will reference it in related new issue(s) in case users read it
and want status.

[2013-01-19 22:25] #83 closed, assigned to dmfrey

[2013-01-20 02:03] billmeek opened #108 "Multi-host testing: Upcoming Recordings don't get updated on newly selected host."
With the ability to use multiple backend hosts (databases,) a new set of tests
were developed. The assumption being that a user can switch between hosts
on-the-fly and get the appropriate data.

This is related to #83 and starts with tests of the Upcoming Recordings screen.

**Test Plan**

[code]

**The results for the Upcoming screen are:**

[code]

The above was done on: mythtv-android-frontend-

[2013-01-20 20:04] billmeek commented on #106
Retested as requested in the commit.

The problem still exists. Here's what I've collected: http://paste.ubuntu.com/1553125/

Note that for 'normal' recordings, e.g. recordings that were not restarted after their
starttime, the fix works. Also note the 1970-1-1 00:00:00 timestamp.

Just to make sure, I changed the code back to the original method and retested.
Trying to delete this recording (and

[2013-01-20 23:00] billmeek commented on #106
Just to verify that the data passed from MythTV is correct/available, I did a:

[code]

I tried adding this just before the change:

[code]

and the Log.v did fire.

Full XML is here: http://paste.ubuntu.com/1553453/

[2013-01-21 13:30] ebisumartin opened #109 "Can't establish connection to MythTV"
I can not get any connection from MythTV Android on my Samsung Galaxy 10.1 tablet to my MythTV backend (Mythbuntu 12.10).

My Mythtv is on 192.168.0.4 and in "Host Address Backend Setup" the Port is 6543 and the Status port is 6544. In the Remote Control section of the General Setup interface, the Network Remote Control port is set to 6546, and Enable Network Remote Control interface is enabled.

[2013-01-21 17:54] billmeek commented on #109
Please try this from a browser on your backend:

[code]

If that works, try it from your tablet (I have a Galaxy 10.1 too, FYI)

If that fails, on you backend, enter this message:

[code]

Then retry the browser tests from the backend and the tablet.

Look in your backend log file, the response should be (in part:)

[code]

[2013-01-21 18:12] billmeek commented on #107
I retried the last test and IT WORKED this morning. I can't explain why
other that the host has been powered down between tests, not to mention
dozens of backend restarts. Here's a direct copy/paste of what I used:

[code]

You can add the Source ID, like this too:

[code]

Please consider restarting your backend in order to get an answer to
@dmfrey's question. Thanks.

[2013-01-21 18:18] billmeek commented on #75
No response after 30 days. Please consider a retest on version 1.0.4 and
reopen this issue if it still fails. Thanks.

[2013-01-21 18:18] #75 closed, assigned to nobody

[2013-01-21 20:21] sleblanc commented on #107
Thanks! I've restarted my back end multiple times - still the same result. One question though - When I perform the second operation - I get results (including a SourceID of 1) - with no source ID specified - I get XML elements for all of the channels - but no data. Does the Android Frontend code to show recordings use this call? When I do a call to Channel/GetVideoSourceList - I get the following

[2013-01-22 00:22] billmeek commented on #107
When I looked at the backend code, if SourceID isn't provided,
then a an SQL query like this is made:

[code]

which returns no data. So, from the backend's perspective,
the SourceID=n is required. I just haven't found any documentation
that says it. Sorry for the bad info. If I understand you last post
correctly, you did get info when SourceID=1 was used. If so,
please post the output where you d

[2013-01-22 00:44] sleblanc commented on #107
Ok - I updated the same document with the XML output with SourceID set to '1'. If the expectation is sending no source ID in - and you'll get ALL sources back - that appears to not work that way (in fact I'm suprised you get anything back - because I tried sending in a SourceID of 2, and got nothing back.

It would appear that to get all of the channels from all sources - you should execute the 'C

[2013-01-22 01:29] billmeek commented on #107
Unless you truncated the list:

That says that you only have 26 channels defined. I didn't look any
further, but chanid 1021 isn't in the list, but it is in the programs:

[code]

If it were me, I'd verify that on the backend like this:

[code]

[2013-01-22 03:21] sleblanc commented on #107
That actually makes sense  - cable provider redefined channels so some
channels would be there on old recordings - but no channel data.

I also the imported a bunch of old recordings from a crashed system - it
could also be these that are causing issues.

I did not truncate any data - but can look at adjusting it - would that
cause recordings not to show up?
 On Jan 21, 2013 7:22 PM, "billmeek" no

[2013-01-22 04:15] billmeek commented on #107
I'd suggest 'fixing' one channel to see if it makes a difference.
If that works, then they all need to be adjusted. If you have
mythweb working, its easy to do. All the relevant channel
information is on one page. Maybe start with 1021.

[2013-01-22 05:32] sleblanc commented on #107
Fixed all the 'old' channels to the 'new' channel numbers (lucky I'm only recording from 3-4 stations at this point) - still no luck! Now - a single recording listing looks like this ...

[code]

But if I look at Channel table in the DB - all fields are there.
Any other ideas?? What do you get when you do the same call??

[2013-01-22 14:12] ebisumartin commented on #109
Thank you for your response. I tried your test on my browser on my tablet, and it worked.

After that, the app still wasn't connecting, but I killed the cached process on the tablet, restarted the app, and then I was able to get it working. I'm not sure exactly what step was necessary, but it would seem that it's helpful when trying new settings to completely stop and restart the app.

Unfortunate

[2013-01-22 19:16] billmeek commented on #107
@dmfrey, can you explain what happens in this case, where existing recordings
no longer match what's in Channel/GetChannelInfoList?SourceID=X ?

My sense is that users (especially cable users) that have their channels
redefined will loose some/all of their recordings if getting them depends
on matching what's in the channel table on the backend.

A very common solution used on the mythtv-users mai

[2013-01-22 19:36] billmeek commented on #107
@sleblanc, one other suggestion, that I've used when testing.

Delete the app, verify that all files are gone with My Files:

[code]

Then reboot the device and reload 1.0.4.

[2013-01-22 20:46] sleblanc commented on #107
Thanks again.

So ... did exactly as you suggested. uninstall, clean, reboot, and reinstall.
Server discovered as my Home server.
Upcoming, Recording Rules, and Guide all work (as they did before).
Recordings - still the same - shows no recordings.

I agree that the data looks the same.

Could it be a very subtle difference in MythTV versions (since I'm running 0.25)?

Also - I looked at the cache

[2013-01-22 21:43] dmfrey commented on #107
Bill,

I don't think so.  The channels get regularly updated as well.  So if
changes are deleted/moved/added, they will get updated (no matter what it
is), then the next recorded up should just line up.

Also, if a recording comes down, that has no physical channel tied to it,
and the recording has channel details from when it was recorded, then the
channel is added by the recorded load process.

[2013-01-22 22:20] billmeek commented on #107
@sleblanc, I really appreciate you taking the time to test this. And,
after asking you to uninstall/remove data/reboot you can
tell I'm leaving the realm of scientific trouble shooting.

I know that there were folks on 0.25 with this app working and I
suspect that if it were a 0.25 issue, we'd have heard about it.

If you want to contact me off-list, spell my name backwards and
use gmail. I have s

[2013-01-22 22:40] sleblanc commented on #107
Sent email - debug away!!

Thanks again
Steve

[2013-01-23 01:51] billmeek commented on #107
@dmfrey, here's a copy of LogCat for Steve's and My entries to the
Recordings page. His fails, mine works. He's on 0.25, I'm on 0.27-pre2.
The two major changes I can think of are Etags and UTC.

Steve's Recordings page: http://paste.ubuntu.com/1561119/
My Recordings page: http://paste.ubuntu.com/1561265/

On line 508 of mine I see: I/RecordedDownloadService(30466): download : GetRecordedList retu

[2013-01-23 15:05] billmeek commented on #109
Glad to hear you've got it running and thanks for your comments.

The Feature Status Wiki has been updated to include the 1.0.4 release.
The status is the same, but 1.0.4 should have been there.

The Connection Troubleshooting Guidelines Wiki mistakenly referred
to "videos", and has been corrected to "recordings".

I'm debating the addition of a 'kill cache' instruction. I do understand
it would h

[2013-01-23 15:05] #109 closed, assigned to nobody

[2013-01-24 00:52] billmeek commented on #107
In title NCIS- LosAngles/subtitle Blye, K., Part 2" recording, the
<EndTime/> is empty and a NullPointerException is fired. There
could be others, but not saving the endTime 'fixes' the problem.

[2013-01-24 21:26] billmeek commented on #107
Changed label to bug. The root cause of this issue was invalid data in the
user's mythconverg, resulting in an endtime return of:  <EndTime/>.

The above caused an NPE and the Recordings screen never loaded.

Thanks to @sleblanc for his assistance and finding that the error was in
his progend column = '0-0-0 0:0:0' not in endtime, as I had suspected.

The reason for not getting the GetRecordedList

[2013-01-25 21:59] #98 closed, assigned to dmfrey

[2013-01-25 21:59] #108 closed, assigned to dmfrey

[2013-01-25 23:35] billmeek commented on #90
This was failing when I tested this morning, but after applying 33f9c62,
I can't get it to fail. Closing this for now.

[2013-01-26 03:22] billmeek commented on #58
@ outlaws42, check the permissions on the directory above. It must be writable
by the user running the mythbackend, typically, that would be mythtv. Another
way, and perhaps a better way, is to create a Streaming Storage Group, and
choose a directory such as /var/lib/mythtv/streaming. mythtv permissions apply
here too.

[2013-01-26 03:41] billmeek commented on #73
@jmturner, a fix was just added to the development version to treat errors
in the MythTV database. Can you try this command and look for "odd" time
stamps in the output please?

[code]

In the issue just fixed, progend was 00-00-00T00:00:00.

[2013-01-26 16:35] jmturner commented on #73
@billmeek, my progend entries all have normal values.
[snip]
| Masterpiece Classic | 2013-01-23 16:00:00 | 2013-01-23 17:30:00 |
| NOVA                | 2013-01-23 21:00:00 | 2013-01-23 22:00:00 |

 It doesn't look like this is the same issue.

[2013-01-26 16:50] billmeek commented on #73
@jmturner, thanks for checking.

If you're willing to let me access your backend via port 6544,
I can test this from my tablet and capture program flow with Android
debugging tools. Contact me off list if you're interested. Spell my name
backwards and use gmail.

[2013-01-26 23:38] fastcat commented on #105
[code]

Hmm ...

[code]

Is this mismatch between hostnames perhaps part of the problem?

[2013-01-27 00:01] billmeek commented on #90
While testing the 2nd failure mentioned in #73, this was seen. Both in the
Play Store 1.0.4 version and in mythtv-android-frontend-1.0.4-40-g716f6d0.

LocCat is here: http://paste.ubuntu.com/1574413/ and the failure is on line
3972.

One thing of note, unlike my system, @jmturner has no artwork.

I'm not able to duplicate this with my data. Not with 1.0.4 or development.

[2013-01-27 00:02] billmeek commented on #73
Worked off list with @jmturner. This _may_ be MythTV data specific.

Closing this and re-opening #90 to track the Recording screen failure.

[2013-01-27 00:02] #73 closed, assigned to nobody

[2013-01-27 14:27] dmfrey commented on #106
All Recorded programs should have a Recording entry.  I believe that is a 1-1 relationship between recorded and recording.  Can pastebin the sql output of the recording relationship?

I am thinking there has to be a combination of the start timestamp that isn't matching.  Does turning up the upnp logging on the backend show anything when trying to delete this episode via the app?

I think we might

[2013-01-27 15:09] #90 closed, assigned to dmfrey

[2013-01-27 15:12] dmfrey commented on #73
Attempted to reproduce first with network available, then with network not available.  Could not reproduce the issue.

[2013-01-27 15:36] billmeek commented on #106
SQL is here: http://paste.ubuntu.com/1553125/ note the starttime on line 19, the basename
and progstart on lines 49 and 50. Recording began 2 minutes after the hour in this case,
but the scheduled start was on the hour. This happened when I used the frontend's guide
(EPG) and pressed r on a show that had already started.

The backend log lines are on lines 2 and 6 of the file.

The http://paste.ub

[2013-01-27 15:47] dmfrey commented on #106
Yes, i was looking at those files.  The sql i was referring to was the
recording table, not the recorded table.

This is what I think is going on...

When we send that data to the backend to issue a delete, we are sending the
in the timestamp, but they are different, so it is probably trying to find
a recording with either the start time of the recordied or the start
timestamp of the recording, bu

[2013-01-27 16:08] billmeek commented on #106
Yes, makes sense. Yet when

[code]

was used, it was null, I don't understand that.

I think this is what you want:

[code]

Are you referring to the record table for the SQL?

[2013-01-27 17:07] dmfrey commented on #101
should have been fixed with #90

please re-test and close if no longer occurring

[2013-01-27 17:58] billmeek commented on #105
Thanks for getting the SQL and yes, it appears to be related to the
suffix. I changed my /etc/hosts to simulate your DNS setup:

[code]

Here's what avahi-browse -r _mythbackend-master._tcp looked like:

http://paste.ubuntu.com/1577413/ (mc0 = OK, mc1.lo = fails)

Of course that meant my MythTV profile (a.k.a. hostname) changed too so
I had to go through the setup process. But the app did fail to

[2013-01-27 19:10] billmeek commented on #101
Retested on: mythtv-android-frontend-1.0.4-42-gd6bb6d9.

Fails. Fresh LogCat: http://paste.ubuntu.com/1577526/ see line: 129
later on line 202 the connection fails.

Note:

I tried pressing the Recordings button again after the failure above. The
fatal exception may or may not fire. The user is returned to the Home
screen. In no case did the toast message warn the user that the backend
isn't conne

[2013-01-27 20:19] billmeek commented on #101
I'm closing this, as I can't duplicate it after doing a complete
remove of the app/data and a reboot.

[2013-01-27 20:19] #101 closed, assigned to dmfrey

[2013-01-27 21:13] dmfrey commented on #101
When the last error occurred before closing the ticket, were you doing a hls trans code on the back end? The error seemed to indicate it was checking the status of the hls transcode.

[2013-01-27 21:53] billmeek commented on #101
Not that I remember.

I just looked in both backends (the 192.168.1.204 means mc0) and there are no
entries in /var/log/mythtv/mythtranscode\* for today.

[2013-01-28 21:33] fastcat commented on #105
There's a hostname changer script in the mythtv distribution that I've used before successfully, so I'll give that a shot and drop the id to just the short hostname and give that a try.

[2013-01-29 02:25] billmeek commented on #106
Documenting some research:

Just to verify that an episode can be removed, I sent these two lines from
my browser. The 1st returned false and the 2nd returned true (and the
recorded table shows: recgroup = Deleted.

http://mc0:6544/Dvr/RemoveRecorded?ChanId=1201&StartTime=2013-01-12T20:00:00
http://mc0:6544/Dvr/RemoveRecorded?ChanId=1201&StartTime=2013-01-12T20:02:00

The timestamps used were, res

[2013-02-06 01:25] billmeek commented on #102
No response after a month, closing.

[2013-02-06 02:01] billmeek commented on #99
No response after a month, but I can duplicate the condition.

To Duplicate:

<pre>
Add a new Home/Away profile
Enter an invalid IPv4 address and or port
Press Save
</pre>

The following will pop up:

<pre>
Please wait...
Retrieving Master Backend Details
</pre>

The above never times out and the Task Manager must be used
to stop the application.

LogCat here: http://paste.ubuntu.com/1614734/ note

[2013-02-06 18:40] billmeek opened #110 "IllegalArgumentException: View not attached to window manager (Fatal Exception)"
Testing on current master. Via remote access to a user's backend.

All four screens work, however, when a recording is selected e.g.
pressing the eye icon, the application fails. The user was also unable
to submit a crash report to the Play Store.

LogCat is here: http://paste.ubuntu.com/1617399/ see line: 3349 for:

[code]

Perhaps related is line 3243:

[code]

[2013-02-08 21:04] #110 closed, assigned to dmfrey

[2013-02-08 21:04] #104 closed, assigned to dmfrey

[2013-02-08 21:06] dmfrey commented on #99
fixed with commit 64a418d

closed with issue #104

[2013-02-08 21:06] #99 closed, assigned to dmfrey

[2013-02-08 21:14] dmfrey commented on #54
this appears to be a rare daylight savings issue.  I checked the Google Play console and it doesn't appear to have happened in quite some time.  Recommend closing for now.

[2013-02-08 21:30] #54 closed, assigned to nobody

[2013-02-08 22:22] dmfrey commented on #106
I know what is going on here...

The data is loading correctly.  However, to join the Recorded table with the Recording table, my join is on record_id and start time.  Since the two start times are different, a join is never made, so when the start time is off from the program time, the recording record comes back null.  I need to add another key to the table that indicates the program start time

[2013-02-09 03:49] #106 closed, assigned to dmfrey

[2013-02-10 00:13] billmeek opened #111 "Activity org.mythtv.client.ui.preferences.LocationProfileEditor has leaked window"
Running on: mythtv-android-frontend-1.0.4-46-g2168017

Doesn't crash the app, but I haven't seen this before.

To Duplicate:

[code]

LogCat here: http://paste.ubuntu.com/1631142/ lines 145 and 231

[2013-02-10 01:44] billmeek opened #112 "Upcoming page: sqlite returned: error code = 1, msg = ambiguous column name: START_TIME, db=xxx"
Running: mythtv-android-frontend-1.0.4-47-g1c067fc-dirty

The error:

[code]

always fires when the Upcoming screen is entered. The user is returned to the
Home/Away page. A fatal exception may or may not occur.

To Duplicate

[code]

Note, this is even with my most recent patch commented out
Guide, Recordings, Recording Rules screens work fine.

LogCat is here: http://paste.ubuntu.com/1631401/ li

[2013-02-10 01:53] dmfrey commented on #111
I am not sure what is different between your tablet and mine, but I don't
get these errors on mine.
On Feb 9, 2013 7:13 PM, "billmeek" notifications@github.com wrote:

[2013-02-10 02:03] billmeek commented on #111
FWIW: Galaxy 10.1, Android 4.0.4, Kernel 3.1.10.

I just retried the test. The app has been completely removed and reinstalled.
The tablet has been rebooted. I still get the errors (one for each backend.)
My recent commit is still commented out.

[2013-02-10 17:35] #111 closed, assigned to billmeek

[2013-02-10 18:41] #92 closed, assigned to dmfrey

[2013-02-10 18:41] #93 closed, assigned to dmfrey

[2013-02-10 18:53] #112 closed, assigned to dmfrey

[2013-02-10 22:32] billmeek commented on #97
Updated Wiki: https://github.com/MythTV-Clients/MythTV-Android-Frontend/wiki/Development-Environment-Setup

Closing issue.

[2013-02-10 22:32] #97 closed, assigned to billmeek

[2013-02-11 00:06] dmfrey commented on #97
These are great. Thanks for finishing that up. Been on my list for quite
some time and long overdue.
On Feb 10, 2013 5:32 PM, "billmeek" notifications@github.com wrote:

[2013-02-11 17:27] billmeek opened #113 "If no backends are available, Scan Network displays no popup/status"
New users may be confused by selecting Setup/Scan Network if
their backends aren't available and or mythbackend isn't running.

No status is given to the user.

When the backend comes up ( and Avahi is working) the Save/Cancel
screen comes up as expected.

To Duplicate:

[code]

Tested with/without d9afa87a72933bff7ca9ae37bd68719fbc98b993

LogCat here: http://paste.ubuntu.com/1636862/

[2013-02-11 18:14] billmeek opened #114 "Multi-host testing: Complete Guide"
The final step of the Multi-host project is the addition of the Guide screen.

As of (almost) 1.1.0, Guide displays the information from the most recently
selected host.

If another host is selected and the guide is synced (for example one day later)
then the 'old' host's data will remain and the new data will be for the 'new' host.

For example,

[code]

[2013-02-11 21:22] billmeek commented on #102
This the the only Error message remaining in the pre 1.1.0
release. It appears to be harmless.

It happens whenever the Recordings screen is entered and or
when its Refresh icon is selected.

The recent conversion to the Universal Image Loader seems
to have removed similar Warning messages.

I attempted to prevent the loading of images if the inetref was
Null or "", but wasn't successful. It appea

[2013-02-12 20:31] dmfrey commented on #102
In this case, I think this error is acceptable.

However, I think it would be a good idea to to utilize the artwork table, which is not currently being used.  This way, we could programatically check if we can load these or not.

I am thinking we eventually provide a dummy image in its place, when it doesn't exist.  Maybe have separate empty banners for TV, Movies and Music (i.e. the google music

[2013-02-12 21:28] billmeek commented on #102
@dmfrey, I added enhancement to the label and left it open to
track the issue. Agreed, it's not a show stopper, although users
with no artwork and 1K or 4K recordings might not like the spam
in their logs. I removed the 1.1.0 milestone too. I like the default
image idea!

[2013-02-12 21:31] dmfrey commented on #102
The new library has a facility adding default images if one can't be found
at the supplied url.  May look at that further.

On Tue, Feb 12, 2013 at 4:28 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-02-13 05:39] billmeek commented on #113
Repeated the "To Duplicate" above and still get no notification that
no backend(s) could be reached.

The Scan Network area just turns blue momentarily.

I was suggesting that something should notify the user that the scan
is in progress. Similar (or exactly the same as) what happens when
the user enters their IP address using Add New Home Profile.

[2013-02-13 14:50] dmfrey commented on #113
Ah, i see now.  I mis-read the issue.  I thought you wanted a popup for
when it didn't find anything.

I will adjust it to popup when it starts scanning and stop when it finished.

On Wed, Feb 13, 2013 at 12:39 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-02-13 19:17] dmfrey opened #115 "Convert all dates to UTC"
Currently, all dates stored in the database are stored in local time.  All dates should be stored in UTC.

Consequently, all sql queries using the times will also need to be updated to convert those times to UTC as well.

All objects will also need to be updated to convert UTC date/times to local times for display purposes

[2013-02-13 19:38] dmfrey commented on #55
Looking for consensus:

There was a previous undertaking to construct a series of DaoHelper classes for accessing the objects in the database.  This is complete, including loading the currently selected backend.

However, the original issue indicates that it should auto-switch on network change.  Looking back now, I believe this is a non-realistic scenario.  It should be user driven if you want to

[2013-02-13 20:12] billmeek commented on #114
Tested on: mythtv-android-frontend-1.0.4-57-g5ac7011

[code]

There were no mc1....json files in cache

LogCat: http://paste.ubuntu.com/1645958/

When I look at the backend logs for mc1, these are the only entries:

<pre>
2013-02-13 13:59:12.071646 N [3027/8012] ProcessRequest mainserver.cpp:5321 (HandleSetVerbose) - Verbose mask changed, new mask is:  general upnp
2013-02-13 13:59:38.008518 I [30

[2013-02-13 22:57] billmeek commented on #114
This may give a clue what isn't happening. I have the full
LogCat for each session (from the time Home is pressed
on both hosts.)

Running on: mythtv-android-frontend-1.0.4-58-g3e460cd

diff LogCat with comments.http://paste.ubuntu.com/1646839/

[2013-02-14 04:00] #114 closed, assigned to dmfrey

[2013-02-14 14:39] billmeek commented on #55
I'd agree. If the user leaves the relative safety of their home WiFi network,
then they should manually select an Away profile that uses SSH. It's not
very obvious, however, user's SchedulesDirect login and password are
passed in clear text when MythAPI::GetVideoSourceList is used.

And the detection of a lost network, be it on the tablet/phone, backend host
or no response on port 6544 is critical

[2013-02-14 15:01] dmfrey commented on #55
Agreed.

So I think we should do some testing related to does that app fail
gracefully (no app crashes) in all current implemented features when not
connected to the network.

For instance, you should be able to see program guide, upcoming and
recorded episodes, but you shouldn't be able to kick off a live stream or
video playback or even switch to mythmote.

On Thu, Feb 14, 2013 at 9:39 AM, billm

[2013-02-14 15:03] billmeek commented on #107
Reopening for tracking. The original fix handles the case of NULL EndTimes,
however on retesting with NULL StartTimes the app will fire an NPE.

As discussed off-list, flagging episodes like these as a Backend Database
Start/End Time Error would let the user see available information like other
episodes, however, hot play them (let alone fire the NPE.) The Wiki would
be updated to give users more

[2013-02-14 20:12] billmeek commented on #55
For this type of test, I've just been stopping the backend (for the most part.)

The app appears to me to do two levels of checking:

[code]

In other words, I'm suggesting that there is no test for backend host
access e.g. ping. Nothing wrong with that, I'm just not testing for it.
And I'm treating the whole avahi process separately.

So, to develop a test matrix, the generic 'rules' for the "no

[2013-02-15 15:40] billmeek opened #116 "No recordings on Recordings screen, Writing exception to parcel fires"
Working with a user on IRC that has 1051 recordings and 498 channels.

He's unable to see any recordings. Running MythTV 0.25 and MAF 1.0.4.

I tested with mythtv-android-frontend-1.0.4-60-g6877542 and also didn't
see any recordings on the Recordings screen.

LogCat: http://paste.ubuntu.com/1658249/ line 3141

The above is from pressing the Refresh icon on the Recordings screen.

I have GetVideoSo

[2013-02-15 16:50] billmeek opened #117 "Guide data download failures, isMasterBackendConnected : error, connecting to backend"
Connecting to this user's backend via the internet worked well in the
evening, however this AM, I'm getting repeated errors when trying
to upload his program guide.

If the Away screen is exited and reentered, the attempts to download
the program guide are restarted and again fail after a few hours are
collected. Yet, going to other screens e.g. Upcoming and Recording
Rules data is downloaded OK.

[2013-02-16 04:13] #113 closed, assigned to dmfrey

[2013-02-16 04:46] dmfrey commented on #55
All of the above were intentional.  I wanted to disable the ability to select any network-based functions while the network is down.  When they come back up, they reappear.

The last statement, I am not sure we can account for.  I expect the error to occur if the network goes away while a network operation is taking place.  We will have to see what the player is does when this happens as it is out

[2013-02-16 04:57] billmeek commented on #116
I reran the tests in an emulator and looked at the database. It may be
of interest to know that the program_group table is empty. etags is empty
which makes sense for a 0.25 user. program is empty on my mc0 host as
well as his.

[2013-02-16 15:39] billmeek opened #118 "Scan Network Fatal Exception if device is rotated, Edge Case"
The app will fire a Fatal Exception in the following case:

[code]

Truth be told, I tripped over this because I set the tablet down while waiting
to see it the Scan Network ever timed out.

LogCat: http://paste.ubuntu.com/1664085/

[2013-02-17 14:09] billmeek commented on #118
Closing after re-testing. I also tried exiting the app (simulating a user
giving up) and no errors were seen.

Thanks!

[2013-02-17 14:09] #118 closed, assigned to dmfrey

[2013-02-18 03:39] dmfrey commented on #117
Are have you been able to successfully and repeatedly reconnect to the users backend?

I am not sure if we can account for unreliable internet connections. Should the app have done something differently?

[2013-02-18 03:41] dmfrey commented on #116
I would expect the program_group table to be populated.  If it is not, then we have a problem parsing the programs to groups.

Correct. etag should be empty for .25

program table is empty for now as it will hold the program guide data when the new method of loading the program guide is enabled.  for now, however, we will still use the downloaded json files.

[2013-02-18 04:00] billmeek commented on #117
Yes, I have no trouble connecting to his backend. And after this failure, I
can go to another screen and get other downloads.

Just to be clean (re-reading my original comment,) when I said "after a
few hours are collected" I was referring to hours of Guide data, not that
I had to wait hours for it to start syncing again.

I've also used my browser and done things like Myth/GetHostName as
fast as

[2013-02-18 05:01] billmeek commented on #116
After commenting out the code that did INSERTs to the recording table, this
started working (as we discussed off list.)

I just retried using an emulator and the program_guide table has 181 entries,
and the 1st and last ones match the display on the Recordings screen.

So, your suggestion that there were combined UPDATE & INSERT queries
going on at the same time appears to be the problem.

I did f

[2013-02-18 06:07] billmeek commented on #117
Testing this now (e.g. line 43 and 112)

[code]

Initial results are that after the 1st failure, only 1 more attempt is
made, and it succeeds.

[2013-02-18 14:14] dmfrey commented on #116
I will have to check and see if android supports the On Conflict Replace in
its implementation of sqlite.  From what I have found, the version of
sqlite in android is a few versions behind or doesn't implement all of the
features.  I ran into this previously and it affects backwards
compatibility with the app on the different versions of android.

Will do some digging.

On Mon, Feb 18, 2013 at 12:

[2013-02-18 14:21] dmfrey commented on #117
that looks good.

One questions...do you think the count down in isMasterBackendConnected is
needed, since it calls isNetworkConnected first, which could already be
doing the 3 calls.  Then if isMasterBackendConnected fails and tries again,
it could call isNetworkConnected, which could fail 3 more times.

The number of network calls could grow considerably, since this gets
continually called as ca

[2013-02-18 17:21] billmeek commented on #117
Short answer: yes, the counter is required (it counts up now to make
more sensible Log() messages.)

I'm not sure if you were suggesting that the isMasterBackendConnected
logic be moved inside of isNetworkConnected, so I didn't change it.

I moved isNetworkConnected before the  while() and retested with a full
download (all 288 hours.) The failures happened in the early attempts,
and there was nev

[2013-02-18 19:03] billmeek commented on #116
You're right, maybe this will save you some time:

[code]

API level 8. Froyo 2.2-2.3.

[2013-02-18 23:25] billmeek commented on #107
Short reply: It appears that once a recording is marked inError, it can't be displayed
when the MythTV DB is repaired (plus a typo that I could fix.)

Retested on: mythtv-android-frontend-1.0.4-63-g78f8fbf

Save good recording progend:

[code]

Created an error with:

[code]

Pressed the sync icon on the Recordings screen and received the Toast
message with the: (Recordings has errors) addition.

[2013-02-20 16:37] billmeek commented on #116
Tested with remote user over the internet and with my own Wifi access. Tested with
an the app/data completely removed, then  entering the Recordings screen; with
refreshing with the arrowed circle icon; and finally when the screen shuts off and then
is powered on. All 6 test cases worked A-OK. Closing the issue.

[2013-02-20 16:37] #116 closed, assigned to dmfrey

[2013-02-20 18:06] #117 closed, assigned to billmeek

[2013-02-22 00:21] billmeek opened #119 "Recording Rules screen: Shows without subtitles will display previous subtitles"
The following SQL makes finding candidates for this problem easier:

[code]

To Duplicate:

[code]

Clearly, not a 1.10.0 release blocker.

[2013-02-22 05:35] #119 closed, assigned to billmeek

[2013-02-24 20:25] billmeek opened #120 "Tracking issue: Crash when downloading the 2nd channel listing"
Running on: mythtv-android-frontend-1.0.4-69-g141309b

When the channel sync takes place, users without ETags (e.g. 0.25) and
more than one source (as in Cable and OTA) may get a crash.

LogCat shows that the 2nd request for the source is issued, however, the
backend's log doesn't receive it. Tests with tshark show that the 2nd request
is being send after the backend has already closed the convers

[2013-02-24 20:33] billmeek commented on #102
The above is a typo, it should have gone to issue 120

[2013-02-24 20:33] billmeek commented on #120
Workaround in  commit 458e456

[2013-02-27 03:07] dmfrey opened #121 "Channel updates/deletes not being reflected in the app"
When channel updates are performed on the master backend, they are not always reflected in the app. Also, sometimes, upcoming recordings are duplicated as a result.

[2013-02-27 03:09] dmfrey commented on #120
Please retest on a .25 backend when issue #121 is closed. Downloading channel json has been refactored slightly and should result in cleaner download and processing.

[2013-02-27 03:12] dmfrey opened #122 "Should pressing the refresh button on recordings or upcoming trigger a fresh download whether or not the stored etag returns a HTTP 304?"
Just wondering what the app should do in thus case.

[2013-02-27 03:17] dmfrey commented on #36
@pot8oe can this be looked at as a part of v1.20.0 and the sliding menu enhancement?

[2013-02-27 03:20] pot8oe commented on #122
How about leaving refresh as it stands and add a reset menu item. Reset
would clear and repull everything. does that make sense?

[2013-02-27 03:22] pot8oe commented on #36
Yes. We should have an initial greeting and jump to adding backend(s).
On Feb 26, 2013 10:17 PM, "Daniel Frey" notifications@github.com wrote:

[2013-02-27 03:25] dmfrey commented on #122
That would work. Is reset the appropriate term here?
On Feb 26, 2013 10:21 PM, "Thomas G. Kenny Jr" notifications@github.com
wrote:

[2013-02-27 03:39] pot8oe commented on #122
I don't know. Reset was the first thing that came to mind. Clear data?
On Feb 26, 2013 10:25 PM, "Daniel Frey" notifications@github.com wrote:

[2013-02-27 19:57] #121 closed, assigned to dmfrey

[2013-02-28 18:40] billmeek commented on #120
Retested with nap time set to 1ms and had no failures in 20 tests on
my 0.27-pre2 (ETags off) mc0 host and Jeff's 0.25 host. 1ms failed before.

Leaving this open at least for now because the FIN, ACK from the
backend isn't being answered. Still have myself assigned to the issue.

[2013-03-03 10:38] Prefect47 opened #123 "List HLS queue as shortcut"
Is it possible to add a list of the HLS queue, showing progress for all items and also allowing the user to start playback? It would be very convenient to select some programs for transcoding the the recordings list (which can contain thousands of recordings) and then have a shortcut where they can be monitored, played, and deleted.

[2013-03-03 10:43] Prefect47 opened #124 "Local cache of recordings"
Since we are dealing with high-bitrate streams it would be nice to have a local cache of recordings and/or HLS streams that the user can setup and manage, so that they can be watched even in places with no or slow network connectivity.

[2013-03-03 10:46] Prefect47 opened #125 "List all recordings"
A list of "all recordings", similar to what mythfrontend shows (sorted in reverse chronological order) would be very useful for those shows that you watch daily but that end up scrolling a lot in the show list to get to.

[2013-03-03 10:48] Prefect47 opened #126 "User-created playback profiles"
I modified the 540p to match the PAL "resolution" of 768x576. Is it possible to instead add your own profiles?

[2013-03-03 11:03] Prefect47 opened #127 ""Syncing Recorded Programs" notification never disappears"
The "Syncing recorded programs" notification never disappears, unless I force stop the app.

I've tried this on two devices.

[2013-03-03 11:15] Prefect47 opened #128 "Playing the same HLS stream from two devices?"
I set my tablet to transcode three shows to 768x576. When the first one was finished I tried playing it in DICE, and it worked fine. Though the link to the m3u file says 1024x576 which is not what I configured...

Then I played it with HLS on a second device, but forgot to modify the 540p profile and it started trsnacoding. I pressed the "X" but the transcoding doesn't stop. So I went into port 65

[2013-03-03 15:24] dmfrey commented on #123
This is a planned feature.  I want to provide a convenient way to see
everything that is out there, as well as anything that might have been
orphaned.  We are attempting to clean up as much of the HLS backend streams
as possible, but there are still cases (i.e. when a recording that has been
HLS transcoded has been deleted via a frontend, and it gets removed from
the app on a subsequent sync).  We

[2013-03-03 15:31] dmfrey commented on #124
This is a tough one.

Some of the recordings in native format can be very large, and it would
take a considerable time to download these recordings.  Also, we are not
managing how the player handles buffering/caching.  That is up to the
player itself.  Also, no matter what we do, mpeg2, especially HD
recordings, will always play sluggishly on android until hardware
acceleration can be added.  The

[2013-03-03 15:33] dmfrey commented on #125
This could be added.  Will schedule for a future release.

[2013-03-03 15:36] dmfrey commented on #126
This could be added.  Will add as an enhancement.

@Prefect47 Do you have PAL equivalents for what we currently default to in playback profiles?  Maybe we could enhance this so that based on your country specified in your system settings, we load the appropriate list of defaults.

[2013-03-03 15:38] dmfrey commented on #127
@Prefect47 can you send us the specifications for your devices, android versions, etc.

These notifications will be changing in the next release of the app, btw.  They will be more in-app, versus in the notification bar.

[2013-03-03 15:44] dmfrey commented on #128
We need to add a sync process for the HLS streams as identified in issue #123

Will move this to that issue to track the progress of that feature.

[2013-03-03 15:44] #128 closed, assigned to nobody

[2013-03-06 20:54] billmeek opened #129 "Backend off, select Home, NPE fires"
Running on: mythtv-android-frontend-1.10.1-2-g8ae01ae

Trying to duplicate errors found on the Developer Console.

Similar to #78, #101 and #113.

To Duplicate:

<pre>
Start app
Verify backend mc0 is configured
Select a backend mc1
Stop app
Verify backend mc0 is powered down
Start app
From Settings, select mc0
Press Home
</pre>

At this point the app will NPE on attempts to connect to any host. Ev

[2013-03-07 19:44] billmeek opened #130 "Multi-host enhancement Slave Backend test results"
From the mythtv-users list (Yianni,) recordings that are made on a Slave Backend
have their titles displayed on the Recordings screen, however individual episodes
are not.

Looking in the recorded table, the episode is there. The hostname column
correctly lists the Slave Backend's hostname (mc1 in my test case) while the
Selected Home Profile's Master Backend is different (mc0 in the test.)

On th

[2013-03-07 19:49] dmfrey commented on #130
I think i might have an idea of what is going on here.  The recorded list
already has a hostname in it.  I guess I need to store the hostname in all
the tables as masterbackend hostname and then leave the one coming back in
the list alone.

On Thu, Mar 7, 2013 at 2:44 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-03-08 19:09] billmeek opened #131 "Recording Rules screen: Fatal Error if backend becomes unavailable"
Running on: mythtv-android-frontend-1.10.1-2-g8ae01ae. Trying to
duplicate a Developer Console report. This doesn't create an exact
match, but it's close.

To Duplicate:

[code]

App sends TCP SYN to the backend, backend correctly returns an RST
because port 6544 has no listener. Exception fires (ResourceAccessException).

Seems to be a common case that the org.spring doesn't handle
TCP errors. In

[2013-03-08 19:15] billmeek opened #132 "1.10.1 Tracking Issue"
1.10.1 has no Issues and continues to display as past due. This
Issue is assigned to try to close the milestone.

43c58d3 Sun Mar 3 10:20:41 2013 -0500 commented further debug messages
3a4d440 Sat Mar 2 12:03:45 2013 -0600 Comment out System.out.printlns

[2013-03-08 19:15] #132 closed, assigned to billmeek

[2013-03-15 20:53] seanthegeek opened #133 "Add caption/subtitle support"
Add caption and subtitle support to recording playback.

[2013-03-15 20:58] seanthegeek opened #134 "Port to Ooya"
The Oooya is an inexpensive game console that uses an extension of Andorid as it's operating system. It is an ideal frontend. I would be happy to assist in development and testing when my Kickstarter pre-order arrives (due in march).

https://devs.ouya.tv/developers

[2013-03-16 03:19] dmfrey commented on #133
We can only implement what the mythtv services a pi allows us. I am not
aware of this capability with the current version of the api. If/when the
backend adds support for it, so will we.

I will mark this as an enhancement for the time being.
On Mar 15, 2013 4:53 PM, "Sean Whalen" notifications@github.com wrote:

[2013-03-16 03:22] dmfrey commented on #134
I am not familiar with this device. If it runs android, we should be able
to support it. If anything needs to change it is probably just in the
Android Manifest to support different screen sizes.

How do you plan to control the interface? This version is more geared
towards a touch interface. Does it have a remote as well as game
controllers?
On Mar 15, 2013 4:59 PM, "Sean Whalen" notifications@gi

[2013-03-16 13:03] phoniclynx opened #135 "Live TV"
Is it possible to get Live TV transcoding.. its great to view recordings and such.. but one BIG feature is the ability to watch TV as its happening.. Not sure why no one has done this part yet as its one of the big things Myth was designed for lol.

[2013-03-16 13:10] dmfrey commented on #135
We can only implement what the myth services api makes available to us.
Unfortunately, live TV is not a feature they support yet.

If/when the myth services api supports it, we will also support it.

closes #135
On Mar 16, 2013 9:03 AM, "phoniclynx" notifications@github.com wrote:

[2013-03-16 13:11] phoniclynx commented on #135
Where do we start partitioning for something like this? Kinda a fundamental thing to the whole ecosystem lol.

[2013-03-16 13:17] dmfrey commented on #135
It would have to be with the core mythtv project. I would open a ticket in
their bug tracker.
On Mar 16, 2013 9:11 AM, "phoniclynx" notifications@github.com wrote:

[2013-03-24 22:54] billmeek commented on #135
@phoniclynx,  Keep in mind that requests for features are usually closed in Trac as a
"Feature Request Without a Patch" if one isn't provided. Note the 4th bullet item under
First Steps here: http://code.mythtv.org/trac/wiki/TicketHowTo

[2013-03-26 14:37] dmfrey opened #136 "Add Backend Status Page to Side Bar Menu Branch"
This will require the following:
- Content Provider needs to be created for Encoders
- Upcoming recordings should be up to date
- Content Provider needs to be created for Jobs in JobQueue
- Content Provider needs to be created for MachineInfo, Storage Groups
- Service needs to be created update content providers with this data and schedule it for updates

[2013-04-09 19:01] TheFuzz4 opened #137 "Sort Program Guide By Channel Number"
Is it possible to have the Program Guide Sorted by Channel Number instead of the random sort that it is currently in?  Thanks.

[2013-04-09 19:04] TheFuzz4 opened #138 "Have an option to view all shows, alphabetically, in the Guide"
When I was a DirecTV customer one of the features that I enjoyed about the Android app was a screen that showed you all of the shows in alphabetical order.  Is it possible to have this feature added to the application?  Can we also once the code is ready add the ability to have recording options on these shows.  Thanks.

[2013-04-09 19:06] dmfrey commented on #137
The program guide is sorted by channel number.  Are your channel numbers
OTA channels where they usually have something like an '_' in them?

The program guide is going to be be completely rewritten, btw.

On Tue, Apr 9, 2013 at 3:01 PM, TheFuzz4 notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-04-09 19:08] dmfrey commented on #138
Where specifically in the app are you referring to?  Recordings?  You want
to be able to see all recordings under one banner?  Am I understanding this
correctly?

What recording options would you like to see?

On Tue, Apr 9, 2013 at 3:04 PM, TheFuzz4 notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-04-09 19:09] TheFuzz4 commented on #137
Only one channel has a - in it.  Would you like a screenshot of this?  BTW I would like to help you with the coding.  I am no developer but I figure I can pull down the code and take a look at it.

[2013-04-09 19:09] pot8oe commented on #137
I have OTA channels 2_1, 2_2, 4_1, etc ... and they sort fine.

-Tom

On Tue, Apr 9, 2013 at 3:06 PM, Daniel Frey notifications@github.comwrote:

[2013-04-09 19:11] TheFuzz4 commented on #138
No like it would pull all of the shows out of the guide for all days and list them alphabetically.  Say for example I want to watch South Park so I'll scroll down to S, click on S and it will show me all shows that start with S.  If I click on South Park then it will show us all of the Channels, Days and Times that Southpark will air on.

[2013-04-09 19:11] dmfrey commented on #137
Yes, please attach a screenshot to this thread.

If you would like to build the app, please take a look at our wiki page to
setup the development environment.  Please let me know if you have any
issues getting it setup.  I would be glad to help you be able to run the
code locally.  Once you are familiar with the environment and how the
project is laid out, you can start looking at the code.

On Tu

[2013-04-09 19:13] pot8oe commented on #138
What about search instead of a huge list?

-Tom

On Tue, Apr 9, 2013 at 3:11 PM, TheFuzz4 notifications@github.com wrote:

[2013-04-09 19:13] dmfrey commented on #138
unfortunately, this is not possible at this point.  The program guide data
is currently stored in json files.  They will eventually be moving to the
database.  It might be possible to do something like that, but this would
really be a version of searching for the programs, not a true display.

On Tue, Apr 9, 2013 at 3:11 PM, TheFuzz4 notifications@github.com wrote:

##

My Google Profile http://ww

[2013-04-09 19:21] TheFuzz4 commented on #137
![Program Guide Screen Shot](https://f.cloud.github.com/assets/325957/358735/52d7039e-a14a-11e2-88a2-b0c0d17e9350.png)

The only thing that I can think of about this is that I have 2 guide sources because I have an internal tuner card that I use for my locals and then I have a HD Homerun Prime that I also use for locals as well as the rest of my lineups.  They do display properly in the schedule a

[2013-04-09 19:23] dmfrey commented on #137
hmm, it is probably coming back from the web service this way.  These are
just json file stored locally.  We don't do any manipulating of them.

On Tue, Apr 9, 2013 at 3:21 PM, TheFuzz4 notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-04-09 22:12] TheFuzz4 commented on #138
That would be cool with the search as well.  I hope to be able to help with this project.  Once I'm done with the day job today I'll get the code loaded

[2013-04-11 15:24] tafypz commented on #134
The issue with ouya is that it does not  use a standard android distribution and therefore requires a specific SDK. There are design considerations that will be different from your typical tablet / phones (ie screen navigation without touch screen) and the purchase of hardware in order to develop / test.

[2013-04-17 22:02] billmeek opened #139 "Activating the MythTV Miscellaneous Status Option Results in Fatal Exceptions"
Running on: mythtv-android-frontend-1.10.1-95-g8917008, sidebar_menu branch.

MythTV allows users to add additional information to their status page. If
a user has activated this option, the following fires:

LogCat: http://pastebin.com/raw.php?i=FAzGvgLd

Look for the 12th line in the above and note the following:

<pre>
Element 'Miscellaneous' does not have a match in class org.mythtv.services.a

[2013-05-07 19:45] billmeek opened #140 "After MythTV v0.27-pre, Commit 286593 the Recording Rules Screen Fails"
http://code.mythtv.org/trac/changeset/286593

Enhances the Recording Rules Services API and changes the version from
1.10 to 1.11. AddRecordSchedule and GetRecordSchedule have been
improved. UpdateRecordSchedule has been added.

[2013-05-07 20:09] dmfrey commented on #140
This gives me reason to refactor this so that it is using the same content
provider rules the rest of the app does.  This way they can be viewed
offline.

Now that work has subsided a bit, i will be able to back on this.

On Tue, May 7, 2013 at 3:45 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-05-07 20:13] dmfrey commented on #140
Actually, what we are considering is a refactoring the myth services api to
be version based.  So when we get the major/minor version from the status
endpoint, only correct functionality appropriate to your backend will be
able to be fired.  This might go right along with this issue as it would
break pre-.27 backends.

On Tue, May 7, 2013 at 4:09 PM, Daniel Frey dmfrey@gmail.com wrote:

##

My Goo

[2013-05-07 20:24] dmfrey commented on #139
Do we know if there is a schema available for the Status XML?  Honestly, i was unaware of this setting in mythtv.  I am gonna enable it and see what extra data comes back.  A schema would help take all the guess work out of it, however.

[2013-05-07 20:38] billmeek commented on #139
http://www.mythtv.org/wiki/Miscellaneous_Status_Information

Here's a simple version of a user defined status script:

<pre>
#!/bin/sh
# Get data for the WEB Miscellaneous backend status.
mythshutdown --check --verbose general --loglevel notice | \
    grep " N " | grep -v -f /usr/local/sbin/MythStatus.ignore | \
    sed -e 's/^.......................//' | \
    awk '{ printf "%s %s %s %s %s[]:[].

[2013-05-07 21:10] billmeek commented on #139
To answer you schema question, I believe the answer is that there is none.
Any user can write a script that returns whatever they wish. One example
in the Wiki is used to report the temperature of the backend. I was interested
in things that prevent my system from shutting down, e.g. the lock counter.

[2013-05-08 11:21] dmfrey commented on #139
I was referring to an XML schema or wsdl for the status XML being returned.

Can you dump your status XML and post it here? I will use that fix the
service api.
On May 7, 2013 5:10 PM, "billmeek" notifications@github.com wrote:

[2013-05-08 16:18] billmeek commented on #139
Using: mc1:6544/Status/GetStatus, the XML added after the
'normal' </MachineInfo> section is:

[code]

Lines 227 through 231 here are the HTML from mythweb's status display:

   http://pastebin.com/v9v0yTEn

Also, I think this is where the Miscellaneous heading gets created:

http://code.mythtv.org/cgit/mythtv/tree/mythtv/programs/mythbackend/httpstatus.cpp#n572

[code]

And then for each line:

[

[2013-05-08 18:25] billmeek commented on #139
I've updated the MythTV Wiki page that covers this topic to include reference
to the Services API.  The XML format is described in this section:

http://www.mythtv.org/wiki/Miscellaneous_Status_Information#Backend_Status_Format

[2013-05-10 13:30] billmeek commented on #135
Closing, can be reopened as an Enhancement _if_ it becomes available
in the MythTV Services API

[2013-05-10 13:30] #135 closed, assigned to nobody

[2013-05-13 00:52] billmeek commented on #137
I don't have the problem and have one guide source for OTA and one for Cable
(PCI card and HDHR-Prime) too.

I think the issue is that the sorting is done by chanid, not channum, on the MythTV host
and, as TheFuzz4 points out, he has locals on his cable source (which I don't.)

@TheFuzz4, please run the following mysql command:

[code]

and put the output in pastebin.com (or any other pastebin you

[2013-05-13 12:41] misformichael opened #141 "Swiping from the navigation page of the remote to the numbers gives an error."
Running the front end on my galaxy nexus with 4.2.2.
Swiping from the navigation  page to the numbers page gives me an exception.

Get Status Error Could not read JSON: Unrecognized field "FrontendActionList" (class org.mythtv.services.api.frontend.F rontendActionList), not marked as ignorable (one known property: "ActionList"]) at [Source: Java.util.zip.GZIPInputStream@41 810020; line: 1, column:

[2013-05-13 13:38] pot8oe commented on #141
This is a known issue. It was my mistake committing code with
FrontendActionList enabled.

Thanks,
Tom

-Tom

On Mon, May 13, 2013 at 8:41 AM, misformichael notifications@github.comwrote:

[2013-05-16 06:10] billmeek commented on #140
Still fails.

Running on: mythtv-android-frontend-1.10.1-98-g8585521 sidebar_menu branch

The MythTV source for this is here (has a list of the fields:)
http://code.mythtv.org/cgit/mythtv/tree/mythtv/libs/libmythservicecontracts/datacontracts/recRule.h

Day, Time and FindId were replaced with FindDay and FindTime

[code]

Fails with:

<pre>
05-16 00:31:23.633: E/RecordingRuleDownloadService(5971):

[2013-05-16 10:26] misformichael commented on #141
Cool thanks; sorry: I couldn’t see it in the list of bugs, but probably wasn’t looking straight.

From: Thomas G. Kenny Jr [mailto:notifications@github.com]
Sent: Monday, 13 May 2013 11:38 PM
To: MythTV-Clients/MythTV-Android-Frontend
Cc: misformichael
Subject: Re: [MythTV-Android-Frontend] Swiping from the navigation page of the remote to the numbers gives an error. (#141)

This is a known issue.

[2013-05-17 02:10] dmfrey commented on #139
added optional Miscellaneous tag to Status response in myth services api 0.0.32-SNAPSHOT.  Will be released as 0.0.32 when all other tests have been completed

[2013-05-17 02:28] billmeek commented on #140
The Recording Rules screen now loads. I removed the Critical label from this issue,
but left it open to track the final solution. Let me know if you want it closed and an
new issue opened to track it.

[2013-05-17 02:35] dmfrey commented on #140
Versioning the api should be tracked in the api issues. Let's open one over
there.

Should probably keep this open till we get the the next version of the api
released.
On May 16, 2013 10:28 PM, "billmeek" notifications@github.com wrote:

[2013-05-17 12:17] billmeek commented on #139
No crash, however the status line is no longer displayed (it was one
line that included the hostname.)

[2013-05-17 13:16] dmfrey commented on #139
hmm, that is telling me that it isn't fully functional yet.

I will enable the miscellaneous fields this weekend and try it out on my
backend.

On Fri, May 17, 2013 at 8:17 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-05-17 14:05] billmeek commented on #139
I just did a Force Stop and Clear Cache on the app then restarted it. The original
one line status display returned:

[code]

@dmfrey, is the above everything I should expect to see at this time, as
opposed to what is returned when http://mc1:6544/Status/GetStatus is
send from a browser? The one line status is the same as I was getting
before this fix went in, so I'm closing this issue.

[2013-05-17 14:05] #139 closed, assigned to nobody

[2013-05-17 14:54] dmfrey commented on #139
this morning i added some of the scripts you recommended in the links.
 will try the app with them loaded to test as well.

On Fri, May 17, 2013 at 10:05 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-05-17 18:17] billmeek commented on #139
This is a simpler version just to test the position of the results,
as well as making sure that MythTV doesn't honor more than
the 3 allowed attributes. Seems the 2nd and 3rd get reversed
by the backend, not the app.

<pre>
echo "No Delimiters"
echo "One <B>Delimiter</B>, empty trailing attribute[]:[]"
echo "One Delimiter[]:[]Two attributes"
echo "Two Delimiters[]:[]Two attributes[]:[]"
echo "Two

[2013-05-18 23:42] billmeek commented on #127
The following is from a user I'd been working with off list on another item. He has data
that matches the original post (including the attached screenshot) and has emailed it
to me:

[code]

Starting _after a boot_ of the device, the failure is created by:

[code]

Going back with the 'back' button ends up creating another 'Syncing
Recorded Programs' status bar entry.  It would appear that it's ne

[2013-05-26 14:43] billmeek opened #142 "Developer Console: IllegalArgumentException: Invalid format: "mythssd_2013-03-29""
As of this writing, there are 2 entries like this on the Developer Console. It appears
to me that user(s) are putting an underscore in their hostname )an invalid choice per:
http://en.wikipedia.org/wiki/Hostname#Restrictions_on_valid_host_names .)

This prevents ProgramGuideCleanupService from developing a valid timestamp.

<pre>
java.lang.IllegalArgumentException: Invalid format: "mythssd_2013-03

[2013-05-27 02:40] dmfrey commented on #142
Thanks, I will look into it.
On May 26, 2013 10:43 AM, "billmeek" notifications@github.com wrote:

[2013-06-22 10:21] danBhentschel opened #143 "Not all frontends listed all the time for remote"
I have two frontends on my network.  Under the remote control, sometimes both are listed, but more frequently only one or the other is available to control. I'm not sure why they are not both detected regularly.  The troubleshooting link seems to only talk about diagnosing connection problems to the backend.

[2013-06-22 17:09] billmeek commented on #143
Hi; Just to be clear, when a frontend isn't detected, is mythfrontend running and is
its host connected to your network? Also, is the avahi daemon running when this
failure is observed?  I know the answers are probably obvious.

My personal favorite for looking into this type of problem is the last item here:
https://github.com/MythTV-Clients/MythTV-Android-Frontend/wiki/Connection-Troubleshooting

[2013-06-23 08:15] goffa72 opened #144 "Not Connecting to Backend"
If I try and add a new home profile the frontend app gets stuck at retrieving the master back end details. I'm using version 1.10.1
I am doing the following
scan network - i get the following information
Mythbackend on htpc-desktop
http://10.0.0.1:6544/

after pressing save - Please wait - Retrieving Master Backend Details...
nothing seems to happen and the screen just blanks out. I have also trie

[2013-06-24 02:58] dmfrey commented on #144
What happens if you enter the following in your browser?

http://10.0.0.1:6544/DVR/GetRecorderdList

Do you see XML showing all your recordings?

What version of mythbackend are you running?
On Jun 23, 2013 4:15 AM, "goffa72" notifications@github.com wrote:

[2013-06-24 16:42] danBhentschel commented on #143
The frontend was definitely running and connected to the network. I didn't
check avahi daemon, but it started showing up later on in the day without
me needing to fiddle with anything on the box, so I assume it was running
at the time.

I will try to debug more the next time I see it. Don't hold your breath. I
don't tend to have a lot of spare time to watch TV these days. :-)
- dan

On Sat, Jun 22

[2013-07-03 00:13] billmeek commented on #134
No activity in over 1 month, closing. Please reopen if needed.

[2013-07-03 00:13] #134 closed, assigned to nobody

[2013-07-04 04:11] billmeek opened #145 "MythTV commit 0254ef8c changes Dvr/GetRecordedList (returns Deleted group programs)"
In 0.27pre2, the following commit changes the response to GetRecordedList:

[code]

Programs in the Deleted RecordingGroup will be included in the
response.  This should probably be treated the same as the
LiveTV group (excluded.) Assigning myself for the fix.

[2013-07-08 14:51] billmeek commented on #137
I'm seeing this in the new Guide screen.

@dmfrey, I suggest that this can be solved by sorting by FIELD_CHAN_ID rather than
FIELD_CHAN_NUM_FORMATTED. I've tested the fix in the sidebar_menu branch.

Rather than seeing 101, 102 ... 199, 2_1, 3xx etc, I now see 2_1, 101, 102 ...  In other
words, the channels are grouped by Source and channel. So all the OTA channels
show up 1st (in my case.)

Let m

[2013-07-08 15:30] dmfrey commented on #137
Chan_id is the id used when the channels are inserted into the db on the
backend.  If you delete a lineup and readd it, they will all get new ids
and bet bumped to the end.  I added the formatted one to handle adding
channel nums with alpha chars in them.  Do we just need to tweak how
certain numbers get formatted?

On Mon, Jul 8, 2013 at 10:51 AM, billmeek notifications@github.com wrote:

##

My

[2013-07-08 23:15] billmeek commented on #137
Re: Do we just need to tweak how certain numbers get formatted?

I'd say yes. Looking back at my comment on this issue 2 months
ago, I wasn't seeing the problem, that is, all of my Over The Air
channels were displayed followed by my HDHR Prime channels.

[2013-07-21 00:45] danBhentschel commented on #143
Sorry it took so long to get back to this. I have attached a couple screen
shots to this message. As you can see, the zeroconf browser shows two
frontends, but the myth app only shows one. Anything else to look at?
- dan
  On Jun 24, 2013 12:42 PM, "Dan Hentschel" dan@hentschels.com wrote:

[2013-07-21 04:02] billmeek commented on #143
@danBhentschel, no problem, thanks for checking that.

Unfortunately, your screen shots didn't make it. I'll guess that
you added them as an attachment to an email. I've never tried that with github
and don't know that it's supposed to work. You can go the the issues list on
github and drag/drop or select them there. I know that works.

I'll certainly take you at your word that ZeroConf's browser

[2013-07-30 23:17] #145 closed, assigned to billmeek

[2013-07-30 23:36] billmeek commented on #131
Retested on: mythtv-android-frontend-1.10.1-178-ge34b3aa
in the sidebar_menu branch and  replaced expired link to LogCat
with new in-line output in the original comment in this thread.

[2013-07-31 00:54] billmeek commented on #38
In 1.20.0, the Guide has been reworked and this format is no longer used.

[2013-07-31 00:54] #38 closed, assigned to nobody

[2013-07-31 01:00] billmeek commented on #124
No response in > 30 days, closing. Please reopen if needed.

[2013-07-31 01:00] #124 closed, assigned to nobody

[2013-07-31 04:36] billmeek commented on #144
No response in 30 days, closing. However, there is a typo in
the previous command. Feel free to reopen and provide the
backend version (mythbackend --version) and answer if
XML was received. Thanks.

Use: http://10.0.0.1:6544/Dvr/GetRecordedList

[2013-07-31 04:36] #144 closed, assigned to nobody

[2013-08-01 17:29] tekrantz opened #146 "Commit 778f3dd seems to require API revision 17 but manifest still specifies 14"
From the online doumentation:

 public final FragmentManager getChildFragmentManager ()
Added in API level 17

And running it on my 4.0.3 device results in :

08-01 13:29:10.908: E/AndroidRuntime(13882): FATAL EXCEPTION: main
08-01 13:29:10.908: E/AndroidRuntime(13882): java.lang.NoSuchMethodError: org.mythtv.client.ui.dvr.RecordingsParentFragment.getChildFragmentManager
08-01 13:29:10.908: E/Andr

[2013-08-16 16:13] #125 closed, assigned to dmfrey

[2013-08-19 20:10] #115 closed, assigned to dmfrey

[2013-08-19 20:10] #130 closed, assigned to dmfrey

[2013-08-21 04:45] billmeek opened #147 "Rolling ProgramDaoHelper Warning messages."
The following repeats roughly every second. This started near the time that the
red 'Recording' dot was added to the guide.

<pre>
08-19 22:59:57.158: D/dalvikvm(23392): GC_EXPLICIT freed 1535K, 25% free 12218K/16263K, paused 9ms+27ms
08-19 22:59:57.438: W/ProgramDaoHelper(23446): load : details - parent=guide, tableName=recording_guide, contentUri=content://org.mythtv.frontend/recording_guide
08-

[2013-08-21 12:59] #147 closed, assigned to nobody

[2013-08-22 02:38] billmeek opened #148 "Recordings Screen: Add icon not working for slave backend recordings"
The episode exists in the MAF database. The hostname is slave-mc1, which
is correct. No protocol was seen and (of course) no backend messages were
seen when the Add icon (Play It Now) was pressed. Also fails on normal
(non-slave) episodes.

The toast message said "Recorded program not found"

Running on: mythtv-android-frontend-1.10.1-398-g2305cc5 (master)

I added the following debug and found th

[2013-08-22 20:07] billmeek opened #149 "NPE after rotating tablet while on certain screens"
To duplicate:

<pre>
Start MAF
Wait for Status page to complete drawing
Select DVR
Wait for Recorded Programs to complete drawing
Rotate tablet 90 degrees
</pre>

Running on: mythtv-android-frontend-1.10.1-405-g881cdcb, Samsung Galaxy 10.1,
Android 4.0.4.

Full LogCat (from start of MAF to NPE.) Note that the failure is at:
08-22 14:33:42.930 or line 1128 in the paste.

http://pastebin.com/nAZiwnW

[2013-08-23 04:46] billmeek commented on #140
Sorry for the delay in testing. I didn't expand the ellipses on the issues list, so
I didn't spot your requests.

8/22/2013, I'm running with this in pom.xml (I didn't change anything.)
    <mythtv.service.api-version>0.0.32</mythtv.service.api-version>

Let me know if that's not a proper test setup.

There is a new problem with enable/disable, but I'll open a new issue on that.