[2013-08-23 04:46] #140 closed, assigned to dmfrey

[2013-08-23 05:19] billmeek opened #150 "Recording Rules: Active/Inactive toggles if a changed rule is scrolled off then on screen."
To duplicate:

<pre>
Choose an Active (1) rule
Switch that rule from Active to Inactive (0) on the Recording Rules screen
Scroll that rule off the screen
Scroll again to display the rule
Note that the rule is reset to Active
</pre>

LogCat with all Garbage collection messages deleted:

<pre>
08-23 00:05:01.206: V/NetworkHelper(7351): getMythServicesApi : enter
08-23 00:05:01.206: V/NetworkHelper(7

[2013-08-23 05:31] billmeek opened #151 "Recordings: LiveTV episodes are displayed in the new "All" category"
To duplicate:

<pre>
Using MythTV, watch a program live
Go to the Recordings screen
Select the 1st entry (All)
Note that the LiveTV recording is displayed
</pre>

Running on: mythtv-android-frontend-1.10.1-405-g881cdcb

[2013-08-23 14:21] billmeek opened #152 "Recordings: Fatal Exception/NPE after deleting last episode"
To duplicate

<pre>
Go to the Recorded screen
Select any program
Using the menu, select Delete
Observe NPE when last episode is Deleted
</pre>

Running on: mythtv-android-frontend-1.10.1-405-g881cdcb

LogCat starting when Delete is pressed on the menu, GC_ removed:

<pre>
08-23 09:03:05.382: V/DvrNavigationDrawerActivity(7351): onPrepareOptionsMenu : enter
08-23 09:03:05.382: V/DvrNavigationDrawer

[2013-08-23 21:09] #49 closed, assigned to pot8oe

[2013-08-23 21:11] pot8oe commented on #149
I Fixed orientation change for BackendStatusFragment

Status screen - OK
Manage Profiles - OK
Upcoming Programs - OK
Recording Rules - switches to Recorded Programs then fails
Guide - same as Recording Rules

[2013-08-24 13:58] pot8oe commented on #149
Fixed orientation for DVR fragments.

Please test on All size devices. I fixed and tested on a HTC One.

Status screen - OK
Manage Profiles - OK
Upcoming Programs - OK
Recording Rules - OK
Guide - OK

[2013-08-24 22:39] billmeek commented on #149
Significantly better, but not fixed. The failure has changed:

<pre>
08-24 13:05:58.778: W/dalvikvm(17626): threadid=1: thread exiting with uncaught exception (group=0x40c5b1f8)
08-24 13:05:58.778: E/AndroidRuntime(17626): FATAL EXCEPTION: main
08-24 13:05:58.778: E/AndroidRuntime(17626): java.lang.RuntimeException: ProgramDaoHelper is not initialized
...
</pre>

To duplicate:

<pre>
Go to the Rec

[2013-08-25 13:54] #151 closed, assigned to dmfrey

[2013-08-26 17:35] dmfrey commented on #150
did some looking into this and it appears that the compondbutton that is backing the control is firing even when it is scrolling, instead of just on the toggle.  I am planning on moving that button off of the list anyway and it will become a part of a reusable popup that will eventually be used across guide, upcoming, recorded and the backend status view.

[2013-08-26 18:20] dmfrey commented on #148
still happening in beta v1.20.0?

[2013-08-26 18:24] dmfrey commented on #146
the support library has been updated to the latest. Can you re-test and verify this issue is still occurring?

[2013-08-26 18:25] dmfrey commented on #142
there is no more ProgramGuideCleanupService that is actively running.  Anyway we can test this out and verify it is still an issue?

[2013-08-26 18:28] dmfrey commented on #137
program guide data is now stored in the local database and channels are sorted by channel number (could be a number or could be text like 2_1).  This should no longer be an issue

[2013-08-26 18:29] dmfrey commented on #136
added by @pot8oe

[2013-08-26 18:29] #136 closed, assigned to pot8oe

[2013-08-26 18:30] dmfrey commented on #129
please retest, this is now a part of the backend status page which should gracefully fall back to a "not connected" page

[2013-08-26 18:31] dmfrey commented on #127
notifications are gone and will be replaced with an in app indicator to verify if the service is running or not

[2013-08-26 18:31] #127 closed, assigned to nobody

[2013-08-26 18:33] dmfrey commented on #36
backend status page now indicates this in a dialog box when no profiles are configured per home and away profiles

[2013-08-26 18:33] #36 closed, assigned to dmfrey

[2013-08-26 19:02] billmeek commented on #142
Running on: mythtv-android-frontend-1.10.1-414-g6745950. There are no files
in .../data/org.mythtv/cache. Marking as closed and hiding the report on the
Developer Console.

[2013-08-26 19:02] #142 closed, assigned to dmfrey

[2013-08-26 19:08] billmeek commented on #148
Yes, it's still happening on the latest commit.

Could be my misunderstanding of Eclipse, but in Git there
are no tags for beta v1.20.0 (or branches.)

Running on: mythtv-android-frontend-1.10.1-414-g6745950

[2013-08-26 19:57] billmeek commented on #137
Running on: mythtv-android-frontend-1.10.1-414-g6745950. This still appears
to be an issue. My Over-theAir channels are intermixed with cable, for example:

[code]

I understand your comment about Chan_Id being changeable if the backend's
sources are redone. Would it be possible to add the channel.SOURCE_ID
to the sort process? I know that can change too, but isn't a fresh copy loaded
each time th

[2013-08-26 20:51] tekrantz commented on #146
The problem has been resolved.  Thank you.

I am having issues with the latest master though.  In particular playback never starts unless I come back later (after transcoding finishes) and request the episode again.  Would you like a bug report on this?

Tim

From: Daniel Frey [mailto:notifications@github.com]
Sent: Monday, August 26, 2013 2:24 PM
To: MythTV-Clients/MythTV-Android-Frontend
Cc: tek

[2013-08-26 20:52] dmfrey commented on #137
yes, this is possible.  It is easy to add this. What specifically would you
like to sort on.

On Mon, Aug 26, 2013 at 3:57 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-08-26 21:19] #146 closed, assigned to tafypz

[2013-08-26 21:38] dmfrey commented on #146
Tim,

Can you capture the details and open a new ticket?

Thanks,
Dan
On Aug 26, 2013 5:28 PM, "tekrantz" notifications@github.com wrote:

[2013-08-26 21:48] billmeek commented on #137
I couldn't figure out how to do it on the MAF data with sqlbrowser, but on the
backend/MySQL, it was:

[code]

(although in MySQL that puts 11_1 before  2_1 while your existing sort has
them in the correct order, just interspersed with the cable channels)

[2013-08-26 21:52] dmfrey commented on #137
I think I am converting all channel numbers to a floating point numbers and
then sorting.

So 2 would be 2.0 and 11_1 would be 11.1.

I thought this was handling the sort
On Aug 26, 2013 5:48 PM, "billmeek" notifications@github.com wrote:

[2013-08-26 22:32] billmeek opened #153 "Fatal Exception/NPE after picking Profile and then choosing DVR"
To duplicate:

1.Stop the app, delete cache and data
2. Start the app and select a BE
3. Observe the Status screen starts
4. Select DVR from the Navigation Drawer
5. The Drawer will close about 1/2 way

NPE fires

Note that steps 3 and 4 do NOT have to be done quickly. Starting the app
again and repeating 3 and 4 will cause the error to happen again. Watching
LogCat, it appears that the app will b

[2013-08-26 22:48] billmeek commented on #137
I believe that would work great for my case. But, I don't have any channels below 100
active for my cable box (and my highest OTA channel is 50_1.) Users with analog
channels or low numbered cable channels would still see the intermixing.

[2013-08-26 23:39] billmeek opened #154 "Dark remote icon/black text difficult to read on Navigation Menu"
See screenshot for remote example. The timestamps for the
four DVR screens are black and nearly impossible to read
against the dark Navigation Drawer.

The attached does not accurately reflect the Drawer on my
tablet. It appears even darker.

Running on: mythtv-android-frontend-1.10.1-414-g6745950

![dark-screenshot](https://f.cloud.github.com/assets/1831699/1030030/02771f30-0ea8-11e3-8d68-6bb8c60

[2013-08-27 13:09] dmfrey commented on #137
@billmeek  what does the chan_num_formated column in your sqlite db look like?

I was slightly off in my previous description of the formatted column.  I am padding these out with zeros and then formatting them as text.  I think the issue is that these text formated channel numbers are not always in the 2_1 fomrat.  The underscore could be any number.

[2013-08-27 13:29] billmeek commented on #137
@dmfrey there are OTA lines like 05_2 and _5_3 (which is an 'invisible' channel in MythTV.)
They are left adjusted. Cable channels all look like 0xxx e.g. 0142.

This is from an 8/22/13 dump. Let me know if something has changed and you need a
fresh one.

[2013-08-27 14:23] #137 closed, assigned to dmfrey

[2013-08-27 14:37] tekrantz opened #155 "Recording playback does not start"
With all recent master versions (8/27/2013 and back) selecting a recording for playback does start the transcode.  I can verify this by running "top" on the backend machine AND I see the "processing" percent count appear and increment on the android frontend.  But playback never starts.  Running the 1.10 android frontend on the same android device against the same backend does play the recording.

[2013-08-27 14:43] dmfrey commented on #137
@billmeek try this again.  I made the switch over to making the formatted channels a float where everything after the  delimiter is on the right of the decimal point.  I inspect each for the delimiter and use it if it is different than an underscore

[2013-08-27 15:12] billmeek commented on #150
If the newly disabled buttons are pressed, the following exception prints.
At 1st, I was pressing the 0/1 buttons just because users might still try
to. I had to repeat this as many as nine times before this fired.

Then, I just tried pressing a row on the left (title) side and on the 1st try
this fired.

Lines below are unfolded for readability.

<pre>
08-27 09:54:46.632: D/AndroidRuntime(25522):

[2013-08-27 15:26] billmeek commented on #137
Works for me. Interesting note: 5_1 is stored as: 5.19999980926514.
All of the other X_Y channels with the exception of 26_5 have the
correct tenths digit, but 12 digits following e.g. 9.10000038146973.
26_5 has the expected value of exactly 26.5.

[2013-08-27 15:39] billmeek commented on #155
@tekrantz, please see if this matches #148. Especially the line, roughly in the
middle, of the LogCat that says:

<pre>
08-20 23:21:30.303: D/LiveStreamService(9462): onHandleIntent : exit, Recorded program not found
</pre>

[2013-08-27 17:42] tekrantz commented on #155
No sir.  I do believe I saw that one also but my logcat has no instances of onHandleIntent : exit with a no program found…..

Tim

From: billmeek [mailto:notifications@github.com]
Sent: Tuesday, August 27, 2013 11:39 AM
To: MythTV-Clients/MythTV-Android-Frontend
Cc: tekrantz
Subject: Re: [MythTV-Android-Frontend] Recording playbeck does not start (#155)

@tekrantz https://github.com/tekrantz , ple

[2013-08-27 18:04] #150 closed, assigned to dmfrey

[2013-08-27 20:17] billmeek opened #156 "Guide Page: Fatal Exception, IllegalArgumentException"
Go to the Guide screen. It will only draw the top "time line".

The exception is similar to  the ambiguous column name in #150.

Running on: mythtv-android-frontend-1.10.1-418-g85aa2ea

[code]

[2013-08-27 20:33] billmeek commented on #55
@dmfrey looks like this should be closed, do you agree?

Tested by turning WiFi off on my tablet and starting the app, got Status screen
message OK (that the backend can't be reached.)

WiFi on, started app, went to Recordings screen. Turned WiFi off and then
tapped the Reload icon. Got a Toast message that explains that the backend
can't be reached.

Tested on: mythtv-android-frontend-1.10.1-418-

[2013-08-27 20:36] dmfrey commented on #55
closes #55

i agree

On Tue, Aug 27, 2013 at 4:33 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-08-27 20:52] #156 closed, assigned to dmfrey

[2013-08-27 21:02] #55 closed, assigned to dmfrey

[2013-08-27 22:13] tekrantz opened #157 "Null Pointer on select DVR after delete all storage and uninstall then reinstall"
If I clear everything for myth android frontend and start it up, add a home profile and then select DVR I get a null pointer exception.

stack:

mythtv-android-frontend [Android Application]
    DalvikVM[localhost:8600]
        Thread [<1> main](Suspended %28exception RuntimeException%29)
            ActivityThread.performLaunchActivity(ActivityThread$ActivityClientRecord, Intent) line: 1968

[2013-08-27 22:44] billmeek commented on #157
Appears to be a duplicate of #153. If you disagree, please comment and I'll re-open it
(or you can too.) In either case, thanks for testing!

[code]

PS, no sirs here, just friendly folks interested in the project. ;)

[2013-08-27 22:44] #157 closed, assigned to nobody

[2013-08-27 23:04] billmeek commented on #120
Closing. Will open a new issue if this continues to be a problem.

[2013-08-27 23:04] #120 closed, assigned to billmeek

[2013-08-28 14:24] #155 closed, assigned to nobody

[2013-08-28 21:07] billmeek commented on #148
Retested both before and after 155 was fixed. Fails for the
slave backend recording, but WORKS OK for master backend
recordings now.

[2013-08-28 22:22] dmfrey commented on #148
Yeah. Saw that. Am working on a fix.
On Aug 28, 2013 5:07 PM, "billmeek" notifications@github.com wrote:

[2013-08-28 23:14] billmeek commented on #148
It appears that the channel and starttime are getting passed OK
And, the location profile correctly shows the backend's hostname
of mc0. However, in the database, this recording is mc1-slave.

When appendLocationHostname is run, it uses: FIELD_MASTER_HOSTNAME
and or locationProfile.getHostname().

So, I think loadRecorded fails to find the program because the slave's hostname
isn't used.

[code]

[2013-08-28 23:16] billmeek commented on #148
Argh - or I could have read my email before  pressing the comment button.

[2013-08-28 23:23] dmfrey commented on #148
If you let the hls transcode finish on the backend, the service stops in
the app. Then you can execute the delete. But while the update is running
you can't execute another action against the same service. It is the same
reason why pressing play wouldn't start playback either.

I am working on making sure the service gets stopped before it tries send
another action to it.

Problem now is the servi

[2013-08-28 23:46] billmeek commented on #148
I just updated the title of the issue. It's Circled +, not Circled X. The failure
I was trying to address happens on a fresh database and no previous/
existing transcodes. I agree, menu->Delete fails too.

[2013-08-29 01:08] #152 closed, assigned to dmfrey

[2013-08-29 01:23] dmfrey commented on #107
I was trying to follow this back through the thread...is the problem here that once a recording is marked in error, it can never be unmarked?

[2013-08-29 01:25] dmfrey commented on #129
closing for now as backend status gracefully falls back to a "not connected" screen

[2013-08-29 01:25] #129 closed, assigned to dmfrey

[2013-08-29 01:32] dmfrey commented on #131
this is no longer an issue as this functionality was removed with #150 in commit 5bda505

This functionality will be moved to the recording rule dialog fragment that is forthcoming.

[2013-08-29 01:32] #131 closed, assigned to dmfrey

[2013-08-29 01:48] dmfrey commented on #149
@billmeek  after repeated attempts to try to reproduce it on my nexus 7, i cannot manage to reproduce it.

[2013-08-29 01:59] #153 closed, assigned to dmfrey

[2013-08-29 02:08] #141 closed, assigned to pot8oe

[2013-08-29 03:40] billmeek opened #158 "MythTV 0.27 Change to Bonjour service type name"
Marking this issue as a design discussion, for now. When the commit is released,
change this to a bug.

8/28/2013, Trac ticket: http://code.mythtv.org/trac/ticket/10773 has been discussed
on the commits list and the plan is to change the 'service type name' from
mythbacked-master or mythbackend-slave to just mythbackend.

The master/slave portion will now be placed in the txt section.

I believe t

[2013-08-29 17:11] pot8oe commented on #154
I believe I fixed all instances of dark text/icons and am closing this issue.

Reopen if any occurrences still exists.

[2013-08-29 17:36] billmeek commented on #154
@pot8oe, much better, thanks. The triangle for selecting the active frontend is
still black.

[2013-08-29 17:39] pot8oe commented on #154
I'll have to check if the triangle is editable by us. It's part of the
android spinner control.
On Aug 29, 2013 1:37 PM, "billmeek" notifications@github.com wrote:

[2013-08-29 17:54] billmeek opened #159 "Invalid channel number causes an error exception (Invalid float: ".5.3")"
To duplicate

[code]

In my MythTV DB, this channel is known as: 5_3.

Channel 5.3, in my case, is marked as not visible. It doesn't appear
in the MAF DB. I seem to remember invisible channels having an '_' in
front of their names before the conversion to floating point.

Not sure why I don't see 57 more of these errors as I have 58 channels
marked as not visible.

<pre>
08-29 12:37:56.836: I/Chan

[2013-08-29 18:23] billmeek commented on #130
Leaving this issue closed and linking it to #148, which I'll reopen.

[2013-08-29 18:25] billmeek commented on #148
This is still failing. MAF can't find the recording. No protocol is received by the
MythTV backend.

[2013-08-29 19:21] #159 closed, assigned to dmfrey

[2013-08-29 19:53] dmfrey commented on #148
@billmeek  can you verify the data is correct on the backend and what is being sent from the app?

nothing is received on the secondary backend? Is there any error on the primary backend?

[2013-08-29 21:25] billmeek commented on #148
Looking at the slave backend with upnp logging on, there are no messages and
looking with tshark, no protocol is exchanged.

Looking at the master backend with the same tools. The only message in the backend
log is: GetHostName : GET /Myth/GetHostName and the same is seen using tshark.

The above were captured (or not captured) after the Circled + followed by Process
were pressed.

For this test,

[2013-08-29 22:12] billmeek commented on #158
MythTV 0.27 commit was done 8/29/2013.

See: code.mythtv.org/cgit/mythtv/commit/?id=d538503

As expected, the backend is no longer found on the network.

[code]

Moved this issue from a 'design discussion' to a 'bug' and 'critical'.

[2013-08-30 13:13] dmfrey commented on #158
@billmeek can you capture what it looks like on you backend in a zeroconf browser?  Just so I can determine where the text is going to be that indicates master or slave

[2013-08-30 13:29] dmfrey commented on #158
Also, what about frontend discovery?  Any changes there?

[2013-08-30 13:36] billmeek commented on #158
I tried with the ZeroConf Browser on my tablet and it doesn't
display the txt record.

From Linux, using avahi-discover, the following can be seen on the terminal
window (it's much easier to read on the GUI.)

[code]

I've not been able to find an example of something like getTxt() to use.

In order to have my tablet work, I had to make the following change
in client/ui/preferences/MythtvPreferenc

[2013-08-30 13:38] billmeek commented on #158
The name for the frontend fits into the 15 character limit that they're
fixing with this commit. So, no change.

[2013-08-30 13:48] dmfrey commented on #148
@billmeek does this fail when you press the button? Or does it fail when you go to the VideoActivity and it never plays?

[2013-08-30 14:28] billmeek commented on #148
It happens when I press the Circled + (followed by Process in the warning pop up.)

[2013-08-30 16:04] billmeek commented on #158
Previously, when I ran with my master (mc0) and a slave (slave-mc1) and
configured MAF, only mc0 would be presented. With this fix, both are.

Shouldn't the host that's marked as slave in the newly used txt record be
hidden from the user?

[2013-08-30 16:09] billmeek commented on #107
Correct, once marked, I couldn't unmark it after the MythTV DB had been corrected.
I started retesting last night and couldn't see the Toast message used before. I'll take
a look in the MAF db. Ball's in my court.

[2013-08-30 18:38] billmeek commented on #107
Short answer: null or all 0 timestamps will create one entry in the MAF DB
for each refresh of the Recordings screen. No warning to the user that the
data is bad. If corrected, the episode can't be played (tested on a master BE.)

I think the question becomes how should the user be alerted to the problem.
I'd prefer to see a comment on the Recordings screen, rather than a short
Toast message. Also

[2013-08-30 18:46] billmeek commented on #129
Repeated initial test. Confirmed closed.

[2013-08-30 20:46] billmeek commented on #149
@dmfrey, I'm unable to duplicate now as well.
@pot8oe I only have Samsung Galaxy Tab 10.1 and haven't been able to find a way to
rotate the screen using the Android emulators.

Closing, but anyone else reading, please comment on this issue if you can duplicate the
issue as described in the initial comment on this page. Thanks!

[2013-08-30 20:58] pot8oe commented on #149
@billmeek  Switch to next layout orientation (for example, portrait,
landscape) KEYPAD_9, Ctrl-F12
http://developer.android.com/tools/help/emulator.html#KeyMapping

-Tom

On Fri, Aug 30, 2013 at 4:46 PM, billmeek notifications@github.com wrote:

[2013-08-30 21:51] pot8oe commented on #154
Pain in the ass but I was able to create a custom background drawable that closely resembles the default spinner but lighter in color.

[2013-08-30 21:51] #154 closed, assigned to nobody

[2013-08-31 22:02] billmeek commented on #158
The following works, ONLY if I change the backend to send role=master or role=slave
(role could be any other word.)

If the BE only returns master or slave in the txt record (which is supposed to be legal,) then
I can't get this to work:

[code]

This also fails if there is no = in the txt record.

[code]

The result of the above is null for both master and slave roles.

[2013-09-02 19:06] #158 closed, assigned to dmfrey

[2013-09-03 22:16] billmeek opened #160 "Recording screen: Delete episode sometimes causes NPE"
Fails with only one episode as well as multiple episodes.
I restarted MAF and deleted the same episode and it
worked. Tough to reproduce, as it doesn't always
happen.  Similar to #152, but the stack looks different.

<pre>
09-03 16:52:31.463: E/AndroidRuntime(5034): FATAL EXCEPTION: main
09-03 16:52:31.463: E/AndroidRuntime(5034): java.lang.NullPointerException
09-03 16:52:31.463: E/AndroidRuntime

[2013-09-04 10:08] espenaf opened #161 "BackendStatusTask fails if there are no scheduled programs"
Using trunk with mythtv-service-api-0.0.32

A freshly installed MythTV 0.26 box with only a FREEBOX encoder gives me the following Scheduled status on the status page;

[code]

The BackendStatusTask fails with the following strack trace:

[code]

If I change the following in Scheduled,java

[code]

to

[code]

it doesn't fail, but might now be correct.

[2013-09-04 10:34] espenaf opened #162 "BackendStatusTask fails if Guide status fields comment and next is not present or empty"
Using trunk with mythtv-service-api-0.0.32

A freshly installed MythTV 0.26 box with only a FREEBOX encoder gives me the following Guide status on the status page;

[code]

As there is no guideThru, comment, guideDays fields, and no next value, the following stack trace is thrown for the comment part, similar for next.

[code]

Settings the required = false to the fields does stop the error, but m

[2013-09-05 06:11] espenaf opened #163 "Parsing of Status.Load does not support comma as decimal separator"
My MythTV 0.26 installation spits out a Load status using comma as a decimal separator like this:

[code]

This is probably related to my linux box using the following locale settings:

LC_NUMERIC=nb_NO.UTF-8

Which uses comma as an decimal seperator rather than dot for en_US.UTF-8.

[2013-09-05 11:12] pot8oe commented on #163
Do you run your android device with a similar locale?
On Sep 5, 2013 2:11 AM, "Espen Fossen" notifications@github.com wrote:

[2013-09-08 12:04] espenaf commented on #163
The Android device is not running with the same LC_NUMERIC locale, but en_US.

The actual problem is the parser throws an NumberFormatException.

[2013-09-10 14:05] tekrantz opened #164 "Processing percent not chaging as of commit ea72243"
Just upgraded to commit ea722432fd574e047c453d0b5729ed9caeee4bac.

Pressing the "eyeball" on a recording starts transcoding and "Processing 0%" appears above the recording but never changes from that 0 percent. Changing to another recording and back even after 15 minutes still results in 0 percent.

[2013-09-10 18:13] billmeek opened #165 "Multi host: Can't change profile"
To duplicate:

[code]

Note that host doesn't change. Both hosts were up and
their backends running. No messages were seen in either
hosts backend log file.

Running on:

[code]

[code]

[2013-09-10 18:27] billmeek opened #166 "Recordings: Delete last recording doesn't remove banner and All entry until refresh"
To Duplicate:

[code]

Note that neither the banner for the title nor the episode is
removed from the screen. Also, the episode remains in the
"All" listing. Changing to another title and returning to the
newly deleted title has the same result.

Pressing the refresh icon deletes the title's banner and episode,
however the "All" listing still displays the episode.

[2013-09-10 19:47] dmfrey commented on #166
Did you get the Toast message indicating that the episode was deleted?

On Tue, Sep 10, 2013 at 2:27 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-09-10 20:16] billmeek commented on #166
Yes, the Toast message said "Episode deleted!" Just retried on my
production backend. Same result. Also, in the backend log, there
was:

[code]

Also looked in the frontend and the episode is gone.

[2013-09-11 01:32] pot8oe opened #167 "App Crash when backend not accessible"
Reproduce:
1. Connected via ssh tunnel so MAF was configured to connect to a home profile with address localhost:6544
2. Returned home and started the app.

Only work around is to recreate the ssh tunnel.

Full Stack Trace:

09-10 20:35:47.680: E/AndroidRuntime(27101): FATAL EXCEPTION: AsyncTask #1
09-10 20:35:47.680: E/AndroidRuntime(27101): java.lang.RuntimeException: An error occured while exec

[2013-09-11 02:08] #166 closed, assigned to dmfrey

[2013-09-11 02:32] pot8oe commented on #167
I can also recreate on a new device and by manually creating a home profile pointing to localhost. The app will crash attempting to contact the masterbackend and then crash on subsequent application starts.

I assume manually creating a profile to any unreachable address will reproduce this.

I'm going to elevate this to critical because there is no easy work around to choose a second valid profil

[2013-09-11 03:10] billmeek commented on #166
If you could get rid of the "Recorded program not found" Toast and
Log.d message this would be perfect (I know how to remove them,
but not how to leave them in but prevent them from printing.)

Not reopening the issue.

[2013-09-11 05:12] billmeek opened #168 "0.27 AddLiveStream using -1 for parameters that aren't to be sent"
Discovered while reproducing #164.

@dmfrey, please review. I changed the 0.27 MAF code to use nulls,
but when I tried 0.26, Ellipse showed an error. So I left 0.26 as -1.

Looking at the backend log after using: mythbackend --setverbose upnp,system
The following is seen. Note the -1 values.

[code]

Probably a case where the backend should either take the absolute value of
a parameter, range chec

[2013-09-11 09:36] dmfrey commented on #166
I will remove the toast messages. I want them all gone anyway, except for a
few occurrences.

Which Log.d are you referring to?
On Sep 10, 2013 11:10 PM, "billmeek" notifications@github.com wrote:

[2013-09-11 12:27] tekrantz commented on #168
I noticed the same behaviour.  My file went over 500GB, filled my drive and cause me to miss races 5 and 6 of the America's cup (sad face).

[2013-09-11 13:24] #168 closed, assigned to billmeek

[2013-09-11 13:27] dmfrey commented on #161
@espenaf can you test this again since the refactor to use the v1+ mythtv services api.  If it is still an issue, please open a ticket in the mythtv services api repo

[2013-09-11 15:33] billmeek commented on #166
I didn't revert the fix to retest, but the Log.d is:

[code]

has the only  "Recorded program not found" left that I can find. I didn't touch it
because I don't know if it's used elsewhere.

[2013-09-11 18:42] dmfrey commented on #167
I am adding a catch in there for the MythtvServiceApiRuntimeException and will return false if raised.

But should this also reset any connected backends??

[2013-09-12 01:28] #167 closed, assigned to nobody

[2013-09-12 02:57] #160 closed, assigned to dmfrey

[2013-09-12 03:00] dmfrey commented on #148
@billmeek does this now work with the change you made in 0413e0b9c4c19e8de9fa8003b9a25b3d2c6ef6d6 to resolve issue #168?

[2013-09-12 15:02] billmeek opened #169 "NPE with tablet idle"
The duplicate section of this issue could only say, the
tablet was sitting on my desk. I picked it up and pressed
power then the Navigation Drawer and got the NPE.

Note the timestamps, the NPE happeded at 9:54, the last thing
I did was turn the tablet screen on (with the  power button) at
9:45.

Running on: mythtv-android-frontend-1.10.1-490-gb2a8ac9

[code]

[2013-09-12 15:20] billmeek commented on #148
@dmfrey, No, I still get the "Recorded program not found" Toast. FWIW,
pressing Menu/Delete/Delete shows 2 Toasts: "Episode NOT deleted!"
and "Recorded program not found".

Running on: mythtv-android-frontend-1.10.1-490-gb2a8ac9

[2013-09-12 15:21] dmfrey commented on #148
pull the latest head. I removed the toasts last night and fixed some things
with delete

On Thu, Sep 12, 2013 at 11:20 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-09-12 16:43] billmeek commented on #148
Grrr, I had done the pull for, mythtv-android-frontend-1.10.1-490-gb2a8ac9.
But it helps to do a build too (got distracted.)

However, still no joy. The Toast is gone. I see the following in LogCat:

[code]

I'm trying to look inside the extras for the hostname, and not doing well. Is the
master hostname being used or the slave's hostname?

[2013-09-12 20:14] dmfrey commented on #148
@billmeek, does a entry ever get created in the live_stream table in the
sqlite db?  If so, what is the source host set to?

On Thu, Sep 12, 2013 at 12:43 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-09-12 20:19] #169 closed, assigned to dmfrey

[2013-09-12 20:39] billmeek commented on #148
No, the live_stream table is empty. Looking at:

[code]

The host used to look-up the recording will be that of the master
backend, it should be the slave (slave-mc1 in my test case, not mc0.)

[2013-09-12 20:55] dmfrey commented on #148
no, that statement is just in place to keep the items that are from the
same master backend in line from items from another backend.  That is used
all over the code so you know you are only querying the db for items from
the backend you are currently connected to.

Can you see what the data being returned from GetRecordedList is setting
for the Hostname for those recordings that are on your slave

[2013-09-12 20:59] billmeek commented on #148
Please look a the comment 10 boxes above this one on the issues web
page. I've dumped the MythTV db, the XML and the SqLite.

In all three cases, the hostname is: slave-mc1.

[2013-09-13 00:45] #162 closed, assigned to dmfrey

[2013-09-13 01:02] #161 closed, assigned to dmfrey

[2013-09-13 05:08] billmeek opened #170 "0.27 MythMote Fatal Exception, any keypress"
To Duplicate:

[code]

Exception fires.

In the backend log, only: SendAction : /Frontend is seen,
no Action=Enter etc. The backend returns a 404 error.

[code]

[2013-09-13 13:12] pot8oe commented on #170
The error is on port 6544 but frontend service runs on port 6547.

According to the mythtv wiki there is a parameter "File" that is required.
http://www.mythtv.org/wiki/Frontend_Service#SendAction

The MythTV Services API 0.27 has a "Value" parameter that is always NULL and not being sent.

@billmeek Can you try the following and let me know if any work. All three work on my 0.26 frontend.
curl "h

[2013-09-13 13:54] billmeek commented on #170
@pot8oe, none of them work, because the IP is for my backend that
has no frontend running. _Which I should have noticed_. If I change the
address to end in .200 where I have a frontend running, all three work
fine.

When I reran the test this morning, I didn't get an exception, but no
commands were sent to my running FE and I didn't see any messages
coming into the FE watching with the tshark prot

[2013-09-13 14:09] tafypz commented on #170
@billmeek
the service api code for 0.27 is now auto generated from the wsdl and xsd,
The frontend endpoint wsdl doesn't contain a parameter frontendApiURL so it is generated.
So using this endpoint requires you to have the connection already established to the frontend so that it can send the request to it.

[2013-09-13 14:35] dmfrey commented on #170
i think i know what I have to do in this case.  I will take a look tonight.
 I believe my service is passing in the location profile and getting access
with the url contained in the location profile, instead of passing in the
frontend url.  This one needs to be handled differently than any other
service post v1 refactor.

On Fri, Sep 13, 2013 at 10:09 AM, Sebastien Astie
notifications@github.comwr

[2013-09-13 14:41] pot8oe commented on #170
I have just received a similar error. The NavBar frontends list remembered
all found frontends. I closed the selected frontend and then went to
Mythmote and tried to control it. Crashed MythMote activity and dropped me
back to MythTV activity. We need to provide better feedback to the user and
not fail out.

-Tom

On Fri, Sep 13, 2013 at 10:35 AM, Daniel Frey notifications@github.comwrote:

[2013-09-13 17:31] billmeek commented on #170
@dmfrey, tests A-OK, would you like me to change the lines like:

[code]

to refer to the Frontend and print the URL used?

[2013-09-13 17:31] #170 closed, assigned to pot8oe

[2013-09-13 17:44] dmfrey commented on #170
yes, go ahead

On Fri, Sep 13, 2013 at 1:31 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-09-13 20:41] billmeek opened #171 "Tracking Issue: Handle invalid timestamps passed to MAF by MythTV (was #107)"
Opening this as a bug. #107 has gotten too old and has too many
comments to easily follow.

MAF needs to decide how to treat invalid timestamps caused by
corrupt data in the MythTV DB.

[2013-09-13 20:42] billmeek commented on #107
Closing and tracking the invalid timestamp issue per the above reference.

[2013-09-13 20:42] #107 closed, assigned to dmfrey

[2013-09-13 20:50] billmeek commented on #122
Need an update from the developers. I'd suggest making the Refresh icon trigger a
fresh download. As opposed to adding another menu item. There should be no
need to refresh unless there's something's missing in the current display or if the
user knows that something has changed in Upcoming/Recordings.

[2013-09-13 20:52] billmeek commented on #126
No response after 6 months. Please reopen with the suggested PAL
equivalents. Thanks.

[2013-09-13 20:52] #126 closed, assigned to nobody

[2013-09-13 20:54] billmeek commented on #64
Closing after 11 months. The original question was answered in the
2nd comment. Please reopen if necessary.

[2013-09-13 20:54] #64 closed, assigned to dmfrey

[2013-09-13 20:55] pot8oe commented on #122
I agree. Fresh download!

-Tom

On Fri, Sep 13, 2013 at 4:50 PM, billmeek notifications@github.com wrote:

[2013-09-13 20:57] billmeek commented on #74
Update: 0.27 appears to have the required enhancements
in AddRecordedSchedule..

[2013-09-13 20:59] dmfrey commented on #122
This will be pretty easy to fix. Just delete the etag for the respective
service endpoint when the refresh button is pressed.

I will take a look tonight.
On Sep 13, 2013 4:55 PM, "Thomas G. Kenny Jr" notifications@github.com
wrote:

[2013-09-13 21:02] dmfrey commented on #74
Yes, we just need a dialog fragment that is reusable across recorded,
upcoming, guide. It was something I have been meaning to tackle.

I do think we should provide a warning for v25-26 as it needs to delete the
rule and add a new one, whereas v27 has an update endpoint.
On Sep 13, 2013 4:57 PM, "billmeek" notifications@github.com wrote:

[2013-09-13 21:19] pot8oe commented on #74
Didn't I make an activity or fragment for this already? Might be able to
reuse the layout and convert to dialog fragment.
On Sep 13, 2013 5:02 PM, "Daniel Frey" notifications@github.com wrote:

[2013-09-13 21:25] billmeek commented on #143
Closing. No activity in 2 months. Unable to duplicate the problem.
Please collect LogCat as described in the previous comment
here and reopen. Changing label to Invalid. Thanks!

[2013-09-13 21:25] #143 closed, assigned to nobody

[2013-09-13 21:44] billmeek opened #172 "Recordings: Deleting all episodes removes banner from different show"
To Duplicate

[code]

Pressing Refresh  restores the banner. Edge case, happened on
two out of five tests.

[2013-09-13 22:22] billmeek opened #173 "1.20.0 Android LInt"
There are 9 errors and 263 warnings at the time this issue
was created.

Although commenting out the following reduces the errors to 3. I'm loathe to
commit this because I don't know its affect. I did search for RecordingsActivity
and found every match was a comment (except for the Manifest.)

[code]

Opening as a design discussion. Suggesting that prior to release, there
should be 0 errors.

[2013-09-13 22:26] dmfrey commented on #173
If there are any errors, the app will not run. Can you send me the errors?
On Sep 13, 2013 6:22 PM, "billmeek" notifications@github.com wrote:

[2013-09-13 22:29] billmeek commented on #173
The remaining are "Unexpected namespace" the 1st one is this:

[code]

[2013-09-13 22:38] billmeek commented on #173
Sorry, my control key is sticking. The file for the above is:

[code]

[2013-09-14 01:09] dmfrey commented on #173
When I look at the Problems tab in Eclipse, I only see 34 Warnings and no Errors.  Where are you seeing all these errors and warnings?

[2013-09-14 01:22] billmeek commented on #173
It's in the Java Perspective, Window menu, 2nd to last line
"Run Android Lint".  Here's the remaining three errors:

[code]

Odd thing is, when I commented out the:

[code]

"error" and then reverted the fix. It didn't come back. That's after multiple Project
Cleans and restarting Eclipse. I'm not sure how good this tool is (value vs. time.)
And multiple re-runs of Android Lint.

[2013-09-14 02:30] #122 closed, assigned to nobody

[2013-09-14 02:38] dmfrey commented on #148
I had a thought...I wonder if this is the same problem as #170 where were are staring the connection to the backend, instead of the frontend?  I don't recall having to call the slave backend directly previously.  Could that have changed with v.27+?

[2013-09-14 03:16] billmeek commented on #148
I don't think it's a Frontend issue. but you bring up a good point.
And I agree the conversation should be between MAF and the
Master backend, not the Slave backend.

The 1st message below is what a GOOD request looks like for
a recording that is on my test  platform running as a Master.
This kicks off a mythtranscode session, as we would expect.
Nothing new here.

[code]

Using the above as a tem

[2013-09-14 03:26] billmeek commented on #148
If you'd like to connect to my Master and see this, send
me a private email. I believe you're still setup, but for
access to my test platform.

Here's the response from mc0 for the recording made on
slave-mc1:

[code]

[2013-09-14 12:32] espenaf commented on #161
Looks good on 0.26.

[2013-09-14 12:32] espenaf commented on #162
Looks good on 0.26.

[2013-09-14 13:04] dmfrey commented on #148
I believe I am sending in the hostname in the call to the backend.

For these programs, can you see if the start time is different in the
recorded table and the recording table on the backend and local Sqlite dB's?
On Sep 13, 2013 11:26 PM, "billmeek" notifications@github.com wrote:

[2013-09-14 14:51] billmeek commented on #148
Interesting. Of the 8 slave-mc1 recordings, only 2 are in the
recording_recorded table (hope that's the one you meant.)
And the one I've been testing with isn't there.

I tested one of the matches, and it's 74% transcodied as
I write this response (per the backend, not MAF.)

[code]

[2013-09-14 17:41] dmfrey commented on #148
can you see what the db has on the backend as well?

[2013-09-14 17:49] dmfrey commented on #163
Opened myth-services-api issue 15 to track:
https://github.com/MythTV-Clients/MythTV-Service-API/issues/15

[2013-09-14 17:53] billmeek commented on #148
Backend:

[code]

XML:

[code]

There's a full dump of the MySQL, XML and Sqlite about midway above.
But, let me know if you need fresh full dumps.

[2013-09-14 17:57] dmfrey commented on #148
I think that is the issue. If I remember correctly, I am passing in the
program start time and not the recording start time. But I think i need to
solve why not all the recorded programs don't have a corresponding
recorded_recording.
On Sep 14, 2013 1:53 PM, "billmeek" notifications@github.com wrote:

[2013-09-14 18:26] billmeek commented on #148
Sounds good. Converting the MAF times, below is a working
episode followed by a failing one. MAF DB/MythTV DB.

Live Free or Die Hard|1366480800000 = Sat Apr 20 18:00:00 UTC 2013
Fly-Away Baby|1377794700000 = Thu Aug 29 16:45:00 UTC 2013

[code]

[2013-09-14 19:00] tensberg opened #174 "Add German translation"
I am currently working on translating the strings.xml to German. I can create a pull request once I am ready if you are interested.

[2013-09-14 19:09] tensberg opened #175 "Maven build fails due to missing license headers"
When I run `mvn install` on the command line, the build fails because the _maven-license-plugin_ complains about missing license headers. Coding and running in Eclipse works fine, though, because the plugin is ignored.

[2013-09-14 19:45] billmeek commented on #175
I may have done an apt-get install maven, and I do have a
directory ~/.m2/repository/com/mycila/maven-license-plugin.  For
what it's worth, I'm running Ubuntu 13.04 and haven't seen a
mvn install with that error. Here's a dpkg -l|grep -i maven FYI:

[code]

[2013-09-14 19:53] dmfrey commented on #148
@billmeek

can  you change your query from above where only 2 entries were returned from the recording_recorded table to the following:

[code]

Then if you want to see where they aren't equal, add this to the where statement

[code]

There is a join column in the recording_recorded table called START_TIME, which maps to the START_TIME in the recorded table.  I noticed early on that these sometime

[2013-09-14 20:19] dmfrey commented on #174
Michael,

Thank you very much for this.  Also, you may find some hard coded strings
in the code. We are trying to be good about always putting them in the
strings.xml, but sometimes we miss them.  Please feel free to move them
into the original strings.xml and create your respective translations.

Dan

On Sat, Sep 14, 2013 at 3:00 PM, Michael Koch notifications@github.comwrote:

##

My Google Prof

[2013-09-14 20:21] dmfrey commented on #175
it might be that you are trying to do a deploy.  We have a target in there
to keep the license header up to date.  It might not have been run in a
while.  If so, run that first. It should clear up the issue.

On Sat, Sep 14, 2013 at 3:45 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-09-14 20:40] billmeek commented on #148
OK, the 1st query returns 228 rows. The 2nd  returns 7 rows.

[code]

[2013-09-14 21:17] billmeek commented on #148
Fixed by d8a1448. Master Backend got the request and started transcoding
the recording (which is stored on the Slave Backend.)

[code]

Transcoding completed, however, there were no updates to the % processing
and I can't play it. The Master Backend shows 100% complete in the livestreaming
table (sounds like #164, but I'll test that separately.) Closing this issue.

LogCat: http://pastebin.com/raw

[2013-09-14 21:17] #148 closed, assigned to dmfrey

[2013-09-14 21:56] dmfrey commented on #148
I closed #164 just after this one. If it's not playing then I am probably
sending in the wrong timestamp to the play command as well.
On Sep 14, 2013 5:17 PM, "billmeek" notifications@github.com wrote:

[2013-09-14 21:56] billmeek commented on #164
May need to define the expected way the % changes. Previously,
when it would keep updating. If the show or episode was changed
and the user returned to the episode that was in progress, the %
would be updated in a few seconds.

Now, there may be one update and nothing else until the user changes
from the show/episode and returns to it. Let me know if there should be
a new ticket or if this should

[2013-09-15 01:15] billmeek opened #176 "Recordings: Some episodes disappear at times"
No "To Duplicate section" yet. But this needs to be documented.

Running on: mythtv-android-frontend-1.10.1-503-g02a8dc3

For example, I have 8 episodes of "Mr. Selfridge" from "Masterpiece Classic".
I just picked up my idle tablet and noticed only episode 8 appeared. Touching
other shows and returning to "Masterpiece Classic" didn't display the missing
7 episodes. Pressing the "new" Refresh icon

[2013-09-15 03:36] billmeek opened #177 "On startup, Fatal Exception, IllegalStateException"
To Duplicate:

[code]

[code]

[2013-09-15 04:09] billmeek commented on #174
Michael,

I've been running Lint on the application. It found 37 hard coded strings
and I've added 31 of them to the strings.xml file (some strings are used
in multiple places.)

If you haven't started addressing the hard coded strings yet, I'll probably push
about 1600 UTC on 9/15. Everything I added is at the end of the existing file.

If you already have started, I'll just revert my changes. Pl

[2013-09-15 09:47] tensberg commented on #174
Thanks for your fast responses.

Please do this. While I feel pretty comfortable with Java and Eclipse, my copy of "Android in Action" is still sitting unread in my bookshelf. I'd therefore think that it is better if you do the code changes.

[2013-09-15 10:07] tensberg commented on #175
Thanks for the fast responses.

I've had a look at the [license plugin documentation](http://code.mycila.com/license-maven-plugin/) and think you are referring to the `license:format` goal. Running this goal fixed the `mvn install` build as you predicted. Perhaps you'd like to do this and push the changes.

[2013-09-15 12:17] dmfrey commented on #175
Mvn install is going to build the app and install it into your local
repository. You shouldn't need to do that just to work on the app.

Eclipse will handle building the app for you. In fact, for an android app,
I never run mvn install.
On Sep 15, 2013 6:07 AM, "Michael Koch" notifications@github.com wrote:

[2013-09-15 14:28] dmfrey commented on #177
What screen were you on when you got this exception.

As a design discussion, should we consider going back to the status screen upon waking up from idle?

[2013-09-15 14:33] pot8oe commented on #177
I think we should go back to the begining status screen. At least after a
prolonged period of not running the app.
On Sep 15, 2013 10:28 AM, "Daniel Frey" notifications@github.com wrote:

[2013-09-15 14:36] billmeek commented on #177
@dmfrey:
I never saw a MAF screen when I turned my tablet's screen back
on. Normally, I verify that the screen is on and that an existing run
of MAF has exited. I'll try combinations of screen on/off and try
letting the screen turn off on various MAF screens.

[2013-09-15 15:19] billmeek commented on #177
I'll edit the original issue with a to duplicate sequence of:
Choose a page (Status and MythMote Numbers were tested)
Let the device timeout and turn the screen off
Start MAF from Eclipse
Note Fatal Exception
Changing status to bug, but not critical

[2013-09-15 16:51] tensberg commented on #175
Of course. I am just used to the Maven build being the project health indicator, so I thought I'd report this. Please close the issue if you think it is not so important.

[2013-09-15 17:43] billmeek commented on #174
Michael;

If you click on the commit above, you'll see the changes made to the
default strings.xml. There were a couple of typos in the existing file
but most of the work is at the bottom.

[2013-09-15 22:48] billmeek commented on #171
The original workaround put 0 timestamps in the MAF db and set IN_ERROR
in the db. This was changed in e920f7a and now every time a corrupt episode
is loaded, a new record is created (I currently have 16 for 1 show.) The failed
episode is not displayed on Recordings.

https://github.com/MythTV-Clients/MythTV-Android-Frontend/blob/master/src/org/mythtv/db/dvr/ProgramDaoHelper.java#L432

[2013-09-16 03:24] billmeek opened #178 "Manage Profiles: Deleting active profile may cause an NPE"
To Duplicate:

[code]

[code]

[2013-09-16 18:12] billmeek opened #179 "Tracks the addition of MythTV version 0.28-pre to MAF"
Requires: MythTV-Clients/MythTV-Service-API/issues/16 to be
resolved 1st.

At this point, MAF can use v027 code for v028.

[2013-09-16 23:57] billmeek opened #180 "Top 5 Google Developer Console problems from 1.10.1 users, #1"
I checked out a copy of MAF 1.10.1 and the Services API
0.0.30. Then used the Java Stack Trace Console to find
the offending code. My plan was to see if the code still
exists.

A fragment of the code is below the 1st line of the trace
(that existed in MAF/API source) and is flagged with the
<----------.

Next, I checked out current MAF/API code and compared the
fragment with existing code. I've co

[2013-09-17 00:01] billmeek opened #181 "Top 5 Google Developer Console problems from 1.10.1 users, #2"
Please see #180 for an explanation of the following.

[code]

[2013-09-17 00:05] billmeek opened #182 "Top 5 Google Developer Console problems from 1.10.1 users, #3"
Please see #180 for an explanation of the following.

[code]

[2013-09-17 00:07] billmeek opened #183 "Top 5 Google Developer Console problems from 1.10.1 users, #4"
Please see #180 for an explanation of the following.

[code]

[2013-09-17 00:11] billmeek opened #184 "Top 5 Google Developer Console problems from 1.10.1 users, #5"
Please see #180 for an explanation of the following.

[code]

[2013-09-17 13:00] dmfrey commented on #163
@espenaf do you need to run with differing locale's between devices?

I think it is safe to close this issue.

@billmeek we might need to put a message in the play store entry indicating that you should be running with the locale on both your phone and master backend.

I am also removing the bug label from this.

[2013-09-17 14:02] dmfrey commented on #177
I found out why this is happening...

This article gives a good breakdown as to why this occurs: http://www.androiddesignpatterns.com/2013/08/fragment-transaction-commit-state-loss.html

I am, in fact, doing what they mentioned...There is an AsyncTask that calls a callback to the NavigationDrawerActivity.  It gets executed in the AsyncTasks.onPostExecute() method.  But the Activity has gone away a

[2013-09-17 15:17] #177 closed, assigned to dmfrey

[2013-09-17 16:42] billmeek commented on #163
@dmfrey, I'm a bit leery of adding instructions to the Play Store. Would
you be OK if locale was added to the FAQ? It would be the 2nd item on
the list.

[2013-09-17 18:03] billmeek opened #185 "Recordings: Watch icon does everything up to playing an episode for 'off hour' start time"
Looks like the next step after #148. The MAF display shows
Processing 0%. However, on the backend, the livestream
table shows 100% complete, there are proper files in the
steaming directory, and mythtranscode's log shows a
normal termination.

There wasn't a slave backend involved for this test.

A recording with 'matching' start times is OK.

Running on: mythtv-android-frontend-1.10.1-510-g443c55

[2013-09-18 17:51] tensberg commented on #174
When testing the translations I found some more strings which are hardcoded in the source. I've started moving them to the resources in my fork. Could you review my commit 45f6cf7 if I've done everything OK? If yes, I will also change the other places I find and send a pull request afterwards.

[2013-09-19 00:12] billmeek commented on #174
Looks good to me (but mostly I do the Wiki and testing.) I also loaded
your strings.xml. It works great! Unfortunately I _barely_ speak the language.

I added a new Wiki page to help others that might attempt what you've done.
https://github.com/MythTV-Clients/MythTV-Android-Frontend/wiki/_Translation-Process

Vielen Dank!

[2013-09-20 01:26] #165 closed, assigned to dmfrey

[2013-09-20 19:01] dmfrey commented on #176
I started noticing this as well.  Probably a problem with the query on the recordings list

[2013-09-20 23:55] billmeek commented on #102
@dmfrey, I have a working version of the default image just for
coverart. Just want to make you aware as you mentioned it
back 7 months ago ;) so both of aren't working on it.

[2013-09-21 03:51] #164 closed, assigned to dmfrey

[2013-09-21 18:10] tensberg commented on #174
Gerne :smiley:

I've read the wiki page and think that it is very helpful. One question: I can't find a way to add a label ( _translations_ ) to an issue. I guess it is only possible for project members.

[2013-09-21 18:51] billmeek commented on #174
Thanks for spotting that! The Wiki has been updated.

[2013-09-22 00:14] dmfrey commented on #176
it appears to be an issue with how programs are getting loaded, some are getting missed

[2013-09-22 13:21] dmfrey commented on #176
found it...wrong last modified field was being used to clean up stale recordings.  Program has a last modified date that gets returned in the xml. We maintain a last modified date to indicate in the app when the record was last modified.

[2013-09-22 14:35] #172 closed, assigned to dmfrey

[2013-09-22 14:38] dmfrey commented on #185
@billmeek can you retest this issue now and let me know if it is still  happening?  Changes were made to how episode handling occurred between the app and the backend as it relates to playback, live stream handling and deletes,  I do not think this issue is still occurring.

[2013-09-22 17:17] billmeek commented on #176
@dmfrey, sorry, it's still happening. Running on: mythtv-android-frontend-1.10.1-521-g571c990.
It seems totally random. Even the new Default coverart doesn't display at times.

[2013-09-22 17:19] billmeek commented on #185
Looks good.

[2013-09-22 17:19] #185 closed, assigned to dmfrey

[2013-09-22 18:10] billmeek commented on #178
Still fails on Android 4.0.1 (where I did my original tests.) I just put the
1st few lines of the trace because the line numbers changed. If a
full trace is required, let me know.

[code]

On a 7" Android 4.1.2 tablet, it dosn't fail.

[2013-09-22 18:31] dmfrey commented on #178
I will fire up a 4.0.1 vm later tonight and see what is going on
On Sep 22, 2013 2:10 PM, "billmeek" notifications@github.com wrote:

[2013-09-23 01:29] billmeek commented on #178
A-OK, thanks! Another edge case closed.

[2013-09-23 01:29] #178 closed, assigned to dmfrey

[2013-09-23 01:32] billmeek commented on #179
Note that this can be closed as soon as 0.28 follows the same path as
0.27 does now. The additional features don't exist in MAF and can't be
considered a bug.

[2013-09-23 13:51] dmfrey commented on #176
@billmeek

Can you uncomment Lines 87 and 97 in ProgramHelperV27.java and Lines 73 and 83 in RecordingHelperV27.java

Then, in the logcat view, setup a new filter:
Filter Name: org.mythtv:recorded
by Application Name: org.mythtv:recorded
All other fields blank.

Do successive refreshes.  Unless something is actively recording, you should only ever see the UPDATE messages.  If you are also seeing i

[2013-09-23 16:22] billmeek commented on #176
@dmfrey;

OK, Nothing is recording.

I stashed my changes, so the only differences between my source and
master are the new Log messages.

Corrupted timestamp removed from the backend.

Cleared MAF cache and DB before starting.

On the 1st entry to the Recordings screen there were lots of INSERTS
naturally, 'cause the MAF DB was empty.

On refresh, there were both UPDATES and INSERTS. pastebin:

h

[2013-09-24 03:47] billmeek commented on #176
Significantly better. However, there were still times episodes were
missed. I've commented out 6 Log messages like that were always
telling me a null channel id and 1969 timestamp. With them gone,
things look even better.

[2013-09-24 15:01] dmfrey commented on #176
@billmeek

Can you check the following...
1. run GetHostName

[code]
1. run GetRecordedList

[code]
1. Confirm the hostnames in the program entries match what is returned from GetHostHostname

I was connected to @pot8oe master backend and noticed this discrepency.  Since we use the hostname to keep items in sync across backends, if this is wrong, i believe it will be failing to load and keep the d

[2013-09-24 16:04] billmeek commented on #176
@dmfrey, they do match. {"String": "mc1"} =  "HostName": "mc1", On my
production host (mc0) the same is true, except for the  recordings that
were made when mc1 was running as a slave it it, in which case the
HostName is slave-mc1.

[2013-09-24 16:05] billmeek commented on #176
This should have been closed on 9/23/2013, but my commit (49cb8764)
had a space between the sharp sign and this issue number.

[2013-09-24 20:31] #182 closed, assigned to dmfrey

[2013-09-24 20:35] dmfrey commented on #183
No longer in the app.  This functionality will be moved to the pending Recording Rule Dialog fragment

[2013-09-24 20:35] #183 closed, assigned to dmfrey

[2013-09-24 20:51] #184 closed, assigned to dmfrey

[2013-09-24 20:54] dmfrey opened #187 "Backend Status Fragment not handling Not Connected when Away profile selected"
Connection status still says Connected to <Name> and animated Refresh button is still spinning

[2013-09-24 20:59] dmfrey commented on #181
are there any details on the version of java, phone make & model, etc.

After researching a bit, this looks like something that was running in a java 5 compatible Dalvik VM.  The isEmpty() function in the String class was introduced in java 1.6.

[2013-09-24 21:28] billmeek commented on #181
A70S; Android 2.1 per http://www.handsetdetection.com/properties/vendormodel/Archos/A70S

and

Desire (bravo); Android 2.1, per: http://www.gsmchoice.com/en/catalogue/htc/desire/

 were the Devices used.

[2013-09-24 21:45] dmfrey commented on #181
closes #181

The modern devices we are supporting going forward should not fall into
this category anymore.
On Sep 24, 2013 5:30 PM, "billmeek" notifications@github.com wrote:

[2013-09-24 21:58] #181 closed, assigned to dmfrey

[2013-09-25 18:14] billmeek commented on #176
Reopening, there is still a case where this fails.

[code]

Looking at the protocol, for the Status screen alone, I see
GetStatus, GetVideoSources, GetChannelInfoList (SourceID 1,2&3 for me)
then 15 Banner retrievals and a GetRecordedList.

Going to the Recorded screen, a 2nd GetRecordedList is
sent. Followed by Coverart 15x and Banners 16x.

So, my question is: will the 2 GetRecordedList commands

[2013-09-25 18:25] #187 closed, assigned to dmfrey

[2013-09-25 19:45] dmfrey commented on #180
this has been refactored and no longer implemented in this fashion, closing for now

[2013-09-25 19:45] #180 closed, assigned to dmfrey

[2013-09-25 21:58] billmeek opened #188 "Fatal Exception immediately after downloading the app from Eclipse."
New with 9/25/2013 commits. Android 4.1.2

[code]

[2013-09-25 22:14] billmeek commented on #176
@dmfrey, sorry, significantly worse now. Of 47 shows, only 7 had episodes.
After pressing refresh, all episodes were there.

[2013-09-26 01:15] billmeek opened #189 "Guide screen: Missing programs"
I went to the Guide screen. All channels from 2_1 through
115 displayed a full day's worth of programs.

Icon downloading is turned off for this test.

Next, I pressed the channel 117, it's the next in the list
of channels. Only one  program was shown.

Note that the program is scheduled to record and has the
red dot. Also, the only other channel that should record is 2_1,
and it doesn't have a re

[2013-09-26 02:32] billmeek opened #190 "Guide: Duplicate channel numbers"
May be related to #189.

[code]

[code]

The total number of channels in the 3 sources matches the
total number of visible channels in MythtV's DB.

[code]

[2013-09-26 03:56] billmeek opened #191 "Guide: Invalid channel icons for channels that don't have an icon defined"
Examples: Channel 340 appears on video sources 2 and 3
and it's the same History channel.

One channel 340 correctly displays the History icon. The other
displays the FOXNEWS icon.

In the MAF DB, there is an entry for 2340, but not 3340:

[code]

The 2nd type of invalid icon is for a single channel: Channel 643
is only in video source 3 and is the HGTVHD channel. It's icon,
however, is CSPAN. The

[2013-09-26 04:15] billmeek opened #192 "Scan Network: Fatal Exception/NPE during backend scanning"
Deleted all profiles
Scanned Network
NPE fired
First noticed today

[code]

[2013-09-26 04:27] billmeek opened #193 "Choreographer skipped frames question"
Opening this as a question only at this time. I've just
started seeing this message in LogCat, probably in
the last week. I can see it's informational, but does
this require fixing?

[code]

[2013-09-26 05:23] billmeek commented on #188
I saw this exactly once and couldn't duplicate it at will. And, I've
tested the same way with this fix and can't get it to fail. Closing.

[2013-09-26 05:23] #188 closed, assigned to dmfrey

[2013-09-26 15:09] dmfrey commented on #193
I found some info on this here:
http://stackoverflow.com/questions/11266535/meaning-of-choreographer-messages-in-logcat

[2013-09-26 16:34] billmeek opened #194 "Gallery: Undefined Storage Group isn't reported to user."
This is a MythTV configuration error that MAF doesn't report.

To duplicate,

[code]

If the new Multimedia screen attempts to get a storage group
that doens't exist, it displays an empty screen and a spinning
circle.

User's can exit by simply pressing the return button

Correcting the Master Backend solves the problem.

The backend receives the following:

[code]

And returns a 200 OK with:

[co

[2013-09-26 16:46] billmeek commented on #194
The above is correct, but the spinner never shuts off, even
when the proper Storage Group is defined.

[2013-09-26 16:47] dmfrey commented on #163
@billmeek Yes, i do not believe this should be in the play store.  FAQ is perfect for this.

[2013-09-26 16:47] #175 closed, assigned to nobody

[2013-09-26 16:55] billmeek commented on #163
Locale instructions added to my off-line copy. It's ready to push when
1.20.0 is released.

[2013-09-26 17:12] dmfrey commented on #194
Is that because it is still loading metadata for the images and building
the grid of images?

On Thu, Sep 26, 2013 at 12:46 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-09-26 17:31] billmeek commented on #194
@dmfrey, I don't know if it's still loading the grid. I don't
think so. I think the spinner just isn't getting turned off.
I only have 92 pictures on my MBE and I've looked at
all the thumbnails as well as the pictires, all display A-OK.

[2013-09-26 17:33] dmfrey commented on #194
ok, i will look into it

On Thu, Sep 26, 2013 at 1:31 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-09-26 17:40] dmfrey opened #195 "Disable Android Universal Image Loader logging"

[2013-09-26 17:41] #195 closed, assigned to dmfrey

[2013-09-26 18:07] billmeek opened #196 "Recordings: Fatal Exception/NPE"
Seen exactly one time after on latest commit. Starting
MAF a 2nd time, didn't fail.

[code]

[2013-09-26 18:19] billmeek commented on #149
Reopening for tracking emulator retests.

[2013-09-26 19:59] billmeek opened #197 "Speedup, Guide: If a channel has no icon, MAF still makes multiple requests to retrieve it"
For example, my channel 11_2 has no icon in the MythTV
DB. Yet MAF makes multiple attempts to retrieve the icon
from the MBE. I've seen as many as 5 each time I scroll to
the screen where that channel appears.

There is also (correctly) no entry in the icon_url field of the channel
table in MAF. However, the icon_url for channel 50_1 is displayed
in the Guide.  (#191)

Per discussion in email, per

[2013-09-26 20:32] awaldram opened #198 "SBE: No episodes listed."
When connecting to a slave backend you get no episodes listed under the series title.

For films etc that are listed you just get - nothing selecting play HLS and 'Unfortunate, Myth Android front-end has stopped' for 'play recording'

Parsing recordings the slave has  from a browser shows all episodes in the .xml
and indeed mythtvgo operates without issue form the same back-end.
Did notice when tr

[2013-09-26 21:01] billmeek commented on #198
@awaldram, Thanks for the comments. Would you please take a look at issue
#130. I've been testing it for the 1.20.0 release, and believe it's now working.

At this point, we're not doing enhancements (Feature Freeze in MythTV speak.)
So, I'll label this as an enhancement. Although I don't like the 'stopped error'.

If you respond, please add your MythTV version (just 0.2X) would be fine. I'm assum

[2013-09-26 23:43] billmeek opened #199 "Speedup, Checking if a Master Backend is alive."
Design discussion for now.

What follows is an analysis of the protocol exchanged
between MAF, FE and MBE whenever a single key
is pressed.

The key speedup here would be a change from getting
"/" from the MBE to using Myth/GetHostName That should
save about 3,160 bytes in 2 PSH and 2 ACK messages.

As is, 12 messages are exchanged between MAF
and the MBE for a total of 4,423 bytes to see if it's

[2013-09-27 08:05] awaldram commented on #198
@billmeek Thanks for replying, #130 pretty much sums up the issue.
look forward to 1.20 :)
I suspect the Stop may be resolved as if the MAF was delivering wrong/unparsable host-name to the play stream then maybe that’s the segfault.

MythTv .26+fixes (debian) shared SG (inc Streaming) central stores, 2 backends (1 with capture cards), Many frontends.
Some custom mods to mythweb video.php to fix vi

[2013-09-27 19:34] billmeek opened #200 "Recordings: Fatal Exception, Stack Overflow, Unexpected Close. API #18"
No 'To Duplicate', but this is what I'd done;

[code]

Checking the timestamps in MythTV's mythtranscode log,
at 13:58, the backend was 85% complete. E.g. this shouldn't
have happened because it was ready to watch.

Running up to date: mythtv-android-frontend-1.10.1-547-gab09e8c

[code]

[2013-09-27 20:36] dmfrey commented on #191
@billmeek can you verify on your backend that the channel that doesn't have an icon has one set?

[2013-09-27 20:46] dmfrey commented on #191
I think you are seeing the wrong icons because of a timing issue.  It updates the visible views once scrolling has stopped, so it does take a second then to download .  A forthcoming update will also not call the backend if the the backend url has not been set.

[2013-09-27 20:46] #197 closed, assigned to dmfrey

[2013-09-27 20:50] billmeek commented on #191
You beat me to it. For the record:

[code]

[2013-09-27 21:42] billmeek commented on #191
On an empty MAF DB, the initial screen with my example 11_2
is now correct (no icon.) I can't honestly say if my initial finding
was based on an empty DB.

However, if I scroll down so that 11_2 is gone and then scroll up
again to display 11_2, it now has an icon for 'Turner'.

[code]

As for the rest other channels in the 3xx and 6xx range, there are still
cases with incorrect icons, but let's tr

[2013-09-27 22:07] billmeek commented on #173
There's still one error in Android Lint. I'll suggest that after
this one is removed, we should consider this closed. I'm
sensing from recent email that release is imminent and
shouldn't work on the 173 errors (93 of which are unused
strings we talked about.) Especially with Michael working
on the German translations.

[code]

[code]

[2013-09-28 01:53] billmeek opened #201 "DB: Some channels have no source_id or xmltv_id"
The following shows the channel table is is storing a
source id of 0 and or xmltv_id of '' for some channels.

Thinking that if the XMLTVID is the same for channels
that exist on two or more sources, then the channel
should be displayed in the guide once. Not sure how
that works in the rest of the world.

[code]

There are no such channels in the MythTV DB

[code]

And, looking at just one channel

[2013-09-28 04:07] billmeek commented on #176
Still having problems. My 4.1.2 tablet wasn't doing anything,
just picked it up and in the All section, there were only 3
recordings (should be over 250.) Interesting to note that
the three were all recorded tonight. Pressing all the banners,
no coverart showed up except for the three new recordings
and they had the single episode recorded tonight.

Dumping the MAF DB and looking at it with the br

[2013-09-28 10:45] dmfrey commented on #176
@billmeek can you capture the log for just the org.mythtv:recorded process
and post that to me? You can filter on just the process in the logcat view
in eclipse.

There has to be something slightly different with 4.1.2 than 4.2+.
On Sep 28, 2013 12:07 AM, "billmeek" notifications@github.com wrote:

[2013-09-28 13:30] pot8oe commented on #196
@dmfrey was this fixed in 6d735850710cbf00567ff03d883b0af8f3a0d59a ?

[2013-09-28 14:53] billmeek commented on #176
@dmfrey, this is the shortened version. I'll pastebin the
whole thing if that's of value. Looks like everything gets
loaded then deleted?

[code]

[2013-09-28 14:54] dmfrey commented on #196
I will have to review the commit.
On Sep 28, 2013 9:30 AM, "Thomas G. Kenny Jr" notifications@github.com
wrote:

[2013-09-28 14:57] pot8oe commented on #196
@dmfrey I ask because there is a check for null at the offending line RecordingsParentFragment.java:304

[2013-09-28 15:02] dmfrey commented on #196
That is probably it, but at the I don't think there was a ticket in for it
On Sep 28, 2013 10:57 AM, "Thomas G. Kenny Jr" notifications@github.com
wrote:

[2013-09-28 21:41] billmeek commented on #176
How 'bout this. I'm doing my testing with both tablets on at the
same time. I just noticed that my 10" tablet had no programs
all. Now my 7" one had a full set. Both are configured to listen to
the same backend.

Other than taking the 9/28/2013 commits, neither tablet has
seen much activity.

Is testing with 2 devices causing errors? It's unusual, but
we have no 'rules' that say don't do it.

[2013-09-28 22:28] pot8oe commented on #176
I usually test with 2 phones and 1 tablet at the same time. The clients
should not interfere with each other.
On Sep 28, 2013 5:41 PM, "billmeek" notifications@github.com wrote:

[2013-09-28 23:03] billmeek commented on #190
I didn't see a commit for this, but at 17:53 9/28/2013, there
are no duplicate channels. I did change the callsign on 3
channels in MythTV in the 600 range, but none in the 300s,
which is where the duplicates were showing up.

[2013-09-29 16:55] billmeek opened #202 "Guide: Unregistered Double Tap Listener"
While swiping through the Upcoming screen, the following
Debug/Information messages were observed. Is this of
any concern?

[code]

Sometimes they fire, usually not. I took care not to double tap,
only swipe. The greatest number seen on one swipe was 12.

[2013-09-29 19:17] tensberg commented on #174
I've completed the translations of the current master as far as I could see in my tests and created a pull request.

If there are more string changes before the next release, please post here so that I can update the translations.

[2013-09-29 20:56] billmeek commented on #174
@tensberg, Thank you Michael! I'm closing this issue, so that it shows
up in the release notes as fixed. But I like your idea of reporting any string
changes here (for 1.20.x.)

[2013-09-29 21:32] #173 closed, assigned to billmeek

[2013-09-30 14:43] dmfrey commented on #196
retest #196

marking for retesting

[2013-09-30 15:01] billmeek commented on #196
Given that I only saw this once that the the previously mentioned
commit references RecordingsParentFragment.onEpisodeDeleted
closing.

[2013-09-30 15:01] #196 closed, assigned to dmfrey

[2013-09-30 15:19] billmeek opened #204 "MythTV 0.28 has renamed the 'Images' Storage Group 'Photographs'"
MythTV commit: http://code.mythtv.org/cgit/mythtv/commit/?id=1b62cb4

References #174 (this is a non-translatable string in MythTV, so I
can change the German strings.xml.) This is the 3rd name for this
Storage Group, should we keep trying to change a moving target?

[2013-09-30 16:14] billmeek commented on #191
If this is going to be disabled, I'd suggest removing the
option from the setup screen too.

[2013-09-30 16:17] dmfrey commented on #191
ok, will remove that as well.  This should speed up the scrolling as well.
 I think downloading will get moved to the channel loader, then this view
can just pull from cache.

On Mon, Sep 30, 2013 at 12:14 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-09-30 16:30] billmeek commented on #192
Tested on both my tablets. A-OK, so closing.

@dmfrey, I'll let you craft a new issue to address adding similar
fixes as mentioned in the commit.

[2013-09-30 16:30] #192 closed, assigned to dmfrey

[2013-09-30 16:33] dmfrey opened #205 "Handle NPE when obtaining Myth Services API"
References #192

NPE checks need to be implemented around obtaining the myth services api in all services and async tasks

[2013-09-30 16:39] billmeek commented on #197
#191 disables icon download.

[2013-09-30 18:26] #205 closed, assigned to dmfrey

[2013-09-30 18:42] billmeek commented on #199
This is what I'm testing now. it saves 4 messages and 3,183
bytes each time isMasterBackendConnected is used. Just
going to the Status screen uses isMasterBackendConnected
9 times (a 28,647 bytes savings.).

[code]

The only downside I see is that if the endpoint changes, it will
start failing. That should only happen during a new version of
MythTV and would show up in initial testing.

[2013-09-30 18:54] dmfrey commented on #189
in those 40 programs, do any stand out that should not be loaded for any reason (i.e. invalid date/times, not visible, etc.)?

[2013-09-30 18:54] billmeek commented on #204
Might want to hold off on any changes, from the MythTV developers IRC:

[code]

This is where we started.

[2013-09-30 20:19] billmeek commented on #189
[code]

But this is true for good and bad channels.

Looking now, channel 117 looks fine on the Guide screen,
as does the next channel 141, but 142 has no data. 143 is
fine as is 225. 301 and 302 are blank, 303 is fine etc.

Channel 2142  has Visible true

FWIW. 2xxx and 3xxx both get their MythTV EPG info from
Schedules Direct for the SAME cable provider.
The channels marked visible are:
21xx
23x

[2013-09-30 20:56] billmeek opened #206 "NPE in BackendStatusService"
Note that I have my NetworkHelper isMasterBackendConnected
change that adds GetHostName active.

Went to Recordings screen, notices LogCat had
stopped with this:

[code]

[2013-09-30 21:23] billmeek commented on #189
Looking at a fresh dump of the MAF DB, there are 2619 entries
in the guide table. There are 81 entries in the recording_guide
table. The 1st 81 entries in guide look good. the remainder have
no season, episode, description, inetref and other data. Should
there be 2619 entries in recording_guide?

[2013-09-30 22:43] billmeek opened #207 "DB: AIR_DATE stored incorrectly"
XML Air date is YYYY-MM-DD only, yet there are non-printing
characters in the MAF DB.

[code]

[code]

[2013-10-01 00:48] dmfrey commented on #207
I thought this was just coming across as text. I will look into it.

[2013-10-01 00:53] pot8oe commented on #207
Just looks like questionable times to me. ;-)

[2013-10-01 00:59] dmfrey commented on #202
I don't think this is an issue for the app. Those aren't anything that we are doing with the code.

[2013-10-01 01:59] billmeek commented on #207
@pot8oe, I with it were as easy as corrupt data being passed ;)

@dmfrey, correct, it does come in as text. All of the entries in
the guide table are like the above. The field is date only in the
MythTV DB and in the XML. It would appear to me that it's getting
stored as DateTime.

It may be a line like this in service/dvr/v27/ProgramHelperV27.java:

[code]

I don't know where its being used at th

[2013-10-01 02:09] billmeek commented on #202
OK, re: unregisterListener, it only happens on my 4.1.2 tablet and
LogCat doesn't save it, but the application is: org.mythtv. I'll close
it.

[2013-10-01 02:09] #202 closed, assigned to nobody

[2013-10-01 15:17] pot8oe commented on #149
I just tested the latest revision on a Samsung Galaxy Tab plus 7" running Android 4.0.4 and HTC One Running Android 4.3. I did allot of rotations while moving about the application and did not receive a single crash. I'm closing for now and reopen if an orientation change crash is encountered.

[2013-10-01 15:17] #149 closed, assigned to dmfrey

[2013-10-01 15:37] dmfrey commented on #189
guide Program entries do not have Recording entries, they are only present
on Recorded and Upcoming listing.

They entries you are seeing in the recording_guide table are directly
related to updating the guide data based on refreshing the Upcoming  data
or the backend status.

These entries update the recording_guide table so that we can indicate a
program in the guide is scheduled to be recorded

[2013-10-01 15:42] #191 closed, assigned to dmfrey

[2013-10-01 15:50] pot8oe commented on #206
@billmeek I notice the offending line is wrapped in a try catch block which should handle this exception properly. Did the application crash or just print the exception? The exception is written to the log as an error when handled. I am not considering this a bug unless the application crashed or malfunctioned in a user visible way. I'm closing for now and you can reopen if you disagree or experie

[2013-10-01 15:50] #206 closed, assigned to dmfrey

[2013-10-01 16:07] billmeek commented on #206
@pot8oe, MAF did not crash. But, I saw something red in
LogCat. Mostly for my own memory, I've been marking
Fatal Errors in the subject and labeling them as critical.
If it's not an error, can you make the red go away?
Leaving the issue closed.

[2013-10-01 16:12] pot8oe commented on #206
@billmeek It is red because the exception is being written to the log with
Log.e(); which signifies error. I'll discuss with Dan if he thinks we can
move it to a Warning or Debug message which would change it's color.

-Tom

On Tue, Oct 1, 2013 at 12:07 PM, billmeek notifications@github.com wrote:

[2013-10-01 16:24] pot8oe commented on #207
@billmeek When I use sqliteman I see 2013-10-01T00:00:00. The field in the DB is TEXT. What are you using to view the SQL results that prints ��:��:�� ? Looks like airDate does not need to be converted to DateTime unless being used in the UI as a Date.

[2013-10-01 16:45] billmeek commented on #207
@pot8oe, sqlitebrowser & sqlite3 both show a timestamp
addition to the stored date. I see your point about the
field in the MAF DB being text. Something's adding a
null timestamp.

I'd say air_date never should be shown as DateTime as it's
only stored in the MythTV DB as a Date.

[2013-10-01 19:25] billmeek opened #208 "Warning message: Unable to resolve static method"
Opening this as a question. The following is seen
once during a run of MAF. It shows up when viewing
the Status screen and never again 'til the app is
restarted.

[code]

[2013-10-01 19:30] billmeek opened #209 "Warning message: NPE when Navigation drawer is 1st opened"
Opening as a question (second of two.)

Warning that fires after Navagition drawer is slid open:

[code]

[2013-10-01 19:51] billmeek opened #210 "Usability: Guide screen: Difficulties with 'elevator'"
Especially on my 7" tablet, the blue elevator is difficult
to grab and conflicts with the Navigation drawer.
(Sometimes I try to grab the elevator and the drawer
starts to come out so I slide it back and try again. This
could be a function of finger size ;) )

This is the elevator on the left side used to rapidly
move to another screen of channels.

Additionally, if a user (ok, me) inadvertently p

[2013-10-01 20:10] dmfrey commented on #210
I am good with removing it.  It is just commenting or deleting the code
that enables FastScroll.

On Tue, Oct 1, 2013 at 3:51 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-02 00:35] billmeek commented on #210
@dmfrey, if I look at the way the 'channel icons' option was done, I'm
pretty sure I can make a similar one for 'Allow Fast Guide Scrolling' or
better words. Would you like me to add it?

[2013-10-02 01:35] dmfrey commented on #210
It is already enabled. That is the only way the scroll bar appears when
fast scroll is enabled. I am good with turning it off. I only turned it on
because I have a lot of channels to go through, but, like you said, it is
more of a problem than it worth. I have also run into those issues as well.
On Oct 1, 2013 8:35 PM, "billmeek" notifications@github.com wrote:

[2013-10-02 01:40] billmeek commented on #210
I meant adding an option so users could turn it on/off at will.
I'm working on it just to see if I can pull it off. Folks with bigger
screens might want it.

[2013-10-02 01:46] dmfrey commented on #210
Ah, I misunderstood. I get it now. Go for it.
On Oct 1, 2013 9:40 PM, "billmeek" notifications@github.com wrote:

[2013-10-02 02:04] #210 closed, assigned to billmeek

[2013-10-02 02:52] billmeek commented on #174
Commit      b91427a added 2 new strings.

[2013-10-02 13:16] #209 closed, assigned to dmfrey

[2013-10-02 13:22] dmfrey commented on #208
This can safely be ignored

Please review the following web site: http://robertmassaioli.wordpress.com/2011/04/21/simple-xml-in-android-1-5-and-up/

I came across this after searching the following from the stacktrace above 'Could not find method javax.xml.stream.XMLInputFactory.newInstance'

[code]

[2013-10-02 13:22] #208 closed, assigned to dmfrey

[2013-10-02 13:58] dmfrey commented on #201
The channels get updated when the recorded episodes are update so as to add any missing channels (i.e. you have a Miro channel setup for Miro Bridge, but not tied to a VideoSource.  I am refining that logic to only update if it doesn't exist.

For some reason, the recorded list comes back with channels, but not all the data is populated

[2013-10-02 14:19] #201 closed, assigned to dmfrey

[2013-10-02 14:50] dmfrey commented on #190
After running with commit 3cfee4d dump your sqlite database and execute the following query:

[code]
1. Does this now return unique results from the db?
2. Does this now return unique results in the program guide?

I only have unique records in my 2 video sources, so I cannot test this accurately

[2013-10-02 17:45] billmeek commented on #201
Much better. There is only one error and that's 2143 which shouldn't
be there:

[code]

I'll leave this closed and track it in #190.

[2013-10-02 17:59] billmeek commented on #176
Running on: 3cfee4d

On the Guide screen, only channels with scheduled recordings
are showing up, no other data. I started with an empty MAF DB.

[2013-10-02 18:02] billmeek commented on #190
Running on: 3cfee4d.

I added chan_id to your SQL after looking at the initial result
and then atsc_major_chan (which has correct data.)

Three odd things here. The chan_num_major's are wrong for
all of my over-the-air channels.

2143 shows up even though in the MythTV DB it is marked
with visible=0. 2143 is also the last channel in the unsorted
MAF list of channels. It's not last in the XML.

htt

[2013-10-02 18:02] dmfrey commented on #176
is the guide table populated in your db?

On Wed, Oct 2, 2013 at 1:59 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-02 18:10] dmfrey commented on #190
what is your atsc_major on your OTA channels?  I added the chan_num_major,
but I was really looking for the atsc_major, so that was probably not needed

On Wed, Oct 2, 2013 at 2:02 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-02 18:13] billmeek commented on #176
Yes, but there are only 91 entries, all of which are shows I
record. There are 91 entries in the upcoming table too.

[2013-10-02 18:14] dmfrey commented on #176
it sounds like the program guide service never ran

On Wed, Oct 2, 2013 at 2:13 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-02 18:18] billmeek commented on #190
atsc_major_chan is the 2nd column in the previous post.
There is no atsc_major column (I assume you were just
abbreviating.) It's much more readable on the issues list
(as opposed to email, at least my email client.)

[2013-10-02 18:32] billmeek commented on #176
You're right. So, I thought I'd restart the test and left the
Guide screen and THEN the downloads started. Thought
it was related to the latest commit.

Back to the original topic of this issue, I'll have to wait and
see if any recordings disappear. Everything looks good now.

[2013-10-02 19:25] billmeek opened #211 "Guide: No update on a blank MAF DB until returning to the Status screen"
Recordings, Upcoming and Recording Rules screens
all have a refresh icon which can be presses to get an
initial display. Guide doesn't.

To Duplicate:

[code]

[2013-10-02 20:37] billmeek commented on #206
@dmfrey, @pot8oe, here's a proposal:

If the exception is caught, then don't print the stack. Leave
the Log.e, but make the text say "expected" or "caught" ...

I'm taking the position that if it's not a bug, then the stack
shouldn't print in LogCat. Does that make sense?

I absolutely know I can't remember the acceptable x.java
file names let alone the line numbers of non-failures.

The only 'bad

[2013-10-02 20:39] pot8oe commented on #206
@billmeek. Good idea. No need to print the whole stack if it's expected.
On Oct 2, 2013 4:37 PM, "billmeek" notifications@github.com wrote:

[2013-10-02 20:51] billmeek opened #212 "Non Fatal EOFException fired at start of application. API #17"
Just started MAF and got the following. Non Fatal and I can't
tell if it's caught.

From:

[code]

10-02 11:39:24.392: D/ChannelDownloadService(2918): onHandleIntent : enter
10-02 11:39:24.392: I/ChannelDownloadService(2918): onHandleIntent : DOWNLOAD action selected
10-02 11:39:24.402: V/ChannelHelperV27(2918): process : enter
10-02 11:39:24.562: D/dalvikvm(2918): GC_CONCURRENT freed 1340K, 17% f

[2013-10-02 21:59] billmeek commented on #176
1615, one episode left on the Recordings screen.
As usual, all the banners are there, just empty
except 1 (and All, which has the same recording.)

It's a show that just started recording at 1600.
Both recorded and recording_recorded have one entry.
FWIW, the_id=401.

And, before I pressed the Comment button, I looked
at the screen again and everything is there. And
there are 270 entries in the DB

[2013-10-02 23:29] billmeek commented on #176
To Duplicate

[code]

I have a 3169 lline LogCat saved. Lots of INSERTs and then
almost everything is deleted:

[code]

It looks like the test-to-delete is based on: lastModified = lastModified.minusHours( 1 ),
yet I have recordings that are from last May (and other users simply archive everything
in MythTV recordings. Should this check be removed?)

[2013-10-03 00:27] billmeek opened #213 "DB: Channel table has one channel that isn't visible (trivial)"
Channels marked as visible=0 in the MythTV DB don't
normally appear in the MAF DB.

2143 shows up even though in the MythTV DB it is marked
with visible=0. 2143 is also the last channel in the unsorted
MAF list of channels. It's not last in the XML.

[code]

[2013-10-03 00:33] billmeek commented on #190
No duplicates, no invalid data. Closing. Opened #213 to
track the single unexpected channel 2143 in the table.

[2013-10-03 00:33] #190 closed, assigned to dmfrey

[2013-10-03 12:51] dmfrey commented on #212
I believe this is relate to an existing bug in the Myth Services API https://github.com/MythTV-Clients/MythTV-Service-API/issues/17

The underlying issue seems to be related to something in the android version of the HTTP Client used in android 4.x+.  This doesn't happen in android prior to 3.x.

There is a work around that requires us to send in a HTTP Header "Connection" and set it to "close", h

[2013-10-03 12:55] dmfrey commented on #213
do you have any recorded programs that were recorded on this channel, but this channel is no longer visible?

[2013-10-03 13:05] billmeek commented on #213
Yes, one. I'll mark this closed, invalid. Let me know if it should be otherwise.

[2013-10-03 13:05] #213 closed, assigned to dmfrey

[2013-10-03 13:10] dmfrey commented on #199
I think what you are seeing with the BackendStatusFragment is after it gets back status results, it then calls all the individual services to get channels, recorded, upcoming and program guide which are service intents, each of which does a check against the backend to make sure it is up and running before making a call to get their respective data.  These intent services are made to be run in iso

[2013-10-03 13:15] billmeek commented on #212
The Connection header is of interest. Every Services API endpoint
is a new connection. One of the MythTV design choices that I've
seen discussed on their developer's channel. It eats up 7 extra
messages on every message. They're talking about using persistent
connections in the future.

@dmfrey, if you could tell me where to add the Connection header,
I'd love to test it. It should have no affect

[2013-10-03 13:19] dmfrey commented on #176
i wanted to make sure we were deleting everything that wasn't touched in over an hour.

I wonder if instead of basing this on time, I do something like generate a UUID for each run and use that the key off of.  So set a UUID column on each table and delete anything that doesn't match after all the new data has been processed.

I am really starting to find that storing dates in the db that need to

[2013-10-03 13:20] billmeek commented on #199
Agreed, and checking that the BE is up is a good thing. My suggestion
is that rather than asking for a 3K response, we should ask for the simplest
thing possible and GetHost was the smallest one I could find.

[2013-10-03 13:27] dmfrey commented on #212
@billmeek,

you would need to add to the following file:
https://github.com/MythTV-Clients/MythTV-Service-API/blob/master/src/main/java/org/mythtv/services/api/AbstractOperations.java#L133

The code:

requestHeaders.add( "Connection", "close" );

Then you would have to do the following on the command line: ./gradle
install

Then in your MAF maven.pom file, update the mythtv services api version to

[2013-10-03 13:31] dmfrey commented on #199
In https://github.com/MythTV-Clients/MythTV-Android-Frontend/blob/master/src/org/mythtv/service/util/NetworkHelper.java#L98 it just opens a connection with the server and expects an HTTP 200 coming back.  it doesn't request any data and isn't expecting any.  It just opens and closes the connection.  I am not sure where the extra data coming back is coming from.

[2013-10-03 13:47] billmeek commented on #199
Yes, that's exactly it. That request does does cause data to
be returned from the backend. I understand what you're
saying that MAF doesn't use it.

Ah, the speedup I'm addressing isn't MAF but underlying code
and the network.  You can see the diff in the 3 block in this issue.

[2013-10-03 20:30] dmfrey commented on #198
if #130 resolves this issue, should we close this issue?

[2013-10-03 20:44] billmeek commented on #198
@dmfrey, I'd  prefer to leave this open. The enhancement asks for MAF
to directly access the slave BE. At present, we do everything through the
MBE. @awaldram's, SBE has more housepower then his MBE, so he'd
like to have the transcoding done there. That's not done now (and not
tested at all.)

[2013-10-03 20:45] dmfrey commented on #198
but isn't this configurable on the backend to perform all jobs on the
backend where the recording resides?

On Thu, Oct 3, 2013 at 4:44 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-03 21:00] billmeek commented on #198
130 addresses the initial issue of missing SBE recordings.

Yes, the MySQL setting is JobsRunOnRecordHost and mine is
set to 1 (e.g. do it on the recording host.) Unfortunately, it only
seems to apply to jobs done by recording rules, not by the Services
API. I guess I could argue that it's an upstream bug.  When my
'pretend' slave was running, I did test this and the transcode ran
on the MBE. The

[2013-10-04 01:16] billmeek commented on #207
Perfect. Several were missing dates and they were
also missing in the MythTV DB. Closing.

[2013-10-04 01:16] #207 closed, assigned to dmfrey

[2013-10-04 01:29] billmeek commented on #212
@dmfrey, Good tips. The Servces API is done and the NetworkHelper too.
There's just one place I can't find that's getting the "/" page from the backend.
It may be: java/org/mythtv/services/api/v027/impl/StatusTemplate.java but I
don't know for sure. Do you know how to find the remaining culprit and add
the "Connection", "close" to it?

[2013-10-04 01:32] billmeek commented on #200
Closing this issue since it's tracked in the Services API list.

[2013-10-04 01:32] #200 closed, assigned to dmfrey

[2013-10-04 13:04] dmfrey commented on #212
All of the templates extend the AbstractOperations class which is where you set that up.  It is calling getRequestEntity which is actually setting that up.

[2013-10-04 13:07] #174 closed, assigned to billmeek

[2013-10-04 13:11] dmfrey commented on #193
I found this on stackoverflow: http://stackoverflow.com/questions/15963969/choreographer639-skipped-50-frames
- Loading database information on the UI thread. Use a Loader
- Running long processes on the UI thread. Use an AsyncTaskLoader
- The emulator is just slow, as you don't overload the UI thread. Try your code on a real device or follow the guidelines here and here
- There is a lot to do onC

[2013-10-04 13:11] #193 closed, assigned to nobody

[2013-10-04 13:24] dmfrey commented on #171
Recent database changes now make it impossible for multiple entries to make it into the db for a given program or recording record.

These tables are created with unique constraints and they are set to replace the current entry when a conflict is raised.  Also, foreign key constraints are also enabled and they are set to cascade delete as well.

[2013-10-04 13:25] dmfrey commented on #176
retest #176

[2013-10-04 13:27] dmfrey commented on #102
move to v1.30.0?

[2013-10-04 13:27] billmeek commented on #212
Added the "Connection:", "Close" to:
https://github.com/MythTV-Clients/MythTV-Service-API/blob/master/src/main/java/org/mythtv/services/api/connect/MythAccessFactory.java#L100 and after line 132

There's at least one left. It happens when Content/GetRecordingArtwork is used.
This one's more serious. I've captured protocol where a successful Banner is
conversation is almost done and a 2nd attempt i

[2013-10-04 13:35] billmeek commented on #102
Yes, moved to 1.30.0

[2013-10-04 13:42] dmfrey commented on #212
Yes, that would be in the Android Universal Image Loader library.  Might
have to open a ticket with them to get it implemented.  Or possibly fork
their repo, fix it and issue a pull request to get it included.

Have you noticed any network performance issues by adding this to our
network calls?  That was an issue for concern in some of the posts i read.

On Fri, Oct 4, 2013 at 9:27 AM, billmeek no

[2013-10-04 13:43] dmfrey commented on #179
move to v1.30.0?

[2013-10-04 14:49] billmeek opened #215 "MythTV (as of 0.27) doesn't use persistent TCP connections, therefore, MAF shouldn't"
6% of exieting MAF conversations are getting reset (TCP RST,)
because no FIN-ACK is issued and attempts are made to reuse
the connection. There are also two cases where unread data
prevents an orderly close.

From it's beginning, MythTV's implementation of the Services API
has not used persistent connections. This means that:

[code]

shouldn't be used. For better network performance, the above
is

[2013-10-04 15:26] billmeek commented on #179
Moving to 130.0 is fine. But now we can no longer say MAF
works with 0.25+. Rather 0.25-0.27. And, that's OK for most
users, especially since 0.28 doesn't exist (only the tag 0.28-pre.)

So, it's moved to 1.30.0 and I change the label to enhancement.

This remains a sticky issue for me as I'm now 281 commits behind
on my production host and my test host can't be used with MAF.

[2013-10-04 17:58] billmeek commented on #199
Closing, via #215 and 98ade5e. Adding bug label, moved back to 1.20.0

[2013-10-04 17:58] #199 closed, assigned to nobody

[2013-10-04 18:07] billmeek commented on #215
MythTV-Clients/MythTV-Service-API/issues/19 tracks the API part of
this issue, closing.

[2013-10-04 18:07] #215 closed, assigned to billmeek

[2013-10-04 19:16] #211 closed, assigned to dmfrey

[2013-10-04 19:38] dmfrey commented on #212
mythtv-services-api-1.0.5 released to maven central

[2013-10-04 19:41] #212 closed, assigned to tafypz

[2013-10-04 20:37] billmeek commented on #176
Still looses previous recordings. Slightly updated To Duplicate steps:

[code]

As to your "Thoughts?" question...

I have been think about this. I don't know of any easy solution. Something
to consider for 1.xx.x, use GetTitleInfoList that returns _much_ less data and
then if a user selects a title, use GetRecordedList with the TitleRegEx argument
to retrieve only data for that show. Delete every

[2013-10-04 20:45] dmfrey commented on #194
@espenaf can you take a look at this?  I think I am missing something in your original code.  I think it is around line 524 in GalleryGridAdapter.java

[2013-10-04 21:52] billmeek commented on #171
Tested with a blank MAF DB. The episode didn't display.
There was an entry in the MAF DB.

Pressed the refresh icon to get a new  copy of the recorded
shows and there was still only one entry in the MAF DB. And
it still didn't display.

Off-line of the Wiki has been updated and is ready for release.

Closing the issue.

[2013-10-04 21:52] #171 closed, assigned to dmfrey

[2013-10-04 23:47] billmeek commented on #171
Just discovered a show with an invalid  timestamp shows up in
the All category. It doesn't show up in the list of shows, but it's
coverart, description etc. is displayed. No doubt a clever design
choice that helps users locate bad data. The Wiki will reflect this.
Really!

[2013-10-04 23:55] dmfrey commented on #171
That wasn't my intent :-)

I can leave it that way if you want.

Does that close the issue?
On Oct 4, 2013 7:47 PM, "billmeek" notifications@github.com wrote:

[2013-10-04 23:58] billmeek commented on #171
It was already closed. I hadn't checked the All category when
testing. Let's just leave it in. The 1st MAF Easter Egg.

[2013-10-05 01:23] billmeek commented on #179
Workaround, as long as no 0.27 protocol is changed:

[code]

[2013-10-05 01:53] dmfrey commented on #179
Sounds good. We should through a todo to fix it when the services api adds
v0.28.

[2013-10-05 02:01] billmeek commented on #179
I wasn't going to commit it. It's would be dangerous for 0.28-pre
users if a MythTV Services API commit changed existing protocol.

[2013-10-05 02:18] dmfrey commented on #179
Do we OK now if there have been any api changes since the release of v0.27?

[2013-10-05 02:30] billmeek commented on #179
No changes, just 11 additions. See the very
bottom of this link.

http://code.mythtv.org/cgit/mythtv/commit/?id=de990998c84b5d0d064a5f9b052249bd9e41d372

[2013-10-05 02:32] dmfrey commented on #179
We should be OK for the time being.

[2013-10-05 16:25] billmeek commented on #109
Yet another typo, above doesn't apply to this issue.

[2013-10-05 19:14] billmeek opened #216 "SBE: RemoveRecorded shouldn't be sent to the Master Backend"
The host name below should be that of the recording host,
not the Master Backend. Sending to the MBE will not remove
the file on the Slave. Related to #198.

[code]

[2013-10-07 01:11] dmfrey commented on #216
I think we should move this to v1.30.0.

The current state of the app does not expect that you will be connecting to separately to master and secondary backends.  My understanding of the services api is that the master backend will broker calls to secondary backends when appropriate.

If this is not the case, then we need to re-think our preferences for setting up a location.  One thing I now see

[2013-10-07 01:12] dmfrey commented on #216
I think the first thing we need to do is confirm that the backend IS NOT sending requests to secondary backends where appropriate.

[2013-10-07 01:13] dmfrey commented on #216
I can confirm that the Dvr/GetRecordedList does not indicate the url of the backend it is running on, only the hostname

[2013-10-07 04:59] billmeek commented on #216
Right, it's a design change. And given that Android doesn't allow users
to build an /etc/hosts file, the recording hostname is only partially valuable.
I know I can fix the detection part (where the host/slave status is detected.)
This truly did fail as written. I had to use  a browser to delete the recording
with RemoveRecorded and use the SBE's address. But there are some users
who don't like/us

[2013-10-07 17:06] billmeek opened #217 "Fatal Exception: IllegalStateException when undefined host came on-line"
May be the same as #177. This one fired when a previously undefined
BE came on-line. I pressed Save. The difference is when it happened.

[code]

[2013-10-08 13:11] dmfrey opened #218 "upgrade myth-services-api to v1.0.6"

[2013-10-08 13:12] #218 closed, assigned to dmfrey

[2013-10-09 00:29] billmeek commented on #176
Closing. Running on master mythtv-android-frontend-1.10.1-609-g68d06fa.
Discussing the issue of new recordings showing up without pressing the
refresh icon off-list.

[2013-10-09 00:29] #176 closed, assigned to dmfrey

[2013-10-09 17:09] billmeek commented on #217
Closing. This was another edge case that I wasn't able to duplicate.
I repeated the steps to the original report and had no problems.

[2013-10-09 17:09] #217 closed, assigned to dmfrey

[2013-10-09 20:37] Speckto opened #219 "No recordings displayed on recordings screen"
Hi,

I am using version 1.10.1 of the android app.
I run mythtv 0.26.0.

When I access the recordings screen, no recordings are displayed. The program guide does download ok, so it appears to have connectivity to the backend.

The application starts and appears to sync the program guide. I tap the recordings icon and I see a message "Recordings are up to date!" but no recordings are displayed.

I

[2013-10-09 21:48] billmeek commented on #219
Wow, great data gathering! And yes, the exception looks related, especially the line:
DvrTemplate.getRecordedList(DvrTemplate.java:356).

Would you try this please (if you already haven't:)

[code]

You should then be able to gunzip /tmp/JsonData.gz.

The above will be very long single line that starts similar to this:

[code]

Just to save time, please mention if you build MythTV from source.

Le

[2013-10-10 02:42] #194 closed, assigned to espenaf

[2013-10-10 02:44] dmfrey commented on #189
@billmeek are you still missing recordings on the program guide with all the recent changes that have been made?

[2013-10-10 02:52] billmeek commented on #189
Yes, but I have a MythTV fix that solves it for me. Now I"m trying to
test other permutations of source/channel/visible configurations.
My guess is that this can be closed, but I haven't convinced myself
yet. My test platform works fine, as I suspect yours does.

[2013-10-10 03:38] billmeek commented on #194
@dmfrey,

I looked at the commit. Since this is a new MAF feature, we can recommend
only one storage group, not one for 0.26 and one for 0.27. Of course, there's
always #204 that says the storage group name should be "Photographs". I
would recommend "Photographs". The idea being to keep users from changing
the Storage Group name. Of course, the MythTV developers can change the
name again... Help s

[2013-10-10 03:50] dmfrey commented on #194
Gotcha. I thought the issue was it was one way in v0.26 and changing going
forward in v0.27. I misunderstood.

We can get rid of all that branching I am doing for versions.

I am good with Photographs as the storage group name.
On Oct 9, 2013 11:38 PM, "billmeek" notifications@github.com wrote:

[2013-10-10 13:05] dmfrey commented on #189
Go ahead and close it when you are comfortable that it has been resolved.

[2013-10-10 13:13] billmeek commented on #189
Closing as I'm convinced this is unique to one of my configurations. I'm
not going to label it upstream/won't fix/invalid. There's an issue here,
just not sure of the root cause.

[2013-10-10 13:13] #189 closed, assigned to dmfrey

[2013-10-10 14:48] billmeek commented on #174
Michael;

When the official 1.20.0 release goes out, there will be mention of the German translation
as a new feature. You should certainly get credit for all your work.

Would you like to be mentioned by name in the Play Store text? I'd only do so with your
permission.

[2013-10-10 15:17] dmfrey commented on #174
Michael,

If you are interested, we will also have to see about setting you up access
to the Google Play Store Developer Console so that you can translate the
Play Store listing to German as well.

Thanks for your help.

Dan

On Thu, Oct 10, 2013 at 10:48 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-10 17:51] #163 closed, assigned to billmeek

[2013-10-10 17:55] billmeek opened #220 "Developer Console: 1.20.0 beta, RuntimeException: Unable to start activity"
[code]

[2013-10-10 18:22] tensberg commented on #174
@billmeek

Gladly, but only if it is clear that I only contributed the translation. You all deserve the credit for all the great work.

@dmfrey

Yes, I could do that. I haven't used the Play Store Console so far, but I'd sure be interested to give it a go. Don't know if I have time for it in the next one or two weeks, though.

[2013-10-10 18:34] dmfrey commented on #204
This can be closed as I implemented this when I last pushed a fix to #194

[2013-10-10 18:36] #204 closed, assigned to espenaf

[2013-10-10 18:41] dmfrey commented on #220
I am not sure how they are getting to here if they didn't select a location profile.  However I have added some try catches around those blocks.

[2013-10-10 18:48] dmfrey commented on #174
Michael,

Can you send me your gmail off list and I can add you to the Developer
Console.  It is very easy to add translations (it seems).  They duplicate
the current store listing, and I believe you just select which language you
would like to translate for.

Speaking of translations...One of the items the Developer Console
recommends is to translate images as well as text.  Since you have been
t

[2013-10-10 19:08] billmeek commented on #219
@Speckto, note that 1.20.0 was released for beta testers today, 10/10/2013.
If you join: https://plus.google.com/u/0/communities/104432707624078706786
you can get the release.

[2013-10-10 19:12] billmeek commented on #220
Couldn't reproduce it. Tried deleting the DB and scanning, then
deleting the DB and manually adding a Home profile. Then trying
to open the Navigation drawer each time.

[2013-10-10 19:19] billmeek opened #221 "Developer Console: 1.20.0 beta, NPE in GalleryGridAdapter.java:111 similar to #220"
Similar to #220, but in Gallery.

[code]

[2013-10-10 19:19] dmfrey commented on #220
One thing to try...
1. create either a Home or Away profile, but not the other.
2. Let it connect and refresh the DB.
3. Open the Nav Drawer and switch the toggle to the one not created.
4. Close the message indicating that no profile found
5. Is the nav drawer still showing DVR and Multimedia links?
   - If so, can you click them?

On Thu, Oct 10, 2013 at 3:12 PM, billmeek notifications@github.co

[2013-10-10 19:32] billmeek opened #222 "Guide: Reconsider display of time blocks at top of screen"
It's just as easy to scroll through 48 half hour listings
as it ti to scroll through the time blocks and click on
one. Consider not displaying the blocks for screens
with a small number of listings. Let's start with 48 as
the definition of a small number

Additionally, if time blocks are displayed and one is
selected, it should be highlighted like the channel
blocks are.

[2013-10-10 19:38] billmeek commented on #220
Answer to step 5, yes and yes. Also, returning from the
Multimedia page to the Status screen and then looking
at the nav drawer, Home is once again selected.

The above done without the fix. Leaving Closed.

[2013-10-10 19:48] dmfrey commented on #221
This issue and issue #220 are really evidence of a bigger problem...

The nav drawer is not cleaning up its options when not connected.  I think
this needs to be a new issue and these can then be closed when that issue
is completed.

On Thu, Oct 10, 2013 at 3:19 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-10 19:49] dmfrey commented on #220
reopen #220

On Thu, Oct 10, 2013 at 3:38 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-10 20:04] dmfrey commented on #222
I think i am going to just turn off the upper time slots for the time being

[2013-10-10 20:06] dmfrey opened #223 "Refresh Navigation Drawer Options when connect/failed to connect to backend"

[2013-10-10 20:11] billmeek commented on #223
Generic issue for #220 and #221.

[2013-10-10 20:19] Speckto commented on #219
Hi,

Thanks for the quick response.

I logged in using the link from the beta testers site and it redirected me to https://play.google.com/apps/testing/org.mythtv which was an error page stating the requested URL was not found. Potentially this is because I am not a member of google+ - I'm not really sure why that doesn't work. I'll fiddle with it later and see if I can get it working.

I am runni

[2013-10-10 20:59] billmeek commented on #219
@Speckto, it would be great if you kept the episode(s) causing the
error in MythTV Android Frontend (assuming that's indeed the cause.)

I'll take a look at the .gz you posted.

[2013-10-10 21:08] #222 closed, assigned to dmfrey

[2013-10-11 01:28] dmfrey opened #224 "upgrade mythtv-services-api to v1.0.7"

[2013-10-11 01:30] #224 closed, assigned to dmfrey

[2013-10-11 17:53] billmeek opened #225 "Developer Console: 1.20.0 beta; java.lang.IndexOutOfBoundsException: Invalid index 0"
[code]

[2013-10-11 18:03] billmeek commented on #219
@Speckto, OK, here's a hex dump of the 1st instance:

[code]

And, from Wikipedia, 0xe9 would fit:

[code]

Which says that e9 should have three bytes where yours has only one
and the 2nd, in fact, is the x020 (a space shows up as a . in hd) the error is
complaining about.

So, where's it coming from? [answer, I don't know]  Can you
get into mysql on your backend and type: \s    The response
shoul

[2013-10-12 18:06] dmfrey opened #226 "Add v25 Backend Support"

[2013-10-12 18:20] #226 closed, assigned to dmfrey

[2013-10-13 11:20] MaEngelhard opened #227 "1.20.0 beta: NumberFormatException"
I'm running the current beta on a 0.27 backend. The frontent can't connect to the bakend. The reason is a NumberFormatException as followed:

10-13 13:12:21.063: E/BackendStatusHelperV27(12840): org.mythtv.services.api.MythServiceApiRuntimeException: org.springframework.http.converter.HttpMessageNotReadableException: Could not read [class org.mythtv.services.api.v027.status.beans.BackendStatus]; n

[2013-10-13 11:57] Speckto commented on #219
The output of '\s' is:

[code]

According to phpmyadmin, all my mythconverg tables are in "utf8_general_ci".
I did some googling around this issue and wanted to see if the stored data is a multi-byte character set as it should be (see http://www.oreillynet.com/lpt/wlg/9022 ).

[code]

I'm not sure if any of the above proves it or not (I've barely used mysql before), but I think it might show that

[2013-10-13 12:13] dmfrey commented on #227
Can you check and see if the locale set on your phone or tablet matches
that of your backend?
On Oct 13, 2013 7:20 AM, "MaEngelhard" notifications@github.com wrote:

[2013-10-13 12:37] MaEngelhard commented on #227
Here is the locale setting on the backend:

LANG=de_DE.UTF-8
LC_CTYPE=de_DE.UTF-8
LC_NUMERIC="de_DE.UTF-8"
LC_TIME="de_DE.UTF-8"
LC_COLLATE=C
LC_MONETARY="de_DE.UTF-8"
LC_MESSAGES="de_DE.UTF-8"
LC_PAPER="de_DE.UTF-8"
LC_NAME="de_DE.UTF-8"
LC_ADDRESS="de_DE.UTF-8"
LC_TELEPHONE="de_DE.UTF-8"
LC_MEASUREMENT="de_DE.UTF-8"
LC_IDENTIFICATION="de_DE.UTF-8"
LC_ALL=

I don't know where i'm getting this inf

[2013-10-13 14:04] billmeek commented on #219
Before going any further, are you in a position to try the beta? Your Android
device has to be on Ice Cream Sandwich (4.0.x) or higher.

If not, then I'd try this (trying to prove where the conversion from `C3 A9` to
`e9` is happening:)

[code]

Then `hd /tmp/utf8.test` and see if the output is still properly encoded.

[2013-10-13 15:25] #220 closed, assigned to dmfrey

[2013-10-13 15:25] #221 closed, assigned to dmfrey

[2013-10-13 15:31] dmfrey commented on #223
@billmeek @pot8oe @rhpot1991 @espenaf

We really need to test these flows out
1. I would suggest being on local network but also opening a tunnel in ConnectBot or JuiceSSH to the backend to simulate both home and away profiles.
2. Freely switch between home and away and verify the nav drawer refreshes as it should
3. Go in and out of preferences, deleting and adding both home and away profiles.

[2013-10-13 15:32] MaEngelhard commented on #227
The problem seems to be the load information in the received xml:

Load avg1="0,33" avg2="0,24" avg3="0,26"

[2013-10-13 15:39] dmfrey opened #228 "Add Release Notes Menu Item"

[2013-10-13 15:40] #228 closed, assigned to dmfrey

[2013-10-13 15:46] dmfrey commented on #227
@MaEngelhard

This is a duplicate of #163

The original problem was that @espenaf phone was not set to the same locale as the his Master Backend.

Our mythtv-services-api implementation reads your default locale and sends that along with the request to the backend.  When it receives responses from the backend, it uses this information to parse out specific details (i.e. use comma as decimal separa

[2013-10-13 15:50] dmfrey commented on #225
Since this class has changed since the original stack trace was reported, we will have to wait for this occur again since the line numbers do not match up anymore.

[2013-10-13 15:51] billmeek commented on #227
When I switch to either of the German languages on my tablet, the
app works fine. But, I'd expect it to fail because my English backend is
sending periods rather than commas for host:6544/Status/GetStatus

[2013-10-13 16:31] billmeek commented on #225
@dmfrey, 'unhid' on the console.

[2013-10-13 17:16] espenaf commented on #227
I never retested #163 with  Norwegian locale, as I just changed LC_NUMERIC to English for my backends. While using either Norwegian or English settings on phone/tablet.

[2013-10-13 17:52] billmeek opened #229 "Backend discovery keeps running after exiting the MAF app"
To Duplicate

[code]

Opening as a bug as I'd suggest that detection should stop when the app
is exited.

[2013-10-13 18:09] Speckto commented on #219
I've now tried the beta on the same Device (Nexus 10, Android 4.3) - that's quite a face lift. I still see no recordings, and "monitor" shows several occurrences of the same/a similar crash (except this time it appears before I directly tap the recordings tab; presumably the app retrieves the data on startup):

[code]

I ran the test you suggested (although I used xxd not hd) and it looks like the

[2013-10-13 18:28] Speckto commented on #219
With the beta, I get a repeatable crash on exit if I do the following:
1. Start the application and allow it to load the home screen (with the upcoming recordings, and recording status)
2. Tap the myth icon in the top left, select 'DVR' from the actions screen (this drops me at my blank recordings screen)
3. Tap the myth icon in the top left, Select 'Guide' from the side bar
4. Tap the myth icon i

[2013-10-13 19:09] MaEngelhard commented on #227
The frontend can't connect even if the language of the android is English. Changing LC_NUMERIC as suggested by @espenaf works for me too but shouldn't be the solution.

[2013-10-13 19:18] billmeek commented on #227
Agreed. Setting the critical label, as you can't even connect.

@dmfrey @tafypz, I don't see the load status used anywhere. Could this be read in as a string
rather than a float? Or, is this auto generated code.

[2013-10-13 19:38] tafypz commented on #227
@billmeek The status endpoint is not backed by a wsdl, this is the only endpoint that is not part of the services api umbrella. This is only an xml document. In terms of the java code, this is the only "endpoint" that is not autogenerated. This obviously could be changed to be read as a string.

[2013-10-13 19:56] billmeek commented on #219
1st, thanks for testing the beta. I was concerned because the developers are
doing all of the work there, not in 1.10.x.

If I"m reading this correctly, in the DB,  `c3 a9` =  `é`. In the above, it's stored as `e9`
which should be the start of a three byte sequence (1110xxxx 10xxxxxx 10xxxxxx.)

When you `set NAMES utf8` the result is correct, which is only for the current
session? I'll google aro

[2013-10-13 20:36] Speckto commented on #219
OK. I'll open another issue for that crash. Potentially that crash only occurs where my earlier crash has happened. I'll stick with the beta for the moment as it seems about as functional as the previous version for me :)

I appreciate that there may not be a lot that the android front-end can do if it is sent invalid data. Of course ideally it would ignore that recording, display the rest and dis

[2013-10-13 20:47] Speckto opened #230 "1.20.0 beta: Crash on exit (NullPointerException in ProgramGroupFragment.onSaveInstanceState)"
I have a Nexus 10 device and I am running android 4.3. With the beta, I get a repeatable crash on exit if I do the following:
1. Start the application and allow it to load the home screen (with the upcoming recordings, and recording status)
2. Tap the myth icon in the top left, select 'DVR' from the actions screen (this drops me at a blank recordings screen - see note below)
3. Tap the myth icon i

[2013-10-13 20:54] billmeek commented on #219
I just added the é to one of my recordings and refreshed my screen. No failure.
I haven't found a reference that says what mysql should be set to. I know
that Mike Dean has discussed it on the mythtv-users mailing list, and can find
notes that say after 0.22 it shouldn't be a problem. I _agree_ that the app should
handle errors, I just don't know if this one can be.

Note, the é displayed in both

[2013-10-13 21:00] billmeek commented on #227
@tafypz, thanks, as long as those would parse OK with the commas, that says the
sets/gets for 0.2[567] could be changed to strings in the API (I can do that.) Then
similar changes would go into MAF. I found those too. I looks like the data doesn't
go into the DB, or for that matter get displayed `at this time`.

@dmfrey are you OK with this?

[2013-10-13 21:04] billmeek commented on #230
Thanks for reporting. Labled as bug/critical.

[2013-10-13 21:30] Speckto commented on #219
Yes mythfrontend displays the accented e and the De Ja Vu title without problem.

I'll start working on editing out the accented characters in the database and experimenting with my system configuration a little bit in a reversible way.

[2013-10-13 21:33] billmeek commented on #219
I'd suggest using the frontend metadata editor, just 'cause it's safer.
If you haven't used it, on a recording, press m, select Recording Options
then Change Recording Metadata. You can change the title and description
there.

[2013-10-13 21:55] billmeek commented on #223
No problems until I started the deleting all Profiles

[code]

[2013-10-13 21:57] billmeek commented on #223
After the above, the nav drawer still showed mc0 and http://192.168.1.204:6544/

[2013-10-13 22:16] billmeek opened #231 "Developer Console: 1.20.1: DvrNavigationDrawerActivity: java.lang.NullPointerException"
[code]

[2013-10-13 22:38] dmfrey commented on #227
I am OK with that for now. I don't have any plans to use that data off hand.
 On Oct 13, 2013 5:00 PM, "billmeek" notifications@github.com wrote:

[2013-10-13 23:35] billmeek commented on #227
Just pushed 1.0.9. Changes complete in MAF, but I won't push them
until Maven Central gets updated. Everything build OK and the Status
screen loads normally. I assume there's no other testing required.

I did try setting LC_NUMERIC="de_DE.UTF-8", but it didn't take (after
a restart too.) @MaEngelhard, if you have any tips on where you made
that change, I'd love to test it before 1.20.2 goes out.

[2013-10-14 02:16] billmeek commented on #227
Looks like stars, userRating and progress are floats too. The above may get
past  the GetStatus issue, but looks like it will fail afterwards.

[2013-10-14 02:19] dmfrey commented on #227
These are from the generator. Is there any reason we should need these to
be in there native form? Definitely not right now, but anything in the
future?
On Oct 13, 2013 10:16 PM, "billmeek" notifications@github.com wrote:

[2013-10-14 02:40] billmeek commented on #227
Perhaps it would be useful to print the stars for movies in the future.

There's a userrating in mythconverg's videometadata table looks like the above.

Progress is from the new SendNotification that jya added in 0.27. Not sure MAF
would ever want to send messages to the TV screen (caller ID?)

Can't see the GetNumberFormat in the API, maybe it's intended to be automatic.
springworks shows it usi

[2013-10-14 04:16] billmeek commented on #227
The following in prints . and , for US or , and . for DE. So we know changing the language
really does choose the proper separators. Why the error is thrown... no clue.

[code]

[2013-10-14 12:58] dmfrey commented on #231
I believe this is related to issue #223

[2013-10-14 13:01] dmfrey commented on #229
@billmeek the preferences page popped up after MAF was closed?

[2013-10-14 13:19] #229 closed, assigned to dmfrey

[2013-10-14 14:50] billmeek commented on #229
@dmfrey, yes, it _was_. cdb8b89 fixed it, thanks.

[2013-10-14 16:50] billmeek opened #232 "Beta test comment. Should MAF play archived LiveTV"
Design discussion.

LiveTV is detected by looking at the record group. A user on the beta test
G+ site has recordings that were live and has archived them.

Obviously, they don't display.

I don't see any reason why this shouldn't be allowed. Additionally, I know
the reason for NOT doing live TV has been that the MythTV Services API
doesn't support it. In reality, it's just another file, so what p

[2013-10-14 16:51] MaEngelhard commented on #227
@billmeek
I set 'LC_NUMERIC="en_US.UTF-8"' in /etc/env.d/02locale as well in '~/.bashrc' of the myth user in my gentoo system. Afterwards i restarted the backend for the new settings.

If this isn't working for you i can test it as well.

[2013-10-14 16:58] dmfrey commented on #232
Live TV for some reason exists in the GetRecordedList.  I would be
interested to know how the user is archiving them.  I am not sure I care
why, but seems odd to me to want to do this when you can just as easily hit
the Record button on the remote.  Not for this list.

The problem I see it is that LiveTV Programs can be deleted at the
discretion of the backend.  So we might be showing it, but the

[2013-10-14 16:58] tafypz commented on #232
@billmeek technically nothing stops anybody to do "livetv" with the services api, as you mentioned it is just a chain of recordings as opposed to the old ringbuffer. Here is the problem with true livetv, the server requires some type of registration via the protocol of a frontend, then this frontend can kick off a livetv stream by hooking to a free recorder.
However for this livetv stream to conti

[2013-10-14 17:00] tafypz commented on #232
@dmfrey LiveTV show up under the LiveTV storage group, pulling all recordings regardless of storage group will pull livetv ones as well.

[2013-10-14 17:01] tafypz commented on #232
@dmfrey you are correct, the current implementation of HLS does not run on livetv or in-progress recordings

[2013-10-14 17:05] dmfrey commented on #232
Correct, and currently I am throwing away anything in LiveTV recording Group

On Mon, Oct 14, 2013 at 1:01 PM, Sebastien Astie
notifications@github.comwrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-14 19:08] billmeek commented on #227
@MaEngelhard, Oops. It helps to have the German language pack installed!

Without the changes and with `LC_NUMERIC="de_DE.UTF-8"`, the failure occurs
as expected.

With the changes and `LC_NUMERIC="de_DE.UTF-8"`, the Status screen loads OK.

The Recordings and Guide screens also load, and I verified that there were some
`stars` values that had decimal values. I'll be very interested to see if this

[2013-10-14 19:35] MaEngelhard commented on #227
@billmeek

Both screens load here too. Are stars-values displayed anywhere?

[2013-10-14 20:04] billmeek commented on #227
No, they aren't used at this time.

However, they are returned in the XML from the Master Backend. I think I see why it's
not failing. If you try:

[code]

The fractional value in the `Stars` field doesn't respect the value of `LC_NUMERIC`
on my host. Which could mean there's a problem waiting to bite us.

[code]

I don't know what your listings provider gives you. If you have a chance, could you

[2013-10-14 20:29] Speckto commented on #219
Good news: Removing the accented characters from the metadata (using the editor as you suggested) allowed MAF to display my recordings! I even managed to play back an episode!

I then cleared MAF's cache and re-added the accented e to one of them - once again MAF failed to download any recordings (even after I hit refresh) - although I didn't check the android log to confirm why. Removing the char

[2013-10-14 21:48] billmeek commented on #219
@dmfrey, any way to absorb the bad data and prevent the crash?

I can add a Wiki item about this, but the ideal would be if the app
could detect the error and warn the user (I know pie meet sky.)
Maybe this is a start: http://stackoverflow.com/questions/3715264/how-to-handle-user-input-of-invalid-utf-8-characters

@Speckto:

Good to know that we're trying to solve the correct problem. Thanks for
d

[2013-10-14 22:00] billmeek commented on #230
Works for me, but I couldn't duplicate it.

@Speckto, please test when 1.20.2 is released (you'll see the real version at the top of the Navigation Drawer.)
Thanks.

[2013-10-14 22:08] billmeek commented on #232
Made a LiveTV recording from MythTV. Pressed 'r'. Checked the MythTV DB
and found the record group had changed from LiveTV to Default. Which does
get displayed in MAF. Closing.

[2013-10-14 22:08] #232 closed, assigned to dmfrey

[2013-10-15 01:34] billmeek commented on #163
Based on the comments in 227 and it's fix, the matching locale 'rule'
has been removed from the Wiki FAQ.

[2013-10-15 02:38] billmeek commented on #223
I'm closing this because I can't duplicate it. To be honest it wasn't easily
reproducible.

[2013-10-15 02:38] #223 closed, assigned to dmfrey

[2013-10-15 02:40] billmeek commented on #231
Closing because I closed 233 and the comment above.

[2013-10-15 02:40] #231 closed, assigned to dmfrey

[2013-10-15 03:23] billmeek commented on #227
Found a discussion that says mysql ALWAYS inserts decimals with a period.
It has to because it also accepts comma separated lists in input and couldn't
tell the difference between decimal values and list entries e.g.:

[code]

looks like 3 decimal numbers (with , as a decimal point) or 6 integers. How the values
appear when output to the user _should_ honor LC_NUMERIC, but that's not the problem
h

[2013-10-15 04:12] billmeek commented on #219
When I test this without setting LANG/LC_TYPE, the letter é simply doesn't
display (before the commit above.) So, I still don't know the root cause of this
and will have to let @Speckto, test when 1.20.2 is released.

[2013-10-15 13:43] billmeek commented on #219
@Speckto, 1.20.2 was released at about 1300UTC so it should
show up on your device in a few hours. This was relabeled a bug,
but see Dan's note 2 comments above this. Thanks for testing.

[2013-10-15 14:35] billmeek opened #233 "Live Streams not updating % complete (possible invalid test setup)"
To Duplicate:

[code]

Two users on the beta G+ list are reporting the live stream starts
(and even runs mythtranscode on their backends) but never updates
the % complete, it's stuck at 0.

[code]

[2013-10-15 14:55] dmfrey commented on #233
I see what it is.  Will try to push a fix out sometime today or tomorrow.

[2013-10-15 20:02] Speckto commented on #230
I have retested this with the 1.20.2 beta and can confirm that the crash on exit no longer occurs. From my perspective this appears to have been resolved. Feel free to close this issue - I leave it open in case you have further tracking to do against it.

Thanks for your efforts in fixing this!

[2013-10-15 20:15] billmeek commented on #230
Great news. Thanks for testing! Closing

[2013-10-15 20:15] #230 closed, assigned to dmfrey

[2013-10-16 02:39] billmeek opened #234 "IRC beta user: Changing from WiFi to 4G brings up ProgressDialog that can't be dismissed"
If there is a network problem, or the backend isn't running, or in the case
of _skd5aner_ on the MythTV users channel when switching from WiFi to
his phones 4G, the ProgressDialog doesn't exit.

Ideally, there would be three changes:

1.Use a STYLE_HORIZONTAL rather than a spinner (perhaps a 60 second timer)
2. Allow Cancelling the attempt and
3. Mention the `hostname` that's being contacted

I ca

[2013-10-16 02:42] billmeek commented on #227
@MaEngelhard,  please retest. It doesn't fail on my system, but you should
probably be the final judge. 1.20.2 was released 10/15/2013.

Thanks!

[2013-10-16 02:48] billmeek commented on #219
@Speckto, I also tried setting my  LANG/LC_TYPE to only en_GB and didn't
get a failure. But you should be the final judge on this issue.

Please retry with 1.20.2.  I know you already tested 230. Thanks!

[2013-10-16 14:27] dmfrey commented on #233
Has this xml/json changed between 0.26 and 0.27?  If not, then I am gonna grab some of the xml and create a new unit test for it in the api so that we see more clearly where the parsing is failing.  Since this is fairly new, I might just replace what is in the v026 branch with that of the v027 branch if there are no differences.  This will make them more  in line with the v025 and v027 branches.

[2013-10-16 14:53] billmeek commented on #233
The last change I can see for GetUpcomingList was 7/6/2012 and 0.26 was released
on 10/2/2012. The change was for the UTC conversion. So I don't think so. And I did
the 0.26 and 0.27 release notes looking out for changes like that. I can ask for a G+
user to pastebin the output if you prefer.

[2013-10-16 15:01] dmfrey commented on #233
Yeah, that would be good. It is ok also if the percent complete is 100%.

On Wed, Oct 16, 2013 at 10:53 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-16 15:26] billmeek commented on #233
Sorry, I should have said http://your backend:6544/Content/GetLiveStreamList not
GetUpcomingList (I was looking at adding a Count=10 there.) Made the request on G+.

GetLIveStreamList did have a 0.27 change adding a filtering option, but I can't find a
change to the output.  http://code.mythtv.org/trac/changeset/14bb408 . Plus, we don't
use a filter that I can see.

If you still have access to PLA

[2013-10-16 15:55] billmeek commented on #233
From Joseph Fry on G+ http://pastebin.com/raw.php?i=Sar8brCb

[2013-10-16 19:22] Speckto commented on #219
So I retested this issue (without any character set reconfiguration) using the latest beta. I'm not likely to get around to testing with mythbackend working in different character sets until the weekend.

I still don't see any recordings (which from Dan's note is expected) - I understand that there isn't anything you can do to fix the parsing. That makes sense.

What happens:
I see a blank recordi

[2013-10-17 01:41] billmeek commented on #219
@Speckto, thanks for the input. Looking back over these notes, you mentioned
having ISO-8859 on your system. I found this:  http://en.wikipedia.org/wiki/ISO/IEC_8859
which shows `é=1110 1001=233=0xE9`. So perhaps that's the reason for the incorrect
conversion. Nothing I've changed so far has duplicated the problem.

At your convenience, I'd appreciate it if you would try this modified `wget`

[cod

[2013-10-17 03:23] billmeek commented on #234
@dmfrey, I can get everything but the stopProbe() part, any suggestions?

[code]

[2013-10-17 09:34] MaEngelhard commented on #227
@billmeek
retested with the released 1.20.2 in the play store but didn't work. BUT with the current git version it works?!
I'm a little bit confused right now. ?!?!

[2013-10-17 09:36] MaEngelhard commented on #227
I looked in my database and found only decimals as period.

[2013-10-17 10:59] pot8oe commented on #234
@billmeek is the onclick not being called? If not it's probably related to
setCancelable(false).

[2013-10-17 12:26] billmeek commented on #227
@MaEngelhard,Confusing and scary. I just tried 1.20.2 from the Play Store and
it works. And, I verified that http://mc1:6544/Status/GetStatus returned the load
averages with commas. Thanks for checking your  MythTV DB.

To be clear, did the top of the Navigation Drawer display "MAF   1.20.2" with
your most recent Play Store test? (Apologies for asking that question, but there
should be exactly one

[2013-10-17 12:46] billmeek commented on #234
@pot8oe, pretty vague report on my part. No eclipse just wasn't letting me use
stopProbe() inside onClick(). Wrapping the stopProbe() inside of a try/catch
got me past that problem. And it seems to work. With no mythbackend running,
I get the option to Cancel and when I start a backend, the probe isn't running
so I don't get a setup screen asking to Save/Cancel.

If this makes sense, I'll push it

[2013-10-17 12:51] dmfrey commented on #234
@billmeek Yes, this makes sense.  Please commit the changes.

On Thu, Oct 17, 2013 at 8:46 AM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-17 15:56] dmfrey commented on #233
fixed in mythtv-services-api 1.0.10.  Will update app when maven central has received the packages

[2013-10-17 19:06] Speckto commented on #219
Doesn't look like it includes the charset unfortunately.
Incidentally, I wasn't saying it had to give the exact reason for the failure in any error message - more that it would be good if it explicitly stated something was wrong even if it cannot identify the cause. Since it already fails gracefully (doesn't actually crash) it may not be be worthwhile doing this.

[code]

[2013-10-17 19:26] billmeek commented on #219
I appreciate your checking. Plan C, if changing LANG/LC_TYPE works would be to modify a
patch for Mythtv http://code.mythtv.org/trac/ticket/11386 . And, add a check for those two
variables. What I'd like is for any app to refuse to run if the backend had configuration
issues (and in our case, automatically send users to our Wiki and put instructions there.)

@dmfrey, the patch hasn't gotten any at

[2013-10-17 19:43] dmfrey commented on #219
we are now catching the mythtv api runtime exceptions. Form that object we
should be able to inspect any child exceptions.  From there we should be
able to check that a low level exception occurred and provide a message
accordingly.

On Thu, Oct 17, 2013 at 3:26 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-17 23:16] #233 closed, assigned to dmfrey

[2013-10-18 00:30] billmeek opened #235 "Live Streaming: Stack Overflow"
Pressed See icon, transcoding started. At 86% (on screen display)
got the following Stack Overflow. Says Fatal Exception, but MAF
didn't exit. Backend transcode log completed normally.

[code]

[2013-10-18 00:39] billmeek opened #236 "Recordings: Not getting a choice between Direct and HTTP Live Stream"
Press See icon, no ProgressDialog allows choice between Live and Stream.
Opening as a question. Episode had NOT been transcoded before.
Is this correct?

[2013-10-18 00:47] billmeek commented on #233
Transcoded, played back and deleted a recording. Verified the
livestream was gone from the DB and files were gone from the
streaming directory.

[2013-10-18 02:02] billmeek commented on #219
Finally! Got my system to fail. In order to see the blank recordings page,
it was necessary to go to Android Settings->Applications->MAF and
stop MAF, clear cache, delete the data after doing the following on
my backend and then rebooting  the backend (for good measure.)

[code]

The 1st two lines of the error in LogCat are:

[code]

@dmfrey, could the 2nd line of the above be checked for "Invalid

[2013-10-18 20:16] dmfrey commented on #235
did this happen over an over once it starts?

[2013-10-18 20:18] billmeek commented on #235
No, it only fires once.

[2013-10-18 20:20] dmfrey commented on #235
does it fire once on every stream you tried?

Does it ever reach 100%?

On Fri, Oct 18, 2013 at 4:18 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-18 20:27] billmeek commented on #235
I'll retest those. I'm setup and trying a non UTF-8 ProgressDialog.
If you want, I can un-break my backend and test this now.

[2013-10-18 20:28] dmfrey commented on #235
no hurry on this.  Check it when you can.

On Fri, Oct 18, 2013 at 4:27 PM, billmeek notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-10-18 20:45] billmeek commented on #219
@dmfrey
Eclipse is happy with the following in service/dvr/v26/RecordedHelperV26.java
but when the error is detected the BadTokenException fires, hints welcome...

[code]

The new code is in the catch {} about half way down...

[code]

[2013-10-19 12:40] Speckto commented on #219
I can confirm that changing the init.d script for mythbackend to explicitly set the LANG and LC_CTYPE to en_GB.UTF8 resolves the issue and the recordings work even with accented characters.

Switching my backend environment to use UTF8 primarily also resolves this issue for me.

I entirely agree that this is a backend configuration issue. This kind of thing is one of the risks of configuring a dis

[2013-10-19 12:44] dmfrey commented on #219
Am I remembering this correctly @speckto, but did you previously say that
this machine has been upgraded from .21 or .22, etc?

I am wondering if this was just left over from old configuration.  I
believe the final switch over in mythtv was either .25 or .26, but I am
wondering if that config was just left alone by the scripts and never moved
to UTF-8.

On Sat, Oct 19, 2013 at 8:41 AM, Speckto not

[2013-10-19 12:53] Speckto commented on #219
Yes it was upgraded from 0.21. (possibly an earlier version than that as well). I don't think this is left-over configuration, but bad initial configuration on my part. I always intended to use UTF8 system wide from the start - I'd even added the locale - but I never  actually switched to using it (mistake). Perhaps mythbackend eventually started to require use of UTF8 sometime after 0.21 but I mi

[2013-10-19 13:01] dmfrey commented on #219
Ah, gotcha.  I thought maybe this would have been in the myth  scripts
somewhere, not dependent on the user to make this specific change.  I am
glad it is working for you.

@billmeek we should come up with a workflow to add into the app to alert
users of these types of config changes they might need to make.  Probably
when we check the myth version when setting up the location profile.  I am
open

[2013-10-19 14:24] billmeek commented on #219
@Speckto, thanks for testing the configuration on your BE. Normally, I like the
person who opened the issue to close it. However, now that I can duplicate it
and you've proven the root cause. I'll close it. There will be a new issue to
track an enhancement that would provide notification to the MAF user.

@dmfrey, agreed, I'll respond off-list with some ideas.

[2013-10-19 14:24] #219 closed, assigned to dmfrey

[2013-10-19 14:44] billmeek opened #237 "Refuse to run MAF if non UTF-8 characters are received from MythTV"
This is a result of #219. If the backend is run using a character set other
than UTF-8, then the JSON parser _can_ fail on characters outside of the
'normal' ASCII set, e.g. `é`.

MAF should detect the invalid character set (e.toString().contains( "Invalid UTF-8")), alert the user and refuse to run until the backend is properly configured.

[2013-10-19 17:18] billmeek commented on #235
Just retried on a 3 min recording, no problem. Did a new one hour show and
it failed: http://pastebin.com/raw.php?i=04rLGyxL . The display on my tablet
is still on 24%. Ah, but if I select another banner and return to it, it's saying
'WATCH IT NOW'.

[2013-10-19 19:08] billmeek commented on #235
And, I watched that one hour show OK. So, it appears to be a
display and Stack Overflow issue only.

[2013-10-19 22:54] #234 closed, assigned to dmfrey

[2013-10-20 15:29] dmfrey commented on #235
i just pushed a new version of the myth services api, 1.0.11.  This upgrades jackson to 2.2.3.  When available in maven central or pull the code and install manually, re-run your v26 livestreaminfolist tests.  If this solves it, then will push code for MAF with this change.

[2013-10-20 15:32] dmfrey commented on #236
hmm, i get the Use HLS? dialog. Was this episode currently hls transcoding?  When you are on your home network, you should get the option to play native or via hls with the Use HLS? dialog.  If you were away, then the only option will be to use HLS, so no dialog should be presented.

[2013-10-20 15:53] billmeek commented on #236
Closing. I was testing using the Away profile.

[2013-10-20 15:53] #236 closed, assigned to dmfrey

[2013-10-21 00:28] billmeek commented on #235
Can't test, I get the the following:

[code]

[2013-10-21 00:55] dmfrey commented on #235
Looks like the commfree attribute of the channel coming back is not the
same as what is mapped in the v26 branch of the services api.
On Oct 20, 2013 8:28 PM, "billmeek" notifications@github.com wrote:

[2013-10-21 01:19] billmeek commented on #235
Could it be that's because I'm faking it. My BEs are really 0.28-pre.

[2013-10-21 01:23] dmfrey commented on #235
Might be. I don't get that failure when using Joseph Fry's json in the unit
tests. Maybe we open it up to the beta testers to try out.
On Oct 20, 2013 9:19 PM, "billmeek" notifications@github.com wrote:

[2013-10-21 02:08] billmeek commented on #235
FYI, Upcoming fails with "CommFree", Recording Rules are OK, Gallery is OK and Guide fails with an NPE:

[code]

[2013-10-21 02:11] billmeek commented on #235
Arrgh, it's a 0.28-pre issue. This is the 1st  protocol preventing my faking 0.27 MAF
as 0.28. Thought I'd have to grep through thousands of lines looking for a change.

[code]

[2013-10-21 02:19] dmfrey commented on #235
I will drop a build out there and let the native 26ers try it out, unless
you think there is a reason not too.
On Oct 20, 2013 10:11 PM, "billmeek" notifications@github.com wrote:

[2013-10-21 02:29] billmeek commented on #235
Probably OK, I'm transcoding on my other machine now and it's at 11%.
This is the case that originally got to 86% before failing, so I won't
really know for while (and it's on my machine that's doing real recording
too and transcoding at 17! fps, make that a LONG while.)

[2013-10-21 02:45] billmeek commented on #235
Fired at 13%. As before, clicking on another banner and then returning restored the
progress display. I'm now at 20%.

10-20 21:34:11.234: I/dalvikvm(32208): threadid=11: stack overflow on call to Ljava/lang/ref/ReferenceQueue;.poll:L
10-20 21:34:11.234: I/dalvikvm(32208):   method requires 16+20+0=36 bytes, fp is 0x5acea30c (12 left)
10-20 21:34:11.234: I/dalvikvm(32208):   expanding stack end (0

[2013-10-21 20:21] SingingDwarf opened #238 "Guide duplicates channels - differing programs are listed in each entry"
Connecting to 0.27 backend running 1.20.3 client.

The Guide shows each channel duplicated - the program data displayed in each differs slightly. The first occurrence of the channel appears to show all listings correctly, whereas the second instance of the channel appears to omit some of the shows.
![screenshot_2013-10-21-11-02-56](https://f.cloud.github.com/assets/5740895/1376019/f8a2ebf4-3a8c-11

[2013-10-21 20:54] billmeek commented on #238
@SingingDwarf, that's helpful. This may be close to the problem I have. Let's
start with 2 questions.
1. Do you build MythTV from source? If so, I've got a one line patch that works for me.
2. Are all your channels marked Visible? (Especially those that show up as duplicates.)

You could just look at the MythTV GUI or mythweb/settings/tv/channels or:

[code]

Whatever is easiest for you. If you do

[2013-10-21 21:12] SingingDwarf commented on #238
1) No - I get the mythbuntu packages I'm afraid. I would be happy to have a go at building from source on a spare machine (I've never done it before), but it may be a couple of days before I get a chance.

2) Not all the channels are marked as visible - those which are not are not displayed at all. The duplicated channels are all visible. http://pastebin.com/tNKrvj7u

[2013-10-21 22:20] billmeek commented on #238
Thanks, the patch I'm using wouldn't help.

Next step, looking at the data actually passed from MythTV to MAF. Please run
this (you may need to adjust the command, or use `curl` if you prefer.)

[code]

This will be one very long line. We have tools to parse it. Please
pastebin /tmp/JsonData for this one too.

Just to document research, there was a MythTV commit in 0.28-pre Saturday
that changes t

[2013-10-21 22:24] billmeek commented on #227
@MaEngelhard, I'm not sure why this worked for you from git and not 1.20.2, but
if it's OK in 1.20.3 I'd like to close this.

Is that OK with you?

[2013-10-21 22:57] SingingDwarf commented on #238
I hope this helps http://pastebin.com/BN6Mt0nE

The above paste has been removed by pastebin.com. I have a copy
saved on my host. (@billmeek)

[2013-10-23 21:48] billmeek commented on #238
@SingingDwarf, thanks.

This is related to #189.

I cleared my MAF DB.

I changed my MythTV settings for channel 143 to try to duplicate the problem.

Tested before and after applying the 0.28-pre fix in the link above. I still have
two channel 143s. N.B. the duplicate 143s were in the guide BEFORE I pressed
 the Refresh icon (at that point, no channel had any programs.) In my case, one
of my 143s

[2013-10-24 12:53] MaEngelhard commented on #227
I'm ok with that. My retest with the 1.20.3 was successful. I believe in my previous test i used an older git version instead of the released 1.20.2. At leased this would explain my results...but for now everything is working.

[2013-10-24 13:54] billmeek commented on #227
Thanks for the response and testing! Closing.

[2013-10-24 13:54] #227 closed, assigned to dmfrey

[2013-10-24 14:02] billmeek opened #239 "Developer Console: 1.20.3; RuntimeException: Error receiving broadcast Intent"
[code]

[2013-10-26 15:19] dmfrey commented on #235
@billmeek are you getting the stackoverflow with now that you are running native v0.28?

[2013-10-26 15:24] tensberg commented on #174
I finally got around to translate the Play Store texts to German. I have just published the changes through the Play Developer Console. Now I am curious if there will be any feedback on the translation.

The Play Store description links to the Wiki in some places for further information. I think translating the Wiki pages would only be worth it if there is actual demand by the users.

I think main

[2013-10-26 15:30] tensberg opened #240 "Maintain Play Store descriptions in GitHub repository for easy translation"
It would help translators if the Play Store description texts were kept in the GitHub repository. This way it is easy to track when the texts change and what has changed.

Another advantage is that you don't need to give the translators access to the Play Developer Console to update the translations. The translators can edit the files in the repository and you can copy-paste it into the Developer

[2013-10-26 16:15] #240 closed, assigned to billmeek

[2013-10-26 16:22] billmeek commented on #174
Thanks for the  pull request.  There is a new menu item: "Release Notes"
Michael, what is the correct German translation?

[2013-10-26 18:23] tensberg commented on #174
Good question. Like with many computer terms I am so used to the English term that I am not sure what is commonly used in German translations. The literal translation sounds awkward, and the translations from dict.leo.org also sound pretty uncommon to me.

I found a page with example translations: http://www.linguee.de/englisch-deutsch/uebersetzung/release+notes.html . "Versionshinweise" ("version

[2013-10-26 20:30] billmeek commented on #235
Yes. But, the stack looks a bit different from the one in the initial post here.
The failure below was on my 10" tablet running Android 4.0.4. Previous
ones were on my 7" tablet on 4.1.2. I changed because the 7" one is
a bit under powered compared to the 10" one. Failed at 33%. and
again at 90%. In both cases, the display had turned off. In the end,
the transcode completed and I'm watching the re

[2013-10-28 00:17] billmeek commented on #225
Re-hid. No reports since Oct 11, 2013

[2013-10-28 00:17] #225 closed, assigned to dmfrey

[2013-10-28 00:29] billmeek opened #242 "Developer Console: 1.20.4: Stack Overflow, WeakHashMap.java:569"
Note that I cut about 50 of the final repeating couplets off of this paste.
May be related to #235, but the stack is different (has: getLiveStreamList
below. User comment in the Console was:

[code]

[code]

[2013-10-28 22:09] billmeek commented on #179
Pushed v1.30 to GitHub. 10/28/2013

[2013-10-30 01:27] dbadia commented on #242
Adding debug info as requested:

dave@jj ~ $ curl -X GET -H "accept: application/json" http://192.168.1.101:6544/Content/GetLiveStreamList -o GetLiveStreamList.json
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  2357  100  2357    0     0   692k      0 --:--:-- --:--:-- --:--:--  767

[2013-11-05 15:43] billmeek opened #243 "Developer Console: 1.20.5; RuntimeException: Unable to start activity"
User message: Nexus 4 (mako) crashes when trying to add home profile on kitkat

[code]

[2013-11-05 16:55] dmfrey commented on #238
This issue is going to require a bit of refactor on the program guide and channel tables in the db.  Let's move this to v1.30.0 as it is not a show stopper.  Also, work will be done in that release to give record schedule capabilities, so it fits with that release.

We should just mark it as a known issue in the release notes.

[2013-11-06 00:52] #243 closed, assigned to dmfrey

[2013-11-09 03:18] billmeek commented on #239
Re-hid in the Developer Console. Closing

[2013-11-09 03:18] #239 closed, assigned to dmfrey

[2013-11-11 08:58] fransg opened #244 "Episodes recorded with old hostnames are missing"
Hi, I like this app, looks very promising! I am trying to set this up on an Android TV-stick (RK3188-based Ugoos QC802). As a long time MythTV-user (from 2005) I found that episodes recorded prior to last June are not shown in the list. The main category is there, i.e. in the alphabetic list of recordings. If I select a recording name, I only get to see the episodes if that recording was made rece

[2013-11-11 13:54] dmfrey commented on #244
Frans,

Can you dump the xml generated by the backend:

curl -X GET http://<your backend ip>:6544/Dvr/GetRecordedList -o
GetRecordedList.xml

and post it here.  I am guessing the hostname in those entries is still
using the old name.  If so, it should be easy to go into the database and
update those records so they have the correct host name.

You can also just plug http://<your backend ip>:6544/D

[2013-11-11 16:18] fransg commented on #244
Hi Daniel, thanks for you quick reply. I typed the URL in my browser and
got a huge XML-representation of my recordings (over 2.000 recordings,
the oldest dating back to 2006). If it helps I can upload it somewhere,
but I think we are close to a solution already. In the list I can see
three 'generations' of hostnames, corresponding to three subsequent servers.
I tried changing the hostname attribu

[2013-11-11 16:32] dmfrey commented on #244
Frans,

Unfortunately the hostname is required.  We have users who have multiple
backends (i.e their main one they use every day as well as testing ones
running latest builds, etc.). So we need to delimit the data from one
backend against another.  Also, this lets us tie together relevant data
when you setup both home and away profiles pointing to the same physical
backend.  This allows us to limi

[2013-11-11 16:45] billmeek commented on #244
Frans. If you can identify a single title that isn't working, the following will
result in a much shorter list that you could put in your favorite pastebin:

[code]

Dan. I'm looking at the MythTV source, GetRrecordedList calls LoadFromRecorded,
which (in part) includes this:

[code]

I don't see hostname in either of `channel` or `recordedprogram`. My guess
would have been changing `recorded` too

[2013-11-11 17:11] billmeek commented on #244
@dmfrey, and to answer your other question, `hostname` should match
the output of `hostname` on the command line, unless `config.xml` has
been changed (the `LocalHostName` entry.) I missed he `record` table
in my last response, but it doesn't have a `hostname` field either.

In the source above, if the hostname is missing, it get's one on the fly.
I don't believe it's derived from another table.

[2013-11-11 17:26] fransg commented on #244
Thanks Bill, the solution was simpler than we (or at least I) thought.
The recorded-table is the location it takes the hostname from after all.
It only required a restart of mythbackend and mysql before it was picked
up by the GetRecordedList. I'm not sure if this was an incident (or I
messed up..), or whether it always requires a restart before the change
becomes visible. Maybe the response to th

[2013-11-11 21:27] fransg commented on #244
Here's my feedback after a bit more testing. I am now certain that setting the 'hostname' attribute of the 'recorded' table to the right hostname is all that is needed to get all recordings/episodes listed. What made it confusing is that (probably due to caching) the effect of updating the database was not immediately apparent. That is hardly a problem, however, as updates to the recorded-table ar

[2013-11-11 21:41] dmfrey commented on #244
closes #244

Frans, I am glad we were able to help and that the issue is resolved.
Please let us know if you run into any other issues.

On Mon, Nov 11, 2013 at 4:27 PM, fransg notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/dmfrey

[2013-11-11 22:02] fransg commented on #244
Great, thanks! It is quite possible that I encounter more issues. I am
currently trying to use an Android-stick as a replacement for my
Intel-based mini-itx settop-box, running OpenElec (XBMC) including
MythTV pvr-addon. The QC802 that I use now has very poor WiFi-reception
though, so that is not going to work. Also, the stick is connected to my
TV, hence I do not have a touch-screen to control it

[2013-11-11 22:18] billmeek commented on #244
For the archive, changed the title to reflect the root cause, and
closed the issue.

[2013-11-11 22:18] #244 closed, assigned to nobody

[2013-12-03 22:02] billmeek opened #245 "NPE if recording no longer has original channel information (Edge Case)"
<pre>
12-03 15:08:15.863: E/RecordedHelperV28(5580): process : non UTF-8 exception
12-03 15:08:15.863: E/RecordedHelperV28(5580): java.lang.NullPointerException
12-03 15:08:15.863: E/RecordedHelperV28(5580):  at org.mythtv.service.channel.v28.ChannelHelperV28.convertChannelInfoToContentValues(ChannelHelperV28.java:495)
12-03 15:08:15.863: E/RecordedHelperV28(5580):  at org.mythtv.service.channel.v

[2013-12-06 14:27] dmfrey commented on #235
@pot8oe has been able to reproduce this on v26 backend with the newly generated v26 mythtv services api. Tested on nexus 7 (2013) running android kit kat.  He is gonna try the same thing with an emulator not running kit kat.

Jackson devs believe it is an android issue, not a jackson issue.

I have not been able to reproduce on mythtv .27 backend on any of my devices.

[2013-12-07 03:21] billmeek commented on #245
Corrected typos in the original post. Also, there is no entry in the MAF channel
table for the channel above.

[code]

returns nothing.

[2013-12-13 05:08] wrn commented on #133
I just want to express my great appreciation if this feature can be added. I am not sure how things work under the hood. But it seems to be there are two possibilities:
1. If the backend simply pushing the recording file (without any modification) through the network, then we have two options:
   1) find an external player that can recognize and render the embedded CC information in the stream.

[2013-12-22 18:24] billmeek opened #246 "Prevent TCP resets if error text received by Android Universal Image Loader isn't read"
Solution provided by Image Loader developer: nostra13/Android-Universal-Image-Loader/issues/418.

[2013-12-22 18:27] dmfrey commented on #246
Did he push an updated version?
On Dec 22, 2013 1:24 PM, "billmeek" notifications@github.com wrote:

[2013-12-22 18:35] billmeek commented on #246
No, his comment after the proposed solution is: "But I decided not include these changes into library."
Which I don't understand, as it's a valid issue. Perhaps most users of his app don't return the text that
the MythTV Services API does. Or, most people don't search the protocol for RSTs.

[2013-12-22 19:10] dmfrey commented on #246
I looked at koush's Ion library for another project. You can find it on
github. Might be a better fit for what we are doing.
On Dec 22, 2013 1:35 PM, "billmeek" notifications@github.com wrote:

[2013-12-22 20:01] SiliconFiend commented on #238
Doesn't this just need a GROUP BY channum,callsign to make the channel list unique? I see the current GuideChannelFragment is creating a CursorLoader with SELECT DISTINCT but that will still have duplicates because the chanid is different for different sources. Unfortunately CursorLoader doesn't accept a GROUP BY argument so it might need a workaround. I found one here: http://stackoverflow.com/qu

[2013-12-22 20:04] dmfrey commented on #238
It doesn't seem to be that straight forward when dealing with the android
ContentProvider.

I do have some thoughts on how to handle this, but it will take some
playing around to get it just right
On Dec 22, 2013 3:01 PM, "Karl Newman" notifications@github.com wrote:

[2013-12-22 20:55] billmeek commented on #238
@SiliconFiend, stuartm has been using the Services API for the new Webfrontend
in MythTV. He agreed to add my one-liner in 0.28-pre. Only, it's much better than
mine. Here's the commit:

[code]

[2013-12-23 17:16] SiliconFiend commented on #238
That patch didn't apply cleanly to 0.27-fixes due to the other changes which had been made to head (in guide.cpp) and I worked for a while to put together a string of patches which would make it clean, but in the end I just modified the patch context lines to apply the relevant change. However, after recompiling with that patch, it didn't seem to fix it at all, but judging by the content of the pa

[2013-12-23 17:43] billmeek commented on #238
I just go into Settings->Applications->MythTV Android Frontend and then Force stop,
Clear cache and Clear data.

Just FYI, I do still have 2 instances of CBS-HD, one for OTA and one for Cable, e.g.
channum 2_1 and 601.

Same for all other OTAs with matching Cable stations. They both appear in the
MythTV Program Guide, so I assume that's normal.

[2013-12-23 18:08] SiliconFiend commented on #238
I was afraid that's how I had to clear the database. The backend scan doesn't work at all for me (MAF doesn't find the frontend on the same machine, either). Anyway, I still have the same symptoms--two channels shown in the guide with data only on the first instance of the channel. My two sources are for two different cable boxes. One is a full addressable CableCard box with all the subscribed cha

[2013-12-23 21:29] billmeek commented on #238
Thanks for those details.

If MAF isn't able to automatically see your FE/BE, please see:
https://github.com/MythTV-Clients/MythTV-Android-Frontend/wiki/MythTV-Configuration-Suggestions
(the: What are the requirements for MythTV for Android and Zeroconf? section.)

[2013-12-27 17:42] billmeek commented on #246
I cloned the koush Ion library, but I can't spot the solution there.

However, citing: http://docs.oracle.com/javase/6/docs/technotes/guides/net/http-keepalive.html,
(probably the section: What can you do to help with Keep-Alive?)
nostra13 has reopened the issue and added 2 commits. I can't install the SNAPSHOT
because my version of maven is too old. I'll work on that.

The section just below the

[2013-12-29 21:29] billmeek commented on #246
Got my system updated and built 1.9.2-SNAPSHOT. TCP RSTs are gone.
I added a comment on his issues list, so hopefully he'll push to maven
central. There are a few changes required in MAF to allow this to build.
I'll push them to 1.30 when 1.9.2 is pushed, like these:

[code]

[2013-12-31 14:37] UlfGran commented on #244
I have a strong feeling that I am suffering from the same problem that is described above. My MythTV database also has a history of beeing moved between different hostnames, and when I try to use the MythTV Android frontend app, I am only able to play the recordings that was done on my current MythTv backend machine. However, when I did the move of the database from the previous machine to the cur

[2013-12-31 16:15] fransg commented on #244
Hi Ulf,

So you see some recordings in the app, but not the older ones? That
sounds very similar indeed. Fortunately, fixing it is simple.

Here is a set of commands that should get you started. Before that
though it is probably a good idea to create a database-backup of your
mythconverg-database.
- First, login to mysql and open the mythconverg-database. In a
  server-console type 'mysql mythconv

[2014-01-01 16:19] UlfGran commented on #244
Hi Frans, Thank you for your quick and kind reply.

Yes, clearly this was the exactly the same issue. The symptoms you describe at the top were exactly the same. And the first SQL query you give above showed that there were two different hostnames in the recording data, one for new recordings, and one for older.
When my database was updated to contain only the new hostname, all recording data beca

[2014-01-03 18:49] UlfGran opened #247 "Scan Network hangs forever after reinstall"
After doing uninstall and reinstall of the app, the "Scan network" function for discovering backend will hang with "Please Wait" message seemingly forever. The backend is running, avahi is running, the Scan network function worked only a few days ago, and if I add the backend adress manually, playback of recordings works. So why did "Scan network" stop working? App version is 1.10.1, backend versi

[2014-01-03 19:28] billmeek commented on #247
Thanks for including all the details in your question!

Late in the MythTV 0.27 development cycle, the name used for Bonjour was changed from
_mythbackend-master to simply _mythbackend plus a TXT field of master (or slave.)

MAF 1.10 doesn't know about this. The beta 1.20 does and the ability to cancel the scan
was also added. There was also a change in 0.27 that makes the Recording Rules screen
f

[2014-01-03 19:58] UlfGran commented on #247
Thanks for a quick reply. So it seems my backend was updated since I last did the Network scan. Yes, there is a line similar to yours in the backend log. The reason I did the reinstall of the app in the first place was because I was hoping to get the 1.20 version, apparently I do not quite understand how to download the beta-test version. Could you please help with that? Just doing a reinstall fro

[2014-01-03 20:19] billmeek commented on #247
Unfortunately, I'm not a good source for why you're not getting the 1.20.6 release. I know
others on the Google Groups list have mentioned similar problems. I can only suggest
going to Applications->MythTV Android Frontend->Force stop, Clear cache, Clear data
and Uninstall. I'm suggesting that rather than the Reinstall (which I don't see when I go
to Google Play.) If that doesn't work, perhaps ask

[2014-01-03 21:17] billmeek commented on #247
For the archive, checking: https://play.google.com/apps/testing/org.mythtv must
display "You are a tester". That solved the inability to get the beta code. Closing
the issue.

[2014-01-03 21:17] #247 closed, assigned to nobody

[2014-01-03 21:17] UlfGran commented on #247
Well, what you suggest was exactly what I did, and I called that Reinstall, even though there is no such button on Google Play. I have now asked at the Google group, and the problem is solved. Thanks for your help.

[2014-01-04 09:58] UlfGran opened #248 "Internationalisation [for timestamps]"
I would like to be able to use a 24-hour clock format in the app. From what I have seen in the translations section it seems that currently the clock format is a part of string translations for languages. This is not really logical, and it would be better to have some kind of locale setting that makes clock and date format independent of app language. The best would of course be to use locale/time

[2014-01-04 16:03] dmfrey commented on #248
The locale settings on the device are used to determine your clock format.
This was added some time ago.
On Jan 4, 2014 4:58 AM, "UlfGran" notifications@github.com wrote:

[2014-01-04 19:05] billmeek commented on #248
Closing this issue. The existing format is ISO 8601 compliant. Please reopen if there
are additional details (e.g. screen name, specific language and format.)

[2014-01-04 21:32] UlfGran commented on #248
Well, here are some more details: The device, a Nexus 7 with Android 4.4.2, is using Swedish as language, and Sweden as its localisation. The internal clock of the device is shown in a 24-hour format. In most other apps times are shown in 24-hour format. But in MAF version 1.20.6, all times in the Program Guide are shown in am/pm format, and hence do not follow the device settings. However, at lea

[2014-01-05 00:18] billmeek commented on #248
@UlfGran, thank you. I switched my "old" 4.0.4 tablet to Svenska. I always run it in the 24 hour format. All
timestamps in Recordings, Guide and Upcoming Recordings display properly. It sounds less like a language
setting and more like a KitKat one.

Reopened.

[2014-01-05 08:36] fransg commented on #244
No problem Ulf, glad that it's solved!

[2014-01-05 10:15] UlfGran commented on #248
In the "Recordings" section I get the dates according to "2014-01-05" but the time is in am/pm format, not 24-hour.
( Although it does not say "am" and "pm", it says "fm" and "em", which are the Swedish equivalents, so it is somehow a "Swedish" am/pm format. (Which in real life does not exist.)  This is the same in the Guide section, although I did not mention that above.)

I have now tried instal

[2014-01-05 14:35] billmeek commented on #248
In Settings->Data and time->Use 24-hour format mine is checked. But you've
already mentioned that your other applications properly display in that format,
so I assume that's already checked.

I did try switching Use 24-hour format off and found that I had to Force stop, Clear
cache and Clear data in the Application manager before the AM/PM were displayed.
Please do that.

[2014-01-05 19:14] UlfGran commented on #248
Yes, the Use 24-hour format was already checked, as could be expected. And the date format was set to 2014-12-31.
I have now done the following:
I unchecked the Use 24 hour, and set the date format to 31-12-2014. I then did force-stop and clear data.
After that there was no change in neither time nor date formats shown in any of the screens in MAF.

I then checked the Use 24-hour again, and set th

[2014-01-13 17:34] UlfGran opened #249 "Split recording only seen as one recording in MAF"
If a scheduled recording of a single program becomes split up in two parts, perhaps because I happened to restart the backend at the wrong time or something similar, then both parts of the program do not show up in MAF. I can see them as two separate recordings in MythWeb and in the Frontend running local on the backend, but in MAF I see only the last part. I use the 1.20.6 version of MAF, and bac

[2014-01-13 19:24] billmeek commented on #249
Looked at the XML. StartTimes are the same, however the StartTs timestamps are different and represent the actual beginning of recording. MythTV is clearly returning both programs (I only tested with a single interrupted recording, but assume the same is true for any number of interruptions.)

Looking inside the MAF database, there is only one entry for the 'split' program.

[2014-01-26 08:58] andy-lawson commented on #74
This is the killer feature for me. I need to be able to schedule a recording here. Other than that - looking good!

[2014-01-26 14:50] billmeek commented on #74
Thanks for the comment. This is scheduled for the 1.30 release.

[2014-01-30 22:01] netmindz opened #250 "Syncing program guide calls /Myth/GetHostName repeatidly"
Example of log of request being made by sync

192.168.1.123 - - [30/Jan/2014:21:57:45 +0000] "GET /Myth/GetHostName HTTP/1.1" 200 72 "-" "Android Application:MythTV_Android_Frontent"
192.168.1.123 - - [30/Jan/2014:21:57:46 +0000] "GET /Guide/GetProgramGuide?StartTime=2014-02-05T17%3A00%3A00&EndTime=2014-02-05T17%3A59%3A59&StartChanId=1 HTTP/1.1" 200 16055 "-" "Dalvik/1.6.0 (Linux; U; Android 4.3;

[2014-01-30 23:10] netmindz commented on #250
I have retested with the current git source code and I can't reproduce the same pattern of calls, though I do still see quite a few calls to get the host name, which I think is caused by the liberal use of isMasterBackendConnected throughout the code. Adding these extra calls slows things down a lot when your away from home accessing over 3G so really should be avoided where possible surely ?

[2014-01-30 23:14] billmeek commented on #250
You have a good eye. GetHostName is called before other end points to
see if the backend is running. It's a form of fault detection.

The response is the shortest available. Not counting the HTTP header, the
XML returned is just the hostname and provides the final check of the
network connection to the backend. Earlier releases just attempted to
connect to port 6544 and, if memory serves, got a 30

[2014-03-05 00:25] billmeek opened #251 "Developer Console: 1.20.6: RuntimeException: An error occured while executing doInBackground()"
Last reported: Feb 28 1:46 AM
Application version: 1.20.6
Android version: Android 4.42
Device: Nexus 5 (hammerhead)2

[code]

[2014-03-09 01:33] cormanaz opened #252 "Shows programs but no episodes"
I've got the Play Store release installed on a Galaxy Note 10.1 2014, talking to a new install of the latest Mythbuntu as a backend.  It seems to talk to the backend fine.  Shows the guide, and give a list of programs.  But when I touch one of the programs it shows no episodes.  What to do?

[2014-03-09 17:09] billmeek commented on #252
Closing this issue because it's being addressed on the MythTV -users mailing list where it was asked (and answered) before this was  posted. See: http://www.gossamer-threads.com/lists/mythtv/users/565179 . Feel free to reopen if that thread wasn't created by you.

[2014-03-09 17:09] #252 closed, assigned to nobody

[2014-03-09 21:31] cormanaz opened #253 "Icon disappered"
I upgraded to the latest release and the icon disappeared frome the desktop.  I can still launch From the play store app open button. This is on a Galaxy Note 10.1 2014 running Android 4.3.

[2014-03-09 23:10] billmeek commented on #253
This is normal as I believe you switched from 1.10.1 to the Beta 1.20.6. Press the application icon and drag the MAF icon to the desired location on your screen. When 1.20.7 is released, I believe you _won't_ see this issue. I suspect this will happen again when 1.20.x is changed from Beta to a 'normal' release.

[2014-03-09 23:10] #253 closed, assigned to nobody

[2014-03-13 04:44] dmz006 opened #254 "The selected Backend profile's host isn't responding"
Hello
I installed the beta version 1.20.6 and things worked great for the frontend for about 3 weeks, then about a week ago I started getting the profile's host isn't responding message.

I have restarted mythbackend and nothing I seem to do anything.

I have not done any debugging on this app yet so let me know how I can get more information and I'll be happy to get it.

When I capture the networ

[2014-03-13 15:24] billmeek commented on #254
Hi, this may be a tough one. The 1st thing I'd do is manually test the GetStatus message from your device's browser:

[code]

I suspect that will work OK, but it's worth looking at the output.  The only thing that I can think of that would change is if you added a "Miscellaneous status application" script recently, but I've tested it and it worked for me.

Is your Master Backend's hostname really

[2014-04-10 23:45] billmeek commented on #254
No feedback in 1 month, closing. Please reopen if there's new data. Thanks!

[2014-04-10 23:45] #254 closed, assigned to nobody

[2014-04-17 00:50] billmeek opened #255 "Developer Console 1.20.6: Native crash"
No user message.

[code]

[2014-04-17 00:53] dmfrey commented on #255
yikes!!! what the hell is that?

[2014-04-17 01:06] pot8oe commented on #255
You can't see it? It's right there! :-P

-Tom

[2014-04-17 01:35] billmeek commented on #255
I did leave out two items: Android version= Android 4.41, Device=Galaxy Nexus (maguro).
If I saw one these in the MythTV-users list, I'd point the user at the Debugging Wiki and
try to get some symbols. It looks useless to me, but I did want to document it, just in case
more start appearing. I'll post something on the G+ channel and see if the person that had
this is watching...

[2014-04-26 03:06] billmeek opened #256 "Developer Console 1.20.6: IndexOutOfBoundsException: Invalid index 0, size is 0"
Android 4.4, Galaxy Note3 (hltetmo,) No User Messages.

[code]

[2014-04-29 02:29] billmeek opened #257 "Developer Console 1.20.6: RuntimeException: Unable to start activity, MediaNavigationDrawerActivity"
Android version= Android 4.41, Device=Nexus 4 (mako)1. User Comment:
'mythbackend not responding' - crashes

[code]

[2014-05-01 18:33] tekrantz opened #258 "MAF does not seem to retrieve recordings on 0.28"
Just updated my backend to 0.28.  I cleared all MAF data.  MAF seems to fail to retrieve any recording data.

[2014-05-01 18:59] billmeek commented on #258
Sorry. 0.28 doesn't exist, only 0.28-pre and there have been significant changes in the MythTV Services API since 0.27. As mentioned in the Play Store, this app only works with 0.25 through 0.27. MAF version 1.20.6 is in Beta (and also only supports 0.25-0.27.) If you build MAF from source, the 1.30 Alpha code exists, but you should understand that changes to 0.28-pre could break it and MAF fixes

[2014-05-01 18:59] #258 closed, assigned to billmeek

[2014-06-06 17:29] y3ddet opened #259 "Cannot build against Amazon Fire/FireTV API"
Line 132 of src/org/mythtv/client/ui/preferences/MythPreferenceActivity.java causes a compiler error due to the Build.VERSION_CODES.KITKAT while Amazon headers define only up to JELLY_BEAN.

Further the isValidFragment() routine is not defined in the Fire SDK based in 4.4.2.

Is there a way to correctly control this fragment such that it wont conflict with the KITKAT build for mainline Android bui

[2014-06-08 19:53] billmeek commented on #259
Thanks for the report (and the comment on the Beta G+ list.) Set to Bug/1.20.7. http://securityintelligence.com/new-vulnerability-android-framework-fragment-injection/

[2014-06-08 22:20] y3ddet commented on #259
[EDIT] Ignore this, it was due to a maven/ADK/Eclipse config. I still cannot generate through the Eclipse tools, but command line invocation of the "package" goal works.

When commented out, and Android 4.2.2 or the Amazon Fire API selected, compilation works, however no binaries appear to be merged into the resulting APK file. I can install it through ADB, but of course it fails to find the main

[2014-06-17 13:41] exboyracer2 commented on #74
As above, this would be my main usage of the app... scheduling recordings when away from home.
looking forward to it!

[2014-06-18 19:16] billmeek commented on #246
1.9.2 was published on 23-May-2014. Working on some depricated warnings.

[2014-07-01 00:48] dmz006 commented on #254
Sorry for the long delay; it seems that when I upgraded my mythbackend to ubuntu 14 it got whatever release the myth android needed and it's working again.  Now if I can only get the video to play...

[2014-07-28 04:43] billmeek commented on #246
Commit didn't close this one? But I will here.

[2014-07-28 04:43] #246 closed, assigned to billmeek

[2014-07-30 07:11] LockeCJ opened #260 "Support recording groups"
I make use of recording groups in MythTV in order to separate my recordings, my wife's, my daughter's, and those shared by all of us. Unfortunately, MAF doesn't seem to be aware of these and displays all of the recordings. This is quite a bit to scroll through.

I would like to see this implemented in two ways. First, I'd like to be able to set a default recording group, much like a standard front

[2014-07-30 12:59] billmeek commented on #260
Added enhancement label.

[2014-08-16 22:25] netwolfuk commented on #253
I've seen this behaviour before where the play store app does not recreate the icon in your apps area on your device. You can't drag and drop from apps list to the screen because it does not exist there. As the op said finding the app inside the play store app is the only way to launch it.

I ended up having to reboot the device before the icon appeared as an app on my device. I believe it happens

[2014-08-17 17:09] billmeek commented on #245
Fixed in 8e029ac and ae942ac. Also showed up when an 'old' recording
had a chanid that mapped to an invalid channum e.g. _50-1.

[2014-08-17 17:09] #245 closed, assigned to dmfrey

[2014-09-13 15:10] netmindz commented on #250
The latency of the extra round trip to the server is the issue more than the size of the payload returned

[2014-09-15 10:35] netmindz opened #261 "No release to playstore"
Is there any reason why there hasn't been a release to the playstore since 2013 ?

[2014-09-30 21:48] netmindz commented on #261
No comment ?

[2014-09-30 22:21] dmfrey commented on #261
Sorry, I was away on vacation last week.

It has really come down to timing. I had 3 major migrations at work over
the last year. My time was really thin between work and family. I am
finishing a few things up for some other projects and will be back on this.
On Sep 30, 2014 5:49 PM, "agentblueuk" notifications@github.com wrote:

[2014-10-04 03:37] askvictor opened #262 "'About' page should show info about currently installed app"
The 'about' section of an app/application should show info about the currently installed app (e.g. full name, website, version, developer), not just redirect to a webpage. I've found it surprisingly difficult to determine the version number of the installed version of this app.

[2014-10-04 14:00] billmeek commented on #262
Hi,
The next release (currently available to beta users) has the version displayed on the
navigation drawer. The help area has been enhanced, however continues to use links
to the Wiki.

[2014-10-04 14:00] #262 closed, assigned to nobody

[2014-10-05 13:19] #261 closed, assigned to nobody

[2014-10-09 18:57] admered1 opened #263 "Persistent 'Receiving Recording Rules"
The notification pops up at startup and stays.
Thanks for the great app. Very nice :-)

[2014-10-09 19:03] billmeek commented on #263
Hi,

What version are you running e.g. 1.10.x or 1.20.x (guessing 1.10.x because I don't see that
message.) You might want to try the 1.20 beta: https://play.google.com/apps/testing/org.mythtv

[2014-10-10 08:40] admered1 commented on #263
On 09/10/14 20:03, billmeek wrote:

Sorry, should have said. V 1.10

Can't find any way of asking the app for the version though so going on
the comments in the appstore page.

Happy to try the beta

Andy M

##

This message has been scanned for viruses and
dangerous content by MailScanner, and is
believed to be clean.

[2014-10-10 11:52] billmeek commented on #263
Good. The link above should get you going. The only 'downside' is that
in order to use Google's Beta apps, you must be a Google Group member.
The link above should work and the Group is here:
https://plus.google.com/communities/104432707624078706786
There hasn't, and likely won't be any development on 1.10. Please
reopen if 1.20 doesn't help.

[2014-10-10 11:52] #263 closed, assigned to nobody

[2014-10-10 12:18] admered1 commented on #263
On 10/10/14 12:52, billmeek wrote:

Thanks for that. Have signed up for the beta program, so will expect to
see an update in the near future.

Again, keep up the great work :-)

Andy M

##

This message has been scanned for viruses and
dangerous content by MailScanner, and is
believed to be clean.

[2014-10-23 12:58] netmindz commented on #261
You might like to check out my fork, in an attempt to help get my head round how the app works, make it easier to develop for and remove duplication, I have replaced all of the classes that relate to the myth api with the classes provided with the ones that are already present in https://github.com/MythTV-Clients/MythTV-Service-API

In the interest of speed, I have also swapped to v27 only given i

[2014-10-23 13:08] dmfrey commented on #261
Where is your fork?

I have been considering using Square Retrofit to annotate the the classes
and endpoints in java.  My hope is to be able to avoid having all these
versions of the api lying around, as it really complicates coding the
interface to the correct version.

On Thu, Oct 23, 2014 at 8:58 AM, netmindz notifications@github.com wrote:

##

My Google Profile http://www.google.com/profiles/

[2014-10-30 01:52] 321liftoff opened #264 "Cannot connect to backend when setting up a profile"
When I connect to my backend running on an ARM-based NAS, I get the following message out of mythbackend:

2014-10-29 21:45:40.932 MythSocket(29c318:46): Protocol error: 'GET /Myt' is not a valid size prefix. 152 bytes pending.

This message appears when trying to connect to either v0.24.4 or v0.25.4.  Meanwhile, the android is stuck on the screen "Please wait....  Retrieving Master Backend Detail

[2014-10-30 02:03] billmeek commented on #264
Hi,
MAF doesn't work below 0.25, so 0.24 should fail.  But 0.25 should work. There
are some tips here: https://github.com/MythTV-Clients/MythTV-Android-Frontend/wiki/Connection-Troubleshooting-Guidelines

If you're running 1.10.x from the Play Store, note the Beta version of 1.20.6 is available:
https://play.google.com/apps/testing/org.mythtv .

[2014-10-30 03:17] 321liftoff commented on #264
Hi billmeek,

I determined that my problem was typing in the ip address with a port of 6543 instead of 6544.  Using 6544 allows it to connect to v0.25 and it doesn't work with v0.24 as you say.

Thanks for the quick response!

[2014-10-30 03:17] #264 closed, assigned to nobody

[2014-10-31 23:31] onley commented on #171
I hate to bring up an old thread but I just installed 1.10.1 and am having this problem with a 0.26 backend on Debian 7 and have not yet been able to find a solution. If I call getrecordedlist from a browser I get an 1.2MB file with all my recording information but the android never shows any recordings despite claiming to sync successfully.

I have used mythtv for over 10 years and have recording

[2014-11-01 00:37] billmeek commented on #171
Before going further, I'd suggest getting the Beta version of 1.20.6 available at:
https://play.google.com/apps/testing/org.mythtv . If that doesn't help, please open
a new issue. The same symptom can show  up, for example, with invalid UTF
characters. Thanks.

[2014-11-01 04:42] onley opened #265 "DVR Recordings pane is empty."
I have just installed the 1.20.6 beta and cannot see any of my recordings. The guide, upcoming, and recording rules are all working fine but I have no recordings in the recordings pane.

I am using 1.20.6 on a Moto-G phone with Android 4.4.2. My backend is a 0.26 running on Debian 7.

I have 10 years of recordings on the backend which have been through 5 or 6 upgrades of Myth and Database schemas.

[2014-11-01 05:08] billmeek commented on #265
The root cause of this problem was an old recorded table entry with an
invalid chanid. In the JSON response, it appeared as: "ChanId": "4294967295"
and MAF handled the exception, but was prevented from loading the recordings.
Removing the bad entry works around the bug.

An argument could be made that the backend should prevent such a chanid
(which is a signed long -1) from being returned as an in

[2014-11-30 20:08] ikke-t opened #266 "mythshutdown control"
Please add button or menu to control mythshutdown lock.

I often use some dlna player, and it's inconvenient to ssh to mythbackend to do:
mythshutdown --lock or -u

MAF could have a control button for it.

[2014-12-04 19:48] dmfrey commented on #266
Can you provide more details on what specifically would be required?

[2014-12-04 20:51] ikke-t commented on #266
I don't know exactly how shutdown prevention happens in code. Perhaps the backend idle time counter is periodicly zeroed or smth. The shutdown feature is somehow explained here: https://www.mythtv.org/wiki/Mythshutdown

I would like MAF to provide me a way to forcefully keep mythbackend turned on. E.g.to have a button with functionality: "keep mythtv turned on"/ "let mythtv automatically shutdown"

[2014-12-04 20:57] tafypz commented on #266
This process is controlled by the mythtv protocol and registering a front
end or process as a front end process. MAF uses the service API which
doesn't provide this facility

On Thu, Dec 4, 2014, 3:51 PM Ilkka Tengvall notifications@github.com
wrote:

[2014-12-04 20:57] ikke-t commented on #266
This is a ticket which describes the mythtv problem: https://code.mythtv.org/trac/ticket/12089

[2014-12-04 21:00] tafypz commented on #266
UPnP works exactly the same way as it does not to use the mythtv protocol.

On Thu, Dec 4, 2014, 3:57 PM Ilkka Tengvall notifications@github.com
wrote:

[2014-12-04 21:00] ikke-t commented on #266
Ah, too bad then...

[2014-12-04 21:42] billmeek commented on #266
mythshutdown --lock increments a variable in the settings table. If you're able to write
a webpage, then you can accomplish the task. But tafypz's correct, the proper way to
do this would be with a new API endpoint, or whatever happens with ticket 12089.

Note that the following is just an example, it has very little error handling and only
increments the counter, a similar version would decrement

[2014-12-05 18:32] billmeek commented on #266
Added PHP version of the above.

[code]

[2014-12-07 19:23] ikke-t commented on #266
Thanks billmeek for the code sample! I confirm it works, I added some lines to <body> beginning to show the current value always:

[code]

Do you think this could be added somewhere into mythweb as a feature?

I suppose the way ahead would be to wait for a day that someone would patch the API to include such entry for shutdownlock. Then it could be added to feature suggestion list of different cli

[2014-12-07 19:35] ikke-t commented on #266
hmmm, I don't know much about java, but I quickly looking at the java API, it has api calls for get/put settings at:

https://github.com/MythTV-Clients/MythTV-Service-API/blob/master/src/main/java/org/mythtv/services/api/v028/MythService.java#L564

But as said, I have no glue if those could be used.

[2014-12-07 20:16] billmeek commented on #266
Hi,
It may be possible to add to mythweb, however, mythweb is likely to
go away. WebFrontend is available in MythTV version 0.28-pre. It is
built in and required no setup (one of the major problems for mythweb
users that aren't familiar with configuring such animals.)

Also, it was interesting to note that the mythweb developer closed ALL
of his open issues in Trac citing WebFrontend as the reason

[2014-12-08 07:19] ikke-t commented on #266
billmeek, I briefly checked your patch, and comment on it here, as I've unfortunately lost my password to trac. There might be locking problem in error case, since the if (error) statements return without releasing the db lock. Perhaps unlock calls prior returning in error cases?

[2014-12-08 16:43] billmeek commented on #266
@ikke-t, thanks, fixed. I'll add the new version when mythtv.org is back on-line.

[2014-12-09 15:52] wronka opened #267 "NPE in onBackendStatusUpdated (BackendStatusFragment.java:496)"
I recently wiped my phone (Nexus 4/mako) and reflashed with CM11/Android 4.4 from November 23rdish.  I think the client was previously working, but I'm not sure if that was with CM11 or 10.2, so I can't tack this down to being a change in data on the Myth server or a change in environment.

V/BackendStatusHelperV25(11464): updateProgramGuide : enter
V/BackendStatusHelperV25(11464): updateProgramGu

[2014-12-09 16:35] wronka commented on #267
I added && ­guide.getGuideThru() != null to the conditional which allowed the intent to finish loading.

[2014-12-12 20:37] chuckpeters opened #268 "Incorrect recording is played, no sound and video cannot be played"
Incorrect recording is played:
My father's Nexus 10 will not allow him to choose the program he wants to watch.  It often plays the wrong recording.  I tried removing the cache and settings a couple times and it didn't help.  I think it is some sort of parsing bug.  I'll send Bill and Daniel the contents of
curl -H "Accept: application/json" -X GET http://192.168.2.3:6544/Dvr/GetRecordedList > cp_

[2014-12-12 20:47] dmfrey commented on #268
Chuck,

We are in the process of some major overhaul on this application.

As of right now, the app has not changed in quite some time, nor has it
ever, or will it ever, require payment.  Can you please elaborate on this?
Are you referring to vplayer?

On Fri Dec 12 2014 at 3:37:41 PM chuckpeters notifications@github.com
wrote:

[2014-12-12 22:15] chuckpeters commented on #268
Sorry for not making it clear, I was referring to vplayer.  The sound seems to be not working on a number of Video Apps on Dad's Nexus 10 and I suspect vplayer may be the cause, uninstalling it didn't help either.

[2014-12-13 00:01] dmfrey commented on #268
Can you try dice player and see if you get the same result?

On Fri, Dec 12, 2014, 5:15 PM chuckpeters notifications@github.com wrote:

[2014-12-21 19:44] jab416171 opened #269 "Incorrect show opens when picking a show from the recordings view"
When I go to the DVR/recordings view in the latest beta, I can see all my shows and episodes, but clicking on most of the episodes doesn't actually do anything. For the episodes that I can click on, it will load up an episode from a completely different show. ﻿

[2015-03-05 09:05] edn1 opened #270 "Unicode not supported"
Most of my recorded programs names and description is in unicode (Hebrew), they are seen correctly on the regular frontend and mythweb. however they are not seen correctly on this app (actually, Hebrew letters are not seen at all)

[2015-03-05 13:55] billmeek commented on #270
Hi,
What is the value of $LANG and $LC_ALL when you start
your backend?

Note that this app is now at End of LIfe and a new app is under
development to replace it (MythTV Player.)